In [6]:
import re

def remove_with_statements(text):
    # Added re.IGNORECASE flag to make the pattern case-insensitive
    pattern = r'with\s+.*?:'
    return re.sub(pattern, '', text, flags=re.IGNORECASE).strip()

In [7]:
# Example usage
text = """Some code here
With open('file.txt') as f:
more code here
WITH context_manager() as cm:
wiTh another_context() as x:
final code"""

result = remove_with_statements(text)
print(result)

Some code here

more code here


final code

In [8]:
# Example usage
text = """
with a as (
    select * from b
)
select * from a
;
"""

result = remove_with_statements(text)
print(result)

with a as (
    select * from b
)
select * from a
;

In [9]:
# Example usage
text = """
with the following CTE, you can build complext query:

with a as (
    select * from b
)
select * from a
;
"""

result = remove_with_statements(text)
print(result)

with a as (
    select * from b
)
select * from a
;

In [10]:
# Example usage
text = """
with the following CTE, you can build complext query:

select * from a
;
"""

result = remove_with_statements(text)
print(result)

select * from a
;

In [4]:
!pwd

/home/gongai/projects/wgong/py4kids/lesson-99-misc

In [12]:
import re

def remove_sql_noise(sql):
    # First remove intermediate_sql and final_sql markers
    if 'intermediate_sql' in sql or 'final_sql' in sql:
        sql = sql.replace('intermediate_sql', '').replace('final_sql', '')
    
    # Remove "with ... :" explanation text at the start
    sql = re.sub(r'with\s+.*?:', '', sql, flags=re.IGNORECASE)
    
    return sql.strip()  # Added strip() to remove any extra whitespace

In [14]:
# Test cases
sql1 = "With the following query, we can get the results:"
print(remove_sql_noise(sql1))  # "SELECT * FROM table"

In [17]:
# Test cases
sql1 = """
With the following query, we can get the results:

select * from a;
"""
print(remove_sql_noise(sql1))  # "SELECT * FROM table"

select * from a;

In [18]:
# Test cases
sql1 = """
With the following query, we can get the results:

with a as (
    select * from b
)
select * from a;
"""
print(remove_sql_noise(sql1))  # "SELECT * FROM table"

with a as (
    select * from b
)
select * from a;

In [15]:
sql2 = "intermediate_sql SELECT * FROM table"
print(remove_sql_noise(sql2))  # "SELECT * FROM table"

SELECT * FROM table

In [16]:
sql3 = "WITH this explanation: SELECT * FROM table final_sql"
print(remove_sql_noise(sql3))  # "SELECT * FROM table"

SELECT * FROM table