In [1]:
import finplot as fplt
import yfinance
df = yfinance.download('AAPL')

[*********************100%***********************]  1 of 1 completed

In [3]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [7]:
df.index.dtype

dtype('<M8[ns]')

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.101087,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095813,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088780,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090978,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093615,73449600
...,...,...,...,...,...,...
2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800
2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500
2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600
2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800
2020-12-23,132.160004,132.429993,130.779999,130.960007,130.960007,88051200

In [2]:
fplt.candlestick_ochl(df[['Open', 'Close', 'High', 'Low']])
fplt.show()

In [8]:
import numpy as np

In [9]:
np.dtype('datetime64[ns]') == np.dtype('<M8[ns]')

True