In [1]:
import finplot as fplt
import pandas as pd

In [2]:
symbol = "AAPL"
df = pd.read_csv(f"{symbol}.csv")

In [3]:
df = df.rename(columns={'Date':'time', 'Open':'open', 'Close':'close', 'High':'high', 
                        'Low':'low', 'Volume':'volume', 'Adj Close':'adj_close'})

In [4]:
df = df.astype({'time':'datetime64[ns]'})

In [5]:
df['ma15']  = df['close'].rolling(15).mean()
df['ma50']  = df['close'].rolling(50).mean()
df['ma200'] = df['close'].rolling(200).mean()

In [6]:
factor1 = 2.0
factor2 = 0.5
df['macd1'] = df['ma15'] - df['ma50']
df['macd1_avg'] = df['macd1'].rolling(10).mean()
df['macd1_dif'] = factor1*(df['macd1'] - df['macd1_avg'])
df['macd2'] = factor2*(df['ma50'] - df['ma200'])

In [7]:
df.tail()

,time,open,high,low,close,adj_close,volume,ma15,ma50,ma200,macd1,macd1_avg,macd1_dif,macd2
1500,2020-12-16,127.410004,128.369995,126.559998,127.809998,127.809998,98208600,122.379333,118.4432,97.338137,3.936133,2.574473,6.808300,4.221013
1501,2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800,123.224000,118.7156,97.615487,4.508400,2.811400,8.485000,4.220023
1502,2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500,123.895333,118.9494,97.887500,4.945933,3.099873,9.230302,4.212380
1503,2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600,124.507333,119.1746,98.195937,5.332733,3.420033,9.563501,4.195733
1504,2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800,125.118000,119.3242,98.498662,5.793800,3.777940,10.079301,4.165108

In [8]:
import datetime
# df2 = df[df['time'] > datetime.datetime(2018,12,1)]
df2 = df[-400:]

In [9]:
df2.tail()

,time,open,high,low,close,adj_close,volume,ma15,ma50,ma200,macd1,macd1_avg,macd1_dif,macd2
1500,2020-12-16,127.410004,128.369995,126.559998,127.809998,127.809998,98208600,122.379333,118.4432,97.338137,3.936133,2.574473,6.808300,4.221013
1501,2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800,123.224000,118.7156,97.615487,4.508400,2.811400,8.485000,4.220023
1502,2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500,123.895333,118.9494,97.887500,4.945933,3.099873,9.230302,4.212380
1503,2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600,124.507333,119.1746,98.195937,5.332733,3.420033,9.563501,4.195733
1504,2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800,125.118000,119.3242,98.498662,5.793800,3.777940,10.079301,4.165108

In [10]:
df2.to_csv(f"{symbol}-ta.csv", index=False)

In [11]:
df = pd.read_csv(f"{symbol}-ta.csv")

In [12]:
df = df.astype({'time':'datetime64[ns]'})

In [13]:
# create two axes
ax,ax2 = fplt.create_plot(symbol, rows=2)

In [14]:
# plot candle sticks
candles = df[['time','open','close','high','low']]
fplt.candlestick_ochl(candles, ax=ax)

# put 3 MA on the close price
fplt.plot(df['time'], df['ma15'], ax=ax, legend='ma15')
fplt.plot(df['time'], df['ma50'], ax=ax, legend='ma50')
fplt.plot(df['time'], df['ma200'], ax=ax, legend='ma200')

# overlay volume on the top plot
volumes = df[['time','open','close','volume']]
fplt.volume_ocv(volumes, ax=ax.overlay())

# draw indicators on our second plot
fplt.plot(df['time'], df['macd1_dif'], ax=ax2, color='#208349', legend='macd1_dif')
fplt.plot(df['time'], df['macd1'], ax=ax2, color='#FF5E33', legend='macd1')
fplt.plot(df['time'], df['macd1_avg'], ax=ax2, color='#336FFF', legend='macd1_avg')
fplt.plot(df['time'], df['macd2'], ax=ax2, color='#DE58D5', legend='macd2')
# fplt.set_y_range(-1.4, +3.7, ax=ax2) # hard-code y-axis range limitation

df['macd1'] = df['ma15'] - df['ma50']
df['macd2'] = df['ma50'] - df['ma200']
df['macd1_avg'] = df['macd1'].rolling(10).mean()
df['macd1_dif'] = df['macd1'] - df['macd1_avg']

In [15]:
# restore view (X-position and zoom) if we ever run this example again
fplt.autoviewrestore()

In [16]:
# we're done
fplt.show()

In [23]:
fplt.screenshot?

In [24]:
import datetime

In [27]:
png_file = f"{symbol}_{datetime.datetime.now().strftime('%Y-%m-%d')}.png"

In [28]:
png_file

'AAPL_2020-12-24.png'

In [30]:
df.shape[0]

268

In [31]:
df.empty

False

In [33]:
df

,time,open,high,low,close,adj_close,volume,ma15,ma50,ma200,macd1,macd1_avg,macd1_dif,macd2
0,2019-12-02,66.817497,67.062500,65.862503,66.040001,65.474564,94487200,66.121834,61.23135,52.276088,4.890484,5.253604,-1.815600,1.791053
1,2019-12-03,64.577499,64.882500,64.072502,64.862503,64.307152,114430400,66.076001,61.43500,52.386738,4.641001,5.196844,-2.779217,1.809653
2,2019-12-04,65.267502,65.827499,65.169998,65.434998,64.874741,67181600,66.072334,61.65530,52.498875,4.417034,5.104149,-3.435575,1.831285
3,2019-12-05,65.947502,66.472504,65.682503,66.394997,65.826523,74424400,66.090834,61.87805,52.617025,4.212784,4.977612,-3.824143,1.852205
4,2019-12-06,66.870003,67.750000,66.824997,67.677498,67.098030,106075600,66.225334,62.13215,52.739200,4.093183,4.836492,-3.716544,1.878590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,2020-12-16,127.410004,128.369995,126.559998,127.809998,127.809998,98208600,122.379333,118.44320,97.338137,3.936133,2.574473,6.808300,4.221013
264,2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800,123.224000,118.71560,97.615487,4.508400,2.811400,8.485000,4.220023
265,2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500,123.895333,118.94940,97.887500,4.945933,3.099873,9.230302,4.212380
266,2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600,124.507333,119.17460,98.195937,5.332733,3.420033,9.563501,4.195733
267,2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800,125.118000,119.32420,98.498662,5.793800,3.777940,10.079301,4.165108

In [43]:
str(df.tail(1)['time'].values[0]).split("T")[0]

'2020-12-22'