[connect to Sqlite on windows](https://github.com/sfu-db/connector-x/discussions/244)

In [1]:
import connectorx as cx
import urllib

In [2]:
path = urllib.parse.quote(r"C:\Users\p2p2l\projects\wgong\watchetf-dev-2022-10-30\stooq\db_gwg.sqlite")
url = f"sqlite://{path}"
print(url)

sqlite://C%3A%5CUsers%5Cp2p2l%5Cprojects%5Cwgong%5Cwatchetf-dev-2022-10-30%5Cstooq%5Cdb_gwg.sqlite

In [6]:
query = f"""
select * from list;
"""

df = cx.read_sql(url, query)
df.head()

,list,note,is_inactive,etf_ticker,count,sort_val
0,SP500,3-S&P,0,SPY,501.0,2
1,NASDAQ100,2-Nasdaq,0,QQQ,101.0,1
2,RUSSELL2000,4-Russell,0,IWM,2049.0,3
3,DOW30,1-Dow,0,DIA,32.0,4
4,sector-XLC_communication-services,Communication,0,XLC,270.0,43

In [7]:
query = f"""
select count(*) from list;
"""

df = cx.read_sql(url, query)
df.head()

   count(*)
0        22

In [8]:
type(df)

pandas.core.frame.DataFrame