In [1]:
from pandas_vs_polars import *

In [2]:
dataset = "uber-ride"
datafile = "../data/uber-ride/train.csv"
lib = "polars" # "pandas"
df = read_data(lib, datafile, dataset)
df

shape: (1458644, 11)
┌───────────┬───────────┬─────────────────────┬─────────────────────┬─────┬───────────────────┬──────────────────┬────────────────────┬───────────────┐
│ id        ┆ vendor_id ┆ pickup_datetime     ┆ dropoff_datetime    ┆ ... ┆ dropoff_longitude ┆ dropoff_latitude ┆ store_and_fwd_flag ┆ trip_duration │
│ ---       ┆ ---       ┆ ---                 ┆ ---                 ┆     ┆ ---               ┆ ---              ┆ ---                ┆ ---           │
│ str       ┆ i64       ┆ str                 ┆ str                 ┆     ┆ f64               ┆ f64              ┆ str                ┆ i64           │
╞═══════════╪═══════════╪═════════════════════╪═════════════════════╪═════╪═══════════════════╪══════════════════╪════════════════════╪═══════════════╡
│ id2875421 ┆ 2         ┆ 2016-03-14 17:24:55 ┆ 2016-03-14 17:32:30 ┆ ... ┆ -73.96463         ┆ 40.765602        ┆ N                  ┆ 455           │
│ id2377394 ┆ 1         ┆ 2016-06-12 00:43:35 ┆ 2016-06-12 00:54:38 ┆ ... ┆ -73.999481        ┆ 40.731152        ┆ N                  ┆ 663           │
│ id3858529 ┆ 2         ┆ 2016-01-19 11:35:24 ┆ 2016-01-19 12:10:48 ┆ ... ┆ -74.005333        ┆ 40.710087        ┆ N                  ┆ 2124          │
│ id3504673 ┆ 2         ┆ 2016-04-06 19:32:31 ┆ 2016-04-06 19:39:40 ┆ ... ┆ -74.012268        ┆ 40.706718        ┆ N                  ┆ 429           │
│ ...       ┆ ...       ┆ ...                 ┆ ...                 ┆ ... ┆ ...               ┆ ...              ┆ ...                ┆ ...           │
│ id1049543 ┆ 1         ┆ 2016-01-10 07:35:15 ┆ 2016-01-10 07:46:10 ┆ ... ┆ -73.970184        ┆ 40.796547        ┆ N                  ┆ 655           │
│ id2304944 ┆ 2         ┆ 2016-04-22 06:57:41 ┆ 2016-04-22 07:10:25 ┆ ... ┆ -74.004433        ┆ 40.707371        ┆ N                  ┆ 764           │
│ id2714485 ┆ 1         ┆ 2016-01-05 15:56:26 ┆ 2016-01-05 16:02:39 ┆ ... ┆ -73.974632        ┆ 40.757107        ┆ N                  ┆ 373           │
│ id1209952 ┆ 1         ┆ 2016-04-05 14:44:25 ┆ 2016-04-05 14:47:43 ┆ ... ┆ -73.972809        ┆ 40.790585        ┆ N                  ┆ 198           │
└───────────┴───────────┴─────────────────────┴─────────────────────┴─────┴───────────────────┴──────────────────┴────────────────────┴───────────────┘

dataset = "uber-ride"
datafile = "../data/uber-ride/polars/train.parquet"
lib = "polars" # "pandas"
df = read_data(lib, datafile, dataset)
df

In [2]:
main()

## use_case_001: read_csv and df.shape
[ pandas ]
(1458644, 11)
[ polars ]
(1458644, 11)

## use_case_001a: read_parquet and df.shape
[ pandas ]
(1458644, 11)
[ polars ]
(1458644, 11)

## use_case_002: write out parquet
[ pandas ]
[ERROR] write_out_parquet(pandas)
 [WinError 5] Failed to open local file '../data/uber-ride/pandas'. Detail: [Windows error 5] Access is denied.

[ polars ]

## use_case_003: read_csv and df['id'].str.len()
[ pandas ]
          id  vendor_id      pickup_datetime     dropoff_datetime  \
0  id2875421          2  2016-03-14 17:24:55  2016-03-14 17:32:30
1  id2377394          1  2016-06-12 00:43:35  2016-06-12 00:54:38
2  id3858529          2  2016-01-19 11:35:24  2016-01-19 12:10:48
3  id3504673          2  2016-04-06 19:32:31  2016-04-06 19:39:40
4  id2181028          2  2016-03-26 13:30:55  2016-03-26 13:38:10

   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.982155        40.767937         -73.964630
1                1        -73.980415        40.738564         -73.999481
2                1        -73.979027        40.763939         -74.005333
3                1        -74.010040        40.719971         -74.012268
4                1        -73.973053        40.793209         -73.972923

   dropoff_latitude store_and_fwd_flag  trip_duration  vendor_id_length
0         40.765602                  N            455                 9
1         40.731152                  N            663                 9
2         40.710087                  N           2124                 9
3         40.706718                  N            429                 9
4         40.782520                  N            435                 9
[ polars ]
shape: (5, 12)
┌───────────┬───────────┬─────────────────────┬─────────────────────┬─────┬──────────────────┬────────────────────┬───────────────┬──────────────────┐
│ id        ┆ vendor_id ┆ pickup_datetime     ┆ dropoff_datetime    ┆ ... ┆ dropoff_latitude ┆ store_and_fwd_flag ┆ trip_duration ┆ vendor_id_length │
│ ---       ┆ ---       ┆ ---                 ┆ ---                 ┆     ┆ ---              ┆ ---                ┆ ---           ┆ ---              │
│ str       ┆ i64       ┆ str                 ┆ str                 ┆     ┆ f64              ┆ str                ┆ i64           ┆ u32              │
╞═══════════╪═══════════╪═════════════════════╪═════════════════════╪═════╪══════════════════╪════════════════════╪═══════════════╪══════════════════╡
│ id2875421 ┆ 2         ┆ 2016-03-14 17:24:55 ┆ 2016-03-14 17:32:30 ┆ ... ┆ 40.765602        ┆ N                  ┆ 455           ┆ 9                │
│ id2377394 ┆ 1         ┆ 2016-06-12 00:43:35 ┆ 2016-06-12 00:54:38 ┆ ... ┆ 40.731152        ┆ N                  ┆ 663           ┆ 9                │
│ id3858529 ┆ 2         ┆ 2016-01-19 11:35:24 ┆ 2016-01-19 12:10:48 ┆ ... ┆ 40.710087        ┆ N                  ┆ 2124          ┆ 9                │
│ id3504673 ┆ 2         ┆ 2016-04-06 19:32:31 ┆ 2016-04-06 19:39:40 ┆ ... ┆ 40.706718        ┆ N                  ┆ 429           ┆ 9                │
│ id2181028 ┆ 2         ┆ 2016-03-26 13:30:55 ┆ 2016-03-26 13:38:10 ┆ ... ┆ 40.78252         ┆ N                  ┆ 435           ┆ 9                │
└───────────┴───────────┴─────────────────────┴─────────────────────┴─────┴──────────────────┴────────────────────┴───────────────┴──────────────────┘

## use_case_004: read_csv and divide trip_duration by 60
[ pandas ]
          id  vendor_id      pickup_datetime     dropoff_datetime  \
0  id2875421          2  2016-03-14 17:24:55  2016-03-14 17:32:30
1  id2377394          1  2016-06-12 00:43:35  2016-06-12 00:54:38
2  id3858529          2  2016-01-19 11:35:24  2016-01-19 12:10:48
3  id3504673          2  2016-04-06 19:32:31  2016-04-06 19:39:40
4  id2181028          2  2016-03-26 13:30:55  2016-03-26 13:38:10

   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.982155        40.767937         -73.964630
1                1        -73.980415        40.738564         -73.999481
2                1        -73.979027        40.763939         -74.005333
3                1        -74.010040        40.719971         -74.012268
4                1        -73.973053        40.793209         -73.972923

   dropoff_latitude store_and_fwd_flag  trip_duration  trip_duration_minutes
0         40.765602                  N            455               7.583333
1         40.731152                  N            663              11.050000
2         40.710087                  N           2124              35.400000
3         40.706718                  N            429               7.150000
4         40.782520                  N            435               7.250000
[ polars ]
shape: (5, 12)
┌───────────┬───────────┬─────────────────────┬─────────────────────┬─────┬──────────────────┬────────────────────┬───────────────┬───────────────────────┐
│ id        ┆ vendor_id ┆ pickup_datetime     ┆ dropoff_datetime    ┆ ... ┆ dropoff_latitude ┆ store_and_fwd_flag ┆ trip_duration ┆ trip_duration_minutes │
│ ---       ┆ ---       ┆ ---                 ┆ ---                 ┆     ┆ ---              ┆ ---                ┆ ---           ┆ ---                   │
│ str       ┆ i64       ┆ str                 ┆ str                 ┆     ┆ f64              ┆ str                ┆ i64           ┆ f64                   │
╞═══════════╪═══════════╪═════════════════════╪═════════════════════╪═════╪══════════════════╪════════════════════╪═══════════════╪═══════════════════════╡
│ id2875421 ┆ 2         ┆ 2016-03-14 17:24:55 ┆ 2016-03-14 17:32:30 ┆ ... ┆ 40.765602        ┆ N                  ┆ 455           ┆ 7.583333              │
│ id2377394 ┆ 1         ┆ 2016-06-12 00:43:35 ┆ 2016-06-12 00:54:38 ┆ ... ┆ 40.731152        ┆ N                  ┆ 663           ┆ 11.05                 │
│ id3858529 ┆ 2         ┆ 2016-01-19 11:35:24 ┆ 2016-01-19 12:10:48 ┆ ... ┆ 40.710087        ┆ N                  ┆ 2124          ┆ 35.4                  │
│ id3504673 ┆ 2         ┆ 2016-04-06 19:32:31 ┆ 2016-04-06 19:39:40 ┆ ... ┆ 40.706718        ┆ N                  ┆ 429           ┆ 7.15                  │
│ id2181028 ┆ 2         ┆ 2016-03-26 13:30:55 ┆ 2016-03-26 13:38:10 ┆ ... ┆ 40.78252         ┆ N                  ┆ 435           ┆ 7.25                  │
└───────────┴───────────┴─────────────────────┴─────────────────────┴─────┴──────────────────┴────────────────────┴───────────────┴───────────────────────┘

## use_case_004b: read_parquet and divide trip_duration by 60
[ pandas ]
          id  vendor_id      pickup_datetime     dropoff_datetime  \
0  id2875421          2  2016-03-14 17:24:55  2016-03-14 17:32:30
1  id2377394          1  2016-06-12 00:43:35  2016-06-12 00:54:38
2  id3858529          2  2016-01-19 11:35:24  2016-01-19 12:10:48
3  id3504673          2  2016-04-06 19:32:31  2016-04-06 19:39:40
4  id2181028          2  2016-03-26 13:30:55  2016-03-26 13:38:10

   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.982155        40.767937         -73.964630
1                1        -73.980415        40.738564         -73.999481
2                1        -73.979027        40.763939         -74.005333
3                1        -74.010040        40.719971         -74.012268
4                1        -73.973053        40.793209         -73.972923

   dropoff_latitude store_and_fwd_flag  trip_duration  trip_duration_minutes
0         40.765602                  N            455               7.583333
1         40.731152                  N            663              11.050000
2         40.710087                  N           2124              35.400000
3         40.706718                  N            429               7.150000
4         40.782520                  N            435               7.250000
[ polars ]
shape: (5, 12)
┌───────────┬───────────┬─────────────────────┬─────────────────────┬─────┬──────────────────┬────────────────────┬───────────────┬───────────────────────┐
│ id        ┆ vendor_id ┆ pickup_datetime     ┆ dropoff_datetime    ┆ ... ┆ dropoff_latitude ┆ store_and_fwd_flag ┆ trip_duration ┆ trip_duration_minutes │
│ ---       ┆ ---       ┆ ---                 ┆ ---                 ┆     ┆ ---              ┆ ---                ┆ ---           ┆ ---                   │
│ str       ┆ i64       ┆ str                 ┆ str                 ┆     ┆ f64              ┆ str                ┆ i64           ┆ f64                   │
╞═══════════╪═══════════╪═════════════════════╪═════════════════════╪═════╪══════════════════╪════════════════════╪═══════════════╪═══════════════════════╡
│ id2875421 ┆ 2         ┆ 2016-03-14 17:24:55 ┆ 2016-03-14 17:32:30 ┆ ... ┆ 40.765602        ┆ N                  ┆ 455           ┆ 7.583333              │
│ id2377394 ┆ 1         ┆ 2016-06-12 00:43:35 ┆ 2016-06-12 00:54:38 ┆ ... ┆ 40.731152        ┆ N                  ┆ 663           ┆ 11.05                 │
│ id3858529 ┆ 2         ┆ 2016-01-19 11:35:24 ┆ 2016-01-19 12:10:48 ┆ ... ┆ 40.710087        ┆ N                  ┆ 2124          ┆ 35.4                  │
│ id3504673 ┆ 2         ┆ 2016-04-06 19:32:31 ┆ 2016-04-06 19:39:40 ┆ ... ┆ 40.706718        ┆ N                  ┆ 429           ┆ 7.15                  │
│ id2181028 ┆ 2         ┆ 2016-03-26 13:30:55 ┆ 2016-03-26 13:38:10 ┆ ... ┆ 40.78252         ┆ N                  ┆ 435           ┆ 7.25                  │
└───────────┴───────────┴─────────────────────┴─────────────────────┴─────┴──────────────────┴────────────────────┴───────────────┴───────────────────────┘

## use_case_005: read_csv and filter trip_duration >= 500 sec
[ pandas ]

(943032, 11)
           id  vendor_id      pickup_datetime     dropoff_datetime  \
1   id2377394          1  2016-06-12 00:43:35  2016-06-12 00:54:38
2   id3858529          2  2016-01-19 11:35:24  2016-01-19 12:10:48
7   id1324603          2  2016-05-21 07:54:58  2016-05-21 08:20:49
9   id0012891          2  2016-03-10 21:45:01  2016-03-10 22:05:26
10  id1436371          2  2016-05-10 22:08:41  2016-05-10 22:29:55

    passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
1                 1        -73.980415        40.738564         -73.999481
2                 1        -73.979027        40.763939         -74.005333
7                 1        -73.969276        40.797779         -73.922470
9                 1        -73.981049        40.744339         -73.973000
10                1        -73.982651        40.763840         -74.002228

    dropoff_latitude store_and_fwd_flag  trip_duration
1          40.731152                  N            663
2          40.710087                  N           2124
7          40.760559                  N           1551
9          40.789989                  N           1225
10         40.732990                  N           1274
[ polars ]
(943032, 11)
shape: (5, 11)
┌───────────┬───────────┬─────────────────────┬─────────────────────┬─────┬───────────────────┬──────────────────┬────────────────────┬───────────────┐
│ id        ┆ vendor_id ┆ pickup_datetime     ┆ dropoff_datetime    ┆ ... ┆ dropoff_longitude ┆ dropoff_latitude ┆ store_and_fwd_flag ┆ trip_duration │
│ ---       ┆ ---       ┆ ---                 ┆ ---                 ┆     ┆ ---               ┆ ---              ┆ ---                ┆ ---           │
│ str       ┆ i64       ┆ str                 ┆ str                 ┆     ┆ f64               ┆ f64              ┆ str                ┆ i64           │
╞═══════════╪═══════════╪═════════════════════╪═════════════════════╪═════╪═══════════════════╪══════════════════╪════════════════════╪═══════════════╡
│ id2377394 ┆ 1         ┆ 2016-06-12 00:43:35 ┆ 2016-06-12 00:54:38 ┆ ... ┆ -73.999481        ┆ 40.731152        ┆ N                  ┆ 663           │
│ id3858529 ┆ 2         ┆ 2016-01-19 11:35:24 ┆ 2016-01-19 12:10:48 ┆ ... ┆ -74.005333        ┆ 40.710087        ┆ N                  ┆ 2124          │
│ id1324603 ┆ 2         ┆ 2016-05-21 07:54:58 ┆ 2016-05-21 08:20:49 ┆ ... ┆ -73.92247         ┆ 40.760559        ┆ N                  ┆ 1551          │
│ id0012891 ┆ 2         ┆ 2016-03-10 21:45:01 ┆ 2016-03-10 22:05:26 ┆ ... ┆ -73.973           ┆ 40.789989        ┆ N                  ┆ 1225          │
│ id1436371 ┆ 2         ┆ 2016-05-10 22:08:41 ┆ 2016-05-10 22:29:55 ┆ ... ┆ -74.002228        ┆ 40.73299         ┆ N                  ┆ 1274          │
└───────────┴───────────┴─────────────────────┴─────────────────────┴─────┴───────────────────┴──────────────────┴────────────────────┴───────────────┘

## use_case_006: read_csv and group by and mean
[ pandas ]

C:\Users\p2p2l\projects\wgong\py4kids\lesson-17-polars\polars-cookbook\cookbook\pandas_vs_polars.py:199: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mean["avg_trip_duration"] = df_mean.groupby(["vendor_id"])["trip_duration"].mean()

(2, 2)
   vendor_id  avg_trip_duration
1          1         842.613838
2          2        1058.643164
[ polars ]
[ERROR] filter_group_and_mean(polars)
 Expected an expression, got shape: (2, 2)
┌───────────┬───────────────────┐
│ vendor_id ┆ avg_trip_duration │
│ ---       ┆ ---               │
│ i64       ┆ f64               │
╞═══════════╪═══════════════════╡
│ 2         ┆ 1058.643164       │
│ 1         ┆ 842.613838        │
└───────────┴───────────────────┘
    pandas      |     polars      |                           use-case                           |                 datafile                 |     dataset
=============== | =============== | ============================================================ | ======================================== | ===============
   3.221821 sec |    0.276765 sec | use_case_001: read_csv and df.shape                          | ../data/uber-ride/train.csv              | uber-ride
   1.555212 sec |    0.124460 sec | use_case_001a: read_parquet and df.shape                     | ../data/uber-ride/polars/train.parquet   | uber-ride
   3.569087 sec |    0.978537 sec | use_case_002: write out parquet                              | ../data/uber-ride/train.csv              | uber-ride
   3.549111 sec |    0.175369 sec | use_case_003: read_csv and df['id'].str.len()                | ../data/uber-ride/train.csv              | uber-ride
   3.464035 sec |    0.165364 sec | use_case_004: read_csv and divide trip_duration by 60        | ../data/uber-ride/train.csv              | uber-ride
   1.826534 sec |    0.134261 sec | use_case_004b: read_parquet and divide trip_duration by 60   | ../data/uber-ride/polars/train.parquet   | uber-ride
   3.388635 sec |    0.202050 sec | use_case_005: read_csv and filter trip_duration >= 500 sec   | ../data/uber-ride/train.csv              | uber-ride
   3.562653 sec |    0.238915 sec | use_case_006: read_csv and group by and mean                 | ../data/uber-ride/train.csv              | uber-ride