# TDengine Python Client Library

- https://docs.tdengine.com/cloud/programming/client-libraries/python/

In [2]:
from dotenv import load_dotenv

load_dotenv()  # take environment variables from .env.

True

 [一条SQL，带你进入AI时代](https://mp.weixin.qq.com/s?__biz=MzIzNzg5MTcxNA==&mid=2247485195&idx=1&sn=58e0ad69b0e81462679b67568f8a4dd0&chksm=e9a3165aba10a3d786b7ef0608f9d15edcbc49db73067bcf039fde2ac91312e10eaeb24b39f3&mpshare=1&srcid=0801Q5hoXvcDgW8onnQcV8uw&sharer_shareinfo=09d603f86dea4467fcb60f79988765bb&sharer_shareinfo_first=9453b7bc95c51669decc72997a0c8f7f&from=singlemessage&scene=1&subscene=10000&clicktime=1727575085&enterid=1727575085&sessionid=0&ascene=1&fasttmpl_type=0&fasttmpl_fullversion=7402152-en_US-zip&fasttmpl_flag=0&realreporttime=1727575085484#rd) 

 Two new SQL functions

 - select _rowts, forecast(ts, val, 300) from demo.d100;
 - select _rowts, anomaly(ts, val, 99) as anomaly from demo.d100;

### Check server version

In [3]:
import taosrest
import os

url = os.environ["TDENGINE_CLOUD_URL"]
token = os.environ["TDENGINE_CLOUD_TOKEN"]

conn = taosrest.connect(url=url, token=token)
# test the connection by getting version info
print("server version:", conn.server_info)

server version: 3.3.2.11.202409060825

### Simple Query

In [5]:
import os
from taosrest import RestClient

url = os.environ["TDENGINE_CLOUD_URL"]
token = os.environ["TDENGINE_CLOUD_TOKEN"]

In [6]:
sql_stmt = """
select * from test.meters limit 10;
"""

In [7]:
client = RestClient(url, token)
res: dict = client.sql(sql_stmt)
print(res)

# output:
# {'status': 'succ', 'head': ['ts', 'current'], 'column_meta': [['ts', 9, 8], ['current', 6, 4]], 'data': [[datetime.datetime(2018, 10, 3, 14, 38, 5, tzinfo=datetime.timezone(datetime.timedelta(seconds=28800), '+08:00')), 10.3]], 'rows': 1}

{'code': 0, 'column_meta': [['ts', 'TIMESTAMP', 8], ['current', 'FLOAT', 4], ['voltage', 'INT', 4], ['phase', 'FLOAT', 4], ['groupid', 'INT', 4], ['location', 'VARCHAR', 24]], 'data': [[datetime.datetime(2017, 7, 13, 22, 40), 6.735898, 253, 145.5, 7, 'California.SanFrancisco'], [datetime.datetime(2017, 7, 13, 22, 40, 1), 6.674768, 243, 146.5, 7, 'California.SanFrancisco'], [datetime.datetime(2017, 7, 13, 22, 40, 2), 6.441229, 241, 146, 7, 'California.SanFrancisco'], [datetime.datetime(2017, 7, 13, 22, 40, 3), 6.436296, 237, 146.5, 7, 'California.SanFrancisco'], [datetime.datetime(2017, 7, 13, 22, 40, 4), 6.460769, 255, 148, 7, 'California.SanFrancisco'], [datetime.datetime(2017, 7, 13, 22, 40, 5), 6.315221, 243, 147.5, 7, 'California.SanFrancisco'], [datetime.datetime(2017, 7, 13, 22, 40, 6), 6.2, 241, 148, 7, 'California.SanFrancisco'], [datetime.datetime(2017, 7, 13, 22, 40, 7), 6.115221, 240, 148, 7, 'California.SanFrancisco'], [datetime.datetime(2017, 7, 13, 22, 40, 8), 6.360769, 251, 145.5, 7, 'California.SanFrancisco'], [datetime.datetime(2017, 7, 13, 22, 40, 9), 6.336297, 235, 146.5, 7, 'California.SanFrancisco']], 'rows': 10}

In [8]:
res.keys()

dict_keys(['code', 'column_meta', 'data', 'rows'])

In [9]:
res['data']

[[datetime.datetime(2017, 7, 13, 22, 40),
  6.735898,
  253,
  145.5,
  7,
  'California.SanFrancisco'],
 [datetime.datetime(2017, 7, 13, 22, 40, 1),
  6.674768,
  243,
  146.5,
  7,
  'California.SanFrancisco'],
 [datetime.datetime(2017, 7, 13, 22, 40, 2),
  6.441229,
  241,
  146,
  7,
  'California.SanFrancisco'],
 [datetime.datetime(2017, 7, 13, 22, 40, 3),
  6.436296,
  237,
  146.5,
  7,
  'California.SanFrancisco'],
 [datetime.datetime(2017, 7, 13, 22, 40, 4),
  6.460769,
  255,
  148,
  7,
  'California.SanFrancisco'],
 [datetime.datetime(2017, 7, 13, 22, 40, 5),
  6.315221,
  243,
  147.5,
  7,
  'California.SanFrancisco'],
 [datetime.datetime(2017, 7, 13, 22, 40, 6),
  6.2,
  241,
  148,
  7,
  'California.SanFrancisco'],
 [datetime.datetime(2017, 7, 13, 22, 40, 7),
  6.115221,
  240,
  148,
  7,
  'California.SanFrancisco'],
 [datetime.datetime(2017, 7, 13, 22, 40, 8),
  6.360769,
  251,
  145.5,
  7,
  'California.SanFrancisco'],
 [datetime.datetime(2017, 7, 13, 22, 40, 9),
  6.336297,
  235,
  146.5,
  7,
  'California.SanFrancisco']]

### TaosRestConnection

In [10]:
affected_row = conn.execute("DROP DATABASE IF EXISTS power")
print("affected_row", affected_row)  # 0

affected_row 0

In [12]:
affected_row = conn.execute("CREATE DATABASE power")
print("affected_row", affected_row)  # 0

ConnectError: [0x0303]: Insufficient privilege for operation

In [13]:
db_name = "test"
table_name = "iot_sensor"
sql_stmt = f""" 
CREATE STABLE {db_name}.{table_name} (
    ts TIMESTAMP, 
    current FLOAT, 
    voltage INT, 
    phase FLOAT
) 
TAGS (
    location BINARY(64), 
    groupId INT
)
;
"""

In [14]:
conn.execute(sql_stmt)
print("affected_row", affected_row)  # 0

affected_row 0

In [16]:
sql_stmt = f"""
INSERT INTO 
{db_name}.d1001 
USING {db_name}.{table_name} 
TAGS('California.SanFrancisco', 2) 
VALUES 
('2018-10-03 14:38:05.000', 10.30000, 219, 0.31000) 
('2018-10-03 14:38:15.000', 12.60000, 218, 0.33000) 
('2018-10-03 14:38:16.800', 12.30000, 221, 0.31000)
{db_name}.d1002 
USING {db_name}.{table_name} 
TAGS('California.SanFrancisco', 3) 
VALUES 
('2018-10-03 14:38:16.650', 10.30000, 218, 0.25000)
{db_name}.d1003 
USING {db_name}.{table_name} 
TAGS('California.LA', 2) 
VALUES 
('2018-10-03 14:38:05.500', 11.80000, 221, 0.28000) 
('2018-10-03 14:38:16.600', 13.40000, 223, 0.29000)
{db_name}.d1004 
USING {db_name}.{table_name} 
TAGS('California.LA', 3) 
VALUES 
('2018-10-03 14:38:05.000', 10.80000, 223, 0.29000) 
('2018-10-03 14:38:06.500', 11.50000, 221, 0.35000)
;
"""

affected_row = conn.execute(sql_stmt)
print("affected_row", affected_row)  # 8

affected_row 8

In [18]:
sql_stmt = f"SELECT ts, current FROM {db_name}.{table_name}  LIMIT 2"

result = conn.query(sql_stmt)

print("metadata of each column:\n", result.fields)  # [{'name': 'ts', 'type': 9, 'bytes': 8}, {'name': 'current', 'type': 6, 'bytes': 4}]

metadata of each column:
 [{'name': 'ts', 'type': 'TIMESTAMP', 'bytes': 8}, {'name': 'current', 'type': 'FLOAT', 'bytes': 4}]

In [19]:
print("total rows:", result.rows)  # 2

total rows: 2

In [20]:
# Iterate over result.
for row in result:
    print(row)
# output:
# [datetime.datetime(2018, 10, 3, 14, 38, 5, tzinfo=datetime.timezone.utc), 10.3]
# [datetime.datetime(2018, 10, 3, 14, 38, 15, tzinfo=datetime.timezone.utc), 12.6]

[datetime.datetime(2018, 10, 3, 10, 38, 5), 10.3]
[datetime.datetime(2018, 10, 3, 10, 38, 15), 12.6]

In [21]:
# Or get all rows as a list
print(result.data)  # [[datetime.datetime(2018, 10, 3, 14, 38, 5, tzinfo=datetime.timezone.utc), 10.3], [datetime.datetime(2018, 10, 3, 14, 38, 15, tzinfo=datetime.timezone.utc), 12.6]]

[[datetime.datetime(2018, 10, 3, 10, 38, 5), 10.3], [datetime.datetime(2018, 10, 3, 10, 38, 15), 12.6]]