In [1]:
import sys

In [2]:
sys.path

['/home/wengong/projects/py4kids/lesson-14-db/presto',
 '/home/wengong/anaconda3/envs/py39/lib/python39.zip',
 '/home/wengong/anaconda3/envs/py39/lib/python3.9',
 '/home/wengong/anaconda3/envs/py39/lib/python3.9/lib-dynload',
 '',
 '/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages',
 '/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/IPython/extensions',
 '/home/wengong/.ipython']

In [3]:
# presto-test.py
# simple python script to run a query on a presto cluster and display the result set 
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *
engine = create_engine("presto://localhost:8080/ahana_hive", connect_args={'protocol': 'http'})
 
with engine.connect() as con:
    rs = con.execute('SELECT now()')
    for row in rs:
        print(row)

('2021-10-21 02:09:58.311 UTC',)

In [4]:
catalog,schema,table = "tpcds.tiny.customer".split(".")

In [5]:
catalog,schema,table

('tpcds', 'tiny', 'customer')

In [7]:
sql = f"""
describe {catalog}.{schema}.{table}
"""

with engine.connect() as con:
    rs = con.execute(sql)
    for row in rs:
        print(row)

('c_customer_sk', 'bigint', '', '')
('c_customer_id', 'char(16)', '', '')
('c_current_cdemo_sk', 'bigint', '', '')
('c_current_hdemo_sk', 'bigint', '', '')
('c_current_addr_sk', 'bigint', '', '')
('c_first_shipto_date_sk', 'bigint', '', '')
('c_first_sales_date_sk', 'bigint', '', '')
('c_salutation', 'char(10)', '', '')
('c_first_name', 'char(20)', '', '')
('c_last_name', 'char(30)', '', '')
('c_preferred_cust_flag', 'char(1)', '', '')
('c_birth_day', 'integer', '', '')
('c_birth_month', 'integer', '', '')
('c_birth_year', 'integer', '', '')
('c_birth_country', 'varchar(20)', '', '')
('c_login', 'char(13)', '', '')
('c_email_address', 'char(50)', '', '')
('c_last_review_date_sk', 'bigint', '', '')

In [6]:
sql = f"""
select * from {catalog}.{schema}.{table} limit 10
"""

with engine.connect() as con:
    rs = con.execute(sql)
    for row in rs:
        print(row)

(1, 'AAAAAAAABAAAAAAA', 980124, 7135, 946, 2452238, 2452208, 'Mr.       ', 'Javier              ', 'Lewis                         ', 'Y', 9, 12, 1936, 'CHILE', None, 'Javier.Lewis@VFAxlnZEvOx.org                      ', 2452508)
(2, 'AAAAAAAACAAAAAAA', 819667, 1461, 655, 2452318, 2452288, 'Dr.       ', 'Amy                 ', 'Moses                         ', 'Y', 9, 4, 1966, 'TOGO', None, 'Amy.Moses@Ovk9KjHH.com                            ', 2452318)
(3, 'AAAAAAAADAAAAAAA', 1473522, 6247, 572, 2449130, 2449100, 'Miss      ', 'Latisha             ', 'Hamilton                      ', 'N', 18, 9, 1979, 'NIUE', None, 'Latisha.Hamilton@V.com                            ', 2452313)
(4, 'AAAAAAAAEAAAAAAA', 1703214, 3986, 558, 2450030, 2450000, 'Dr.       ', 'Michael             ', 'White                         ', 'N', 7, 6, 1983, 'MEXICO', None, 'Michael.White@i.org                               ', 2452361)
(5, 'AAAAAAAAFAAAAAAA', 953372, 4470, 368, 2449438, 2449408, 'Sir       ', 'Robert              ', 'Moran                         ', 'N', 8, 5, 1956, 'FIJI', None, 'Robert.Moran@Hh.edu                               ', 2452469)
(6, 'AAAAAAAAGAAAAAAA', 213219, 6374, 82, 2451883, 2451853, 'Ms.       ', 'Brunilda            ', 'Sharp                         ', 'N', 4, 12, 1925, 'SURINAME', None, 'Brunilda.Sharp@T3pylZEUQjm.org                    ', 2452430)
(7, 'AAAAAAAAHAAAAAAA', 68377, 3219, 814, 2451438, 2451408, 'Ms.       ', 'Fonda               ', 'Wiles                         ', 'Y', 24, 4, 1985, 'GAMBIA', None, 'Fonda.Wiles@S9KnyEtz9hv.org                       ', 2452360)
(8, 'AAAAAAAAIAAAAAAA', 1215897, 2471, 598, 2449406, 2449376, 'Sir       ', 'Ollie               ', 'Shipman                       ', 'N', 26, 12, 1938, 'KOREA, REPUBLIC OF', None, 'Ollie.Shipman@be.org                              ', 2452334)
(9, 'AAAAAAAAJAAAAAAA', 1168667, 1404, 388, 2452275, 2452245, 'Sir       ', 'Karl                ', 'Gilbert                       ', 'N', 26, 10, 1966, 'MONTSERRAT', None, 'Karl.Gilbert@Crg5KyP2IxX9C4d6.edu                 ', 2452454)
(10, 'AAAAAAAAKAAAAAAA', 1207553, 5143, 580, 2451353, 2451323, 'Ms.       ', 'Albert              ', 'Brunson                       ', 'N', 15, 10, 1973, 'JORDAN', None, 'Albert.Brunson@62.com                             ', 2452641)

In [8]:
import datetime

In [9]:
start = datetime.datetime.now()

In [10]:
stop = datetime.datetime.now()

In [13]:
(stop - start).seconds

datetime.timedelta(seconds=9, microseconds=811046)