In [3]:
import glob

In [30]:
import traceback
import datetime

In [2]:
# presto-test.py
# simple python script to run a query on a presto cluster and display the result set 
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *
engine = create_engine("presto://localhost:8080/ahana_hive", connect_args={'protocol': 'http'})
 
with engine.connect() as con:
    rs = con.execute('SELECT now()')
    for row in rs:
        print(row)

('2021-10-21 02:18:16.614 UTC',)

In [1]:
!pwd

/home/wengong/projects/py4kids/lesson-14-db/presto

In [4]:
sql_files = glob.glob("./benchmark/tpcds/*.sql")

In [5]:
len(sql_files)

103

In [7]:
sorted(sql_files)

['./benchmark/tpcds/q01.sql',
 './benchmark/tpcds/q02.sql',
 './benchmark/tpcds/q03.sql',
 './benchmark/tpcds/q04.sql',
 './benchmark/tpcds/q05.sql',
 './benchmark/tpcds/q06.sql',
 './benchmark/tpcds/q07.sql',
 './benchmark/tpcds/q08.sql',
 './benchmark/tpcds/q09.sql',
 './benchmark/tpcds/q10.sql',
 './benchmark/tpcds/q11.sql',
 './benchmark/tpcds/q12.sql',
 './benchmark/tpcds/q13.sql',
 './benchmark/tpcds/q14_1.sql',
 './benchmark/tpcds/q14_2.sql',
 './benchmark/tpcds/q15.sql',
 './benchmark/tpcds/q16.sql',
 './benchmark/tpcds/q17.sql',
 './benchmark/tpcds/q18.sql',
 './benchmark/tpcds/q19.sql',
 './benchmark/tpcds/q20.sql',
 './benchmark/tpcds/q21.sql',
 './benchmark/tpcds/q22.sql',
 './benchmark/tpcds/q23_1.sql',
 './benchmark/tpcds/q23_2.sql',
 './benchmark/tpcds/q24_1.sql',
 './benchmark/tpcds/q24_2.sql',
 './benchmark/tpcds/q25.sql',
 './benchmark/tpcds/q26.sql',
 './benchmark/tpcds/q27.sql',
 './benchmark/tpcds/q28.sql',
 './benchmark/tpcds/q29.sql',
 './benchmark/tpcds/q30.sql',
 './benchmark/tpcds/q31.sql',
 './benchmark/tpcds/q32.sql',
 './benchmark/tpcds/q33.sql',
 './benchmark/tpcds/q34.sql',
 './benchmark/tpcds/q35.sql',
 './benchmark/tpcds/q36.sql',
 './benchmark/tpcds/q37.sql',
 './benchmark/tpcds/q38.sql',
 './benchmark/tpcds/q39_1.sql',
 './benchmark/tpcds/q39_2.sql',
 './benchmark/tpcds/q40.sql',
 './benchmark/tpcds/q41.sql',
 './benchmark/tpcds/q42.sql',
 './benchmark/tpcds/q43.sql',
 './benchmark/tpcds/q44.sql',
 './benchmark/tpcds/q45.sql',
 './benchmark/tpcds/q46.sql',
 './benchmark/tpcds/q47.sql',
 './benchmark/tpcds/q48.sql',
 './benchmark/tpcds/q49.sql',
 './benchmark/tpcds/q50.sql',
 './benchmark/tpcds/q51.sql',
 './benchmark/tpcds/q52.sql',
 './benchmark/tpcds/q53.sql',
 './benchmark/tpcds/q54.sql',
 './benchmark/tpcds/q55.sql',
 './benchmark/tpcds/q56.sql',
 './benchmark/tpcds/q57.sql',
 './benchmark/tpcds/q58.sql',
 './benchmark/tpcds/q59.sql',
 './benchmark/tpcds/q60.sql',
 './benchmark/tpcds/q61.sql',
 './benchmark/tpcds/q62.sql',
 './benchmark/tpcds/q63.sql',
 './benchmark/tpcds/q64.sql',
 './benchmark/tpcds/q65.sql',
 './benchmark/tpcds/q66.sql',
 './benchmark/tpcds/q67.sql',
 './benchmark/tpcds/q68.sql',
 './benchmark/tpcds/q69.sql',
 './benchmark/tpcds/q70.sql',
 './benchmark/tpcds/q71.sql',
 './benchmark/tpcds/q72.sql',
 './benchmark/tpcds/q73.sql',
 './benchmark/tpcds/q74.sql',
 './benchmark/tpcds/q75.sql',
 './benchmark/tpcds/q76.sql',
 './benchmark/tpcds/q77.sql',
 './benchmark/tpcds/q78.sql',
 './benchmark/tpcds/q79.sql',
 './benchmark/tpcds/q80.sql',
 './benchmark/tpcds/q81.sql',
 './benchmark/tpcds/q82.sql',
 './benchmark/tpcds/q83.sql',
 './benchmark/tpcds/q84.sql',
 './benchmark/tpcds/q85.sql',
 './benchmark/tpcds/q86.sql',
 './benchmark/tpcds/q87.sql',
 './benchmark/tpcds/q88.sql',
 './benchmark/tpcds/q89.sql',
 './benchmark/tpcds/q90.sql',
 './benchmark/tpcds/q91.sql',
 './benchmark/tpcds/q92.sql',
 './benchmark/tpcds/q93.sql',
 './benchmark/tpcds/q94.sql',
 './benchmark/tpcds/q95.sql',
 './benchmark/tpcds/q96.sql',
 './benchmark/tpcds/q97.sql',
 './benchmark/tpcds/q98.sql',
 './benchmark/tpcds/q99.sql']

In [18]:
database,schema,table = "tpcds.tiny.customer".split(".")

In [19]:
database,schema,table

('tpcds', 'tiny', 'customer')

In [20]:
sql = f"""
describe {database}.{schema}.{table}
"""

columns = []
with engine.connect() as con:
    rs = con.execute(sql)
    for row in rs:
        columns.append(row)

In [21]:
len(columns), columns

(18,
 [('c_customer_sk', 'bigint', '', ''),
  ('c_customer_id', 'char(16)', '', ''),
  ('c_current_cdemo_sk', 'bigint', '', ''),
  ('c_current_hdemo_sk', 'bigint', '', ''),
  ('c_current_addr_sk', 'bigint', '', ''),
  ('c_first_shipto_date_sk', 'bigint', '', ''),
  ('c_first_sales_date_sk', 'bigint', '', ''),
  ('c_salutation', 'char(10)', '', ''),
  ('c_first_name', 'char(20)', '', ''),
  ('c_last_name', 'char(30)', '', ''),
  ('c_preferred_cust_flag', 'char(1)', '', ''),
  ('c_birth_day', 'integer', '', ''),
  ('c_birth_month', 'integer', '', ''),
  ('c_birth_year', 'integer', '', ''),
  ('c_birth_country', 'varchar(20)', '', ''),
  ('c_login', 'char(13)', '', ''),
  ('c_email_address', 'char(50)', '', ''),
  ('c_last_review_date_sk', 'bigint', '', '')])

In [15]:
sql = f"""
select * from {catalog}.{schema}.{table} limit 10
"""

results = []
with engine.connect() as con:
    rs = con.execute(sql)
    for row in rs:
        results.append(row)

In [16]:
len(results)

10

In [22]:
len(results[0])

18

In [24]:
sql = "select * from ${database}.${schema}.customer limit 2"

In [25]:
sql.replace("$","").format(database=database,schema=schema)

'select * from tpcds.tiny.customer limit 2'

In [31]:
conn = engine.connect()

In [35]:
i = 0
for file_sql in sorted(sql_files):
    # if i > 1: break
        
    print(f"\n\nSQL name: {file_sql}...\n========================================")
    sql = open(file_sql).read().replace("$","").format(database=database,schema=schema)
    print(sql)
    print("\n")
    
    results = []
    start = datetime.datetime.now()
    try:
        rs = conn.execute(sql)
        stop = datetime.datetime.now()
        for row in rs:
            results.append(row)
            
        print(f"Results: completed in {(stop - start).seconds} sec\n+++++++++++++++++++++++++++++++++\n{results[:5]}")
    except Exception:
        print(traceback.format_exc())
        
    i += 1

SQL name: ./benchmark/tpcds/q01.sql...
========================================
WITH
  customer_total_return AS (
   SELECT
     "sr_customer_sk" "ctr_customer_sk"
   , "sr_store_sk" "ctr_store_sk"
   , "sum"("sr_return_amt") "ctr_total_return"
   FROM
     tpcds.tiny.store_returns
   , tpcds.tiny.date_dim
   WHERE ("sr_returned_date_sk" = "d_date_sk")
      AND ("d_year" = 2000)
   GROUP BY "sr_customer_sk", "sr_store_sk"
)
SELECT "c_customer_id"
FROM
  customer_total_return ctr1
, tpcds.tiny.store
, tpcds.tiny.customer
WHERE ("ctr1"."ctr_total_return" > (
      SELECT ("avg"("ctr_total_return") * DECIMAL '1.2')
      FROM
        customer_total_return ctr2
      WHERE ("ctr1"."ctr_store_sk" = "ctr2"."ctr_store_sk")
   ))
   AND ("s_store_sk" = "ctr1"."ctr_store_sk")
   AND ("s_state" = 'TN')
   AND ("ctr1"."ctr_customer_sk" = "c_customer_sk")
ORDER BY "c_customer_id" ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAAAACAAAAA',), ('AAAAAAAAAADAAAAA',), ('AAAAAAAAACCAAAAA',), ('AAAAAAAAADDAAAAA',), ('AAAAAAAAAEAAAAAA',)]


SQL name: ./benchmark/tpcds/q02.sql...
========================================
WITH
  wscs AS (
   SELECT
     "sold_date_sk"
   , "sales_price"
   FROM
     (
      SELECT
        "ws_sold_date_sk" "sold_date_sk"
      , "ws_ext_sales_price" "sales_price"
      FROM
        tpcds.tiny.web_sales
   )
UNION ALL (
      SELECT
        "cs_sold_date_sk" "sold_date_sk"
      , "cs_ext_sales_price" "sales_price"
      FROM
        tpcds.tiny.catalog_sales
   ) )
, wswscs AS (
   SELECT
     "d_week_seq"
   , "sum"((CASE WHEN ("d_day_name" = 'Sunday') THEN "sales_price" ELSE null END)) "sun_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Monday') THEN "sales_price" ELSE null END)) "mon_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Tuesday') THEN "sales_price" ELSE null END)) "tue_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Wednesday') THEN "sales_price" ELSE null END)) "wed_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Thursday') THEN "sales_price" ELSE null END)) "thu_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Friday') THEN "sales_price" ELSE null END)) "fri_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Saturday') THEN "sales_price" ELSE null END)) "sat_sales"
   FROM
     wscs
   , tpcds.tiny.date_dim
   WHERE ("d_date_sk" = "sold_date_sk")
   GROUP BY "d_week_seq"
)
SELECT
  "d_week_seq1"
, "round"(("sun_sales1" / "sun_sales2"), 2)
, "round"(("mon_sales1" / "mon_sales2"), 2)
, "round"(("tue_sales1" / "tue_sales2"), 2)
, "round"(("wed_sales1" / "wed_sales2"), 2)
, "round"(("thu_sales1" / "thu_sales2"), 2)
, "round"(("fri_sales1" / "fri_sales2"), 2)
, "round"(("sat_sales1" / "sat_sales2"), 2)
FROM
  (
   SELECT
     "wswscs"."d_week_seq" "d_week_seq1"
   , "sun_sales" "sun_sales1"
   , "mon_sales" "mon_sales1"
   , "tue_sales" "tue_sales1"
   , "wed_sales" "wed_sales1"
   , "thu_sales" "thu_sales1"
   , "fri_sales" "fri_sales1"
   , "sat_sales" "sat_sales1"
   FROM
     wswscs
   , tpcds.tiny.date_dim
   WHERE ("date_dim"."d_week_seq" = "wswscs"."d_week_seq")
      AND ("d_year" = 2001)
)  y
, (
   SELECT
     "wswscs"."d_week_seq" "d_week_seq2"
   , "sun_sales" "sun_sales2"
   , "mon_sales" "mon_sales2"
   , "tue_sales" "tue_sales2"
   , "wed_sales" "wed_sales2"
   , "thu_sales" "thu_sales2"
   , "fri_sales" "fri_sales2"
   , "sat_sales" "sat_sales2"
   FROM
     wswscs
   , tpcds.tiny.date_dim
   WHERE ("date_dim"."d_week_seq" = "wswscs"."d_week_seq")
      AND ("d_year" = (2001 + 1))
)  z
WHERE ("d_week_seq1" = ("d_week_seq2" - 53))
ORDER BY "d_week_seq1" ASC



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(5270, '6.05', '1.12', '3.93', '1.24', '1.22', '5.52', '3.90'), (5270, '6.05', '1.12', '3.93', '1.24', '1.22', '5.52', '3.90'), (5270, '6.05', '1.12', '3.93', '1.24', '1.22', '5.52', '3.90'), (5270, '6.05', '1.12', '3.93', '1.24', '1.22', '5.52', '3.90'), (5270, '6.05', '1.12', '3.93', '1.24', '1.22', '5.52', '3.90')]


SQL name: ./benchmark/tpcds/q03.sql...
========================================
SELECT
  "dt"."d_year"
, "item"."i_brand_id" "brand_id"
, "item"."i_brand" "brand"
, "sum"("ss_ext_sales_price") "sum_agg"
FROM
  tpcds.tiny.date_dim dt
, tpcds.tiny.store_sales
, tpcds.tiny.item
WHERE ("dt"."d_date_sk" = "store_sales"."ss_sold_date_sk")
   AND ("store_sales"."ss_item_sk" = "item"."i_item_sk")
   AND ("item"."i_manufact_id" = 128)
   AND ("dt"."d_moy" = 11)
GROUP BY "dt"."d_year", "item"."i_brand", "item"."i_brand_id"
ORDER BY "dt"."d_year" ASC, "sum_agg" DESC, "brand_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(1998, 7007010, 'brandbrand #10                                    ', '14247.33'), (1998, 3001001, 'amalgexporti #1                                   ', '8134.69'), (1998, 1004001, 'edu packamalg #1                                  ', '2206.52'), (1998, 6004008, 'edu packcorp #8                                   ', '984.85'), (1999, 3001001, 'amalgexporti #1                                   ', '7830.78')]


SQL name: ./benchmark/tpcds/q04.sql...
========================================
WITH
  year_total AS (
   SELECT
     "c_customer_id" "customer_id"
   , "c_first_name" "customer_first_name"
   , "c_last_name" "customer_last_name"
   , "c_preferred_cust_flag" "customer_preferred_cust_flag"
   , "c_birth_country" "customer_birth_country"
   , "c_login" "customer_login"
   , "c_email_address" "customer_email_address"
   , "d_year" "dyear"
   , "sum"((((("ss_ext_list_price" - "ss_ext_wholesale_cost") - "ss_ext_discount_amt") + "ss_ext_sales_price") / 2)) "year_total"
   , 's' "sale_type"
   FROM
     tpcds.tiny.customer
   , tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("c_customer_sk" = "ss_customer_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
   GROUP BY "c_customer_id", "c_first_name", "c_last_name", "c_preferred_cust_flag", "c_birth_country", "c_login", "c_email_address", "d_year"
UNION ALL    SELECT
     "c_customer_id" "customer_id"
   , "c_first_name" "customer_first_name"
   , "c_last_name" "customer_last_name"
   , "c_preferred_cust_flag" "customer_preferred_cust_flag"
   , "c_birth_country" "customer_birth_country"
   , "c_login" "customer_login"
   , "c_email_address" "customer_email_address"
   , "d_year" "dyear"
   , "sum"((((("cs_ext_list_price" - "cs_ext_wholesale_cost") - "cs_ext_discount_amt") + "cs_ext_sales_price") / 2)) "year_total"
   , 'c' "sale_type"
   FROM
     tpcds.tiny.customer
   , tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   WHERE ("c_customer_sk" = "cs_bill_customer_sk")
      AND ("cs_sold_date_sk" = "d_date_sk")
   GROUP BY "c_customer_id", "c_first_name", "c_last_name", "c_preferred_cust_flag", "c_birth_country", "c_login", "c_email_address", "d_year"
UNION ALL    SELECT
     "c_customer_id" "customer_id"
   , "c_first_name" "customer_first_name"
   , "c_last_name" "customer_last_name"
   , "c_preferred_cust_flag" "customer_preferred_cust_flag"
   , "c_birth_country" "customer_birth_country"
   , "c_login" "customer_login"
   , "c_email_address" "customer_email_address"
   , "d_year" "dyear"
   , "sum"((((("ws_ext_list_price" - "ws_ext_wholesale_cost") - "ws_ext_discount_amt") + "ws_ext_sales_price") / 2)) "year_total"
   , 'w' "sale_type"
   FROM
     tpcds.tiny.customer
   , tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   WHERE ("c_customer_sk" = "ws_bill_customer_sk")
      AND ("ws_sold_date_sk" = "d_date_sk")
   GROUP BY "c_customer_id", "c_first_name", "c_last_name", "c_preferred_cust_flag", "c_birth_country", "c_login", "c_email_address", "d_year"
)
SELECT
  "t_s_secyear"."customer_id"
, "t_s_secyear"."customer_first_name"
, "t_s_secyear"."customer_last_name"
, "t_s_secyear"."customer_preferred_cust_flag"
FROM
  year_total t_s_firstyear
, year_total t_s_secyear
, year_total t_c_firstyear
, year_total t_c_secyear
, year_total t_w_firstyear
, year_total t_w_secyear
WHERE ("t_s_secyear"."customer_id" = "t_s_firstyear"."customer_id")
   AND ("t_s_firstyear"."customer_id" = "t_c_secyear"."customer_id")
   AND ("t_s_firstyear"."customer_id" = "t_c_firstyear"."customer_id")
   AND ("t_s_firstyear"."customer_id" = "t_w_firstyear"."customer_id")
   AND ("t_s_firstyear"."customer_id" = "t_w_secyear"."customer_id")
   AND ("t_s_firstyear"."sale_type" = 's')
   AND ("t_c_firstyear"."sale_type" = 'c')
   AND ("t_w_firstyear"."sale_type" = 'w')
   AND ("t_s_secyear"."sale_type" = 's')
   AND ("t_c_secyear"."sale_type" = 'c')
   AND ("t_w_secyear"."sale_type" = 'w')
   AND ("t_s_firstyear"."dyear" = 2001)
   AND ("t_s_secyear"."dyear" = (2001 + 1))
   AND ("t_c_firstyear"."dyear" = 2001)
   AND ("t_c_secyear"."dyear" = (2001 + 1))
   AND ("t_w_firstyear"."dyear" = 2001)
   AND ("t_w_secyear"."dyear" = (2001 + 1))
   AND ("t_s_firstyear"."year_total" > 0)
   AND ("t_c_firstyear"."year_total" > 0)
   AND ("t_w_firstyear"."year_total" > 0)
   AND ((CASE WHEN ("t_c_firstyear"."year_total" > 0) THEN ("t_c_secyear"."year_total" / "t_c_firstyear"."year_total") ELSE null END) > (CASE WHEN ("t_s_firstyear"."year_total" > 0) THEN ("t_s_secyear"."year_total" / "t_s_firstyear"."year_total") ELSE null END))
   AND ((CASE WHEN ("t_c_firstyear"."year_total" > 0) THEN ("t_c_secyear"."year_total" / "t_c_firstyear"."year_total") ELSE null END) > (CASE WHEN ("t_w_firstyear"."year_total" > 0) THEN ("t_w_secyear"."year_total" / "t_w_firstyear"."year_total") ELSE null END))
ORDER BY "t_s_secyear"."customer_id" ASC, "t_s_secyear"."customer_first_name" ASC, "t_s_secyear"."customer_last_name" ASC, "t_s_secyear"."customer_preferred_cust_flag" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAADOCAAAAA', 'Joy                 ', 'Baker                         ', 'Y'), ('AAAAAAAAHMBAAAAA', 'Eunice              ', 'Shaw                          ', 'N'), ('AAAAAAAAIICAAAAA', 'Sherri              ', 'Tyler                         ', 'Y'), ('AAAAAAAAJCAAAAAA', 'Maxine              ', 'Carlson                       ', 'N'), ('AAAAAAAAJGBAAAAA', 'Bonnie              ', 'Harrison                      ', 'Y')]


SQL name: ./benchmark/tpcds/q05.sql...
========================================
WITH
  ssr AS (
   SELECT
     "s_store_id"
   , "sum"("sales_price") "sales"
   , "sum"("profit") "profit"
   , "sum"("return_amt") "returns"
   , "sum"("net_loss") "profit_loss"
   FROM
     (
      SELECT
        "ss_store_sk" "store_sk"
      , "ss_sold_date_sk" "date_sk"
      , "ss_ext_sales_price" "sales_price"
      , "ss_net_profit" "profit"
      , CAST(0 AS DECIMAL(7,2)) "return_amt"
      , CAST(0 AS DECIMAL(7,2)) "net_loss"
      FROM
        tpcds.tiny.store_sales
UNION ALL       SELECT
        "sr_store_sk" "store_sk"
      , "sr_returned_date_sk" "date_sk"
      , CAST(0 AS DECIMAL(7,2)) "sales_price"
      , CAST(0 AS DECIMAL(7,2)) "profit"
      , "sr_return_amt" "return_amt"
      , "sr_net_loss" "net_loss"
      FROM
        tpcds.tiny.store_returns
   )  salesreturns
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   WHERE ("date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '14' DAY))
      AND ("store_sk" = "s_store_sk")
   GROUP BY "s_store_id"
)
, csr AS (
   SELECT
     "cp_catalog_page_id"
   , "sum"("sales_price") "sales"
   , "sum"("profit") "profit"
   , "sum"("return_amt") "returns"
   , "sum"("net_loss") "profit_loss"
   FROM
     (
      SELECT
        "cs_catalog_page_sk" "page_sk"
      , "cs_sold_date_sk" "date_sk"
      , "cs_ext_sales_price" "sales_price"
      , "cs_net_profit" "profit"
      , CAST(0 AS DECIMAL(7,2)) "return_amt"
      , CAST(0 AS DECIMAL(7,2)) "net_loss"
      FROM
        tpcds.tiny.catalog_sales
UNION ALL       SELECT
        "cr_catalog_page_sk" "page_sk"
      , "cr_returned_date_sk" "date_sk"
      , CAST(0 AS DECIMAL(7,2)) "sales_price"
      , CAST(0 AS DECIMAL(7,2)) "profit"
      , "cr_return_amount" "return_amt"
      , "cr_net_loss" "net_loss"
      FROM
        tpcds.tiny.catalog_returns
   )  salesreturns
   , tpcds.tiny.date_dim
   , tpcds.tiny.catalog_page
   WHERE ("date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '14' DAY))
      AND ("page_sk" = "cp_catalog_page_sk")
   GROUP BY "cp_catalog_page_id"
)
, wsr AS (
   SELECT
     "web_site_id"
   , "sum"("sales_price") "sales"
   , "sum"("profit") "profit"
   , "sum"("return_amt") "returns"
   , "sum"("net_loss") "profit_loss"
   FROM
     (
      SELECT
        "ws_web_site_sk" "wsr_web_site_sk"
      , "ws_sold_date_sk" "date_sk"
      , "ws_ext_sales_price" "sales_price"
      , "ws_net_profit" "profit"
      , CAST(0 AS DECIMAL(7,2)) "return_amt"
      , CAST(0 AS DECIMAL(7,2)) "net_loss"
      FROM
        tpcds.tiny.web_sales
UNION ALL       SELECT
        "ws_web_site_sk" "wsr_web_site_sk"
      , "wr_returned_date_sk" "date_sk"
      , CAST(0 AS DECIMAL(7,2)) "sales_price"
      , CAST(0 AS DECIMAL(7,2)) "profit"
      , "wr_return_amt" "return_amt"
      , "wr_net_loss" "net_loss"
      FROM
        (tpcds.tiny.web_returns
      LEFT JOIN tpcds.tiny.web_sales ON ("wr_item_sk" = "ws_item_sk")
         AND ("wr_order_number" = "ws_order_number"))
   )  salesreturns
   , tpcds.tiny.date_dim
   , tpcds.tiny.web_site
   WHERE ("date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '14' DAY))
      AND ("wsr_web_site_sk" = "web_site_sk")
   GROUP BY "web_site_id"
)
SELECT
  "channel"
, "id"
, "sum"("sales") "sales"
, "sum"("returns") "returns"
, "sum"("profit") "profit"
FROM
  (
   SELECT
     'tpcds.tiny.store channel' "channel"
   , "concat"('store', "s_store_id") "id"
   , "sales"
   , "returns"
   , ("profit" - "profit_loss") "profit"
   FROM
     ssr
UNION ALL    SELECT
     'catalog channel' "channel"
   , "concat"('catalog_page', "cp_catalog_page_id") "id"
   , "sales"
   , "returns"
   , ("profit" - "profit_loss") "profit"
   FROM
     csr
UNION ALL    SELECT
     'web channel' "channel"
   , "concat"('web_site', "web_site_id") "id"
   , "sales"
   , "returns"
   , ("profit" - "profit_loss") "profit"
   FROM
     wsr
)  x
GROUP BY ROLLUP (channel, id)
ORDER BY "channel" ASC, "id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('catalog channel', 'catalog_pageAAAAAAAAAAABAAAA', '3565.53', '0.00', '-7892.57'), ('catalog channel', 'catalog_pageAAAAAAAAABABAAAA', '17651.76', '0.00', '4226.70'), ('catalog channel', 'catalog_pageAAAAAAAAADCBAAAA', '8320.65', '0.00', '-944.83'), ('catalog channel', 'catalog_pageAAAAAAAAAEABAAAA', '6839.68', '0.00', '1031.84'), ('catalog channel', 'catalog_pageAAAAAAAAAECBAAAA', '19248.58', '0.00', '277.31')]


SQL name: ./benchmark/tpcds/q06.sql...
========================================
SELECT
  "a"."ca_state" "STATE"
, "count"(*) "cnt"
FROM
  tpcds.tiny.customer_address a
, tpcds.tiny.customer c
, tpcds.tiny.store_sales s
, tpcds.tiny.date_dim d
, tpcds.tiny.item i
WHERE ("a"."ca_address_sk" = "c"."c_current_addr_sk")
   AND ("c"."c_customer_sk" = "s"."ss_customer_sk")
   AND ("s"."ss_sold_date_sk" = "d"."d_date_sk")
   AND ("s"."ss_item_sk" = "i"."i_item_sk")
   AND ("d"."d_month_seq" = (
      SELECT DISTINCT "d_month_seq"
      FROM
        tpcds.tiny.date_dim
      WHERE ("d_year" = 2001)
         AND ("d_moy" = 1)
   ))
   AND ("i"."i_current_price" > (DECIMAL '1.2' * (
         SELECT "avg"("j"."i_current_price")
         FROM
           tpcds.tiny.item j
         WHERE ("j"."i_category" = "i"."i_category")
      )))
GROUP BY "a"."ca_state"
HAVING ("count"(*) >= 10)
ORDER BY "cnt" ASC, "a"."ca_state" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('TX', 10)]


SQL name: ./benchmark/tpcds/q07.sql...
========================================
SELECT
  "i_item_id"
, "avg"("ss_quantity") "agg1"
, "avg"("ss_list_price") "agg2"
, "avg"("ss_coupon_amt") "agg3"
, "avg"("ss_sales_price") "agg4"
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.customer_demographics
, tpcds.tiny.date_dim
, tpcds.tiny.item
, tpcds.tiny.promotion
WHERE ("ss_sold_date_sk" = "d_date_sk")
   AND ("ss_item_sk" = "i_item_sk")
   AND ("ss_cdemo_sk" = "cd_demo_sk")
   AND ("ss_promo_sk" = "p_promo_sk")
   AND ("cd_gender" = 'M')
   AND ("cd_marital_status" = 'S')
   AND ("cd_education_status" = 'College')
   AND (("p_channel_email" = 'N')
      OR ("p_channel_event" = 'N'))
   AND ("d_year" = 2000)
GROUP BY "i_item_id"
ORDER BY "i_item_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAAAAFAAAAA', 71.0, '49.34', '0.00', '35.94'), ('AAAAAAAAABEAAAAA', 78.5, '41.97', '0.21', '16.70'), ('AAAAAAAAABGAAAAA', 47.0, '4.34', '0.00', '0.78'), ('AAAAAAAAACCAAAAA', 56.0, '122.37', '0.00', '83.21'), ('AAAAAAAAADFAAAAA', 5.0, '92.80', '0.00', '56.60')]


SQL name: ./benchmark/tpcds/q08.sql...
========================================
SELECT
  "s_store_name"
, "sum"("ss_net_profit")
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.date_dim
, tpcds.tiny.store
, (
   SELECT "ca_zip"
   FROM
     (
(
         SELECT "substr"("ca_zip", 1, 5) "ca_zip"
         FROM
           tpcds.tiny.customer_address
         WHERE ("substr"("ca_zip", 1, 5) IN (
                '24128'
              , '57834'
              , '13354'
              , '15734'
              , '78668'
              , '76232'
              , '62878'
              , '45375'
              , '63435'
              , '22245'
              , '65084'
              , '49130'
              , '40558'
              , '25733'
              , '15798'
              , '87816'
              , '81096'
              , '56458'
              , '35474'
              , '27156'
              , '83926'
              , '18840'
              , '28286'
              , '24676'
              , '37930'
              , '77556'
              , '27700'
              , '45266'
              , '94627'
              , '62971'
              , '20548'
              , '23470'
              , '47305'
              , '53535'
              , '21337'
              , '26231'
              , '50412'
              , '69399'
              , '17879'
              , '51622'
              , '43848'
              , '21195'
              , '83921'
              , '15559'
              , '67853'
              , '15126'
              , '16021'
              , '26233'
              , '53268'
              , '10567'
              , '91137'
              , '76107'
              , '11101'
              , '59166'
              , '38415'
              , '61265'
              , '71954'
              , '15371'
              , '11928'
              , '15455'
              , '98294'
              , '68309'
              , '69913'
              , '59402'
              , '58263'
              , '25782'
              , '18119'
              , '35942'
              , '33282'
              , '42029'
              , '17920'
              , '98359'
              , '15882'
              , '45721'
              , '60279'
              , '18426'
              , '64544'
              , '25631'
              , '43933'
              , '37125'
              , '98235'
              , '10336'
              , '24610'
              , '68101'
              , '56240'
              , '40081'
              , '86379'
              , '44165'
              , '33515'
              , '88190'
              , '84093'
              , '27068'
              , '99076'
              , '36634'
              , '50308'
              , '28577'
              , '39736'
              , '33786'
              , '71286'
              , '26859'
              , '55565'
              , '98569'
              , '70738'
              , '19736'
              , '64457'
              , '17183'
              , '28915'
              , '26653'
              , '58058'
              , '89091'
              , '54601'
              , '24206'
              , '14328'
              , '55253'
              , '82136'
              , '67897'
              , '56529'
              , '72305'
              , '67473'
              , '62377'
              , '22752'
              , '57647'
              , '62496'
              , '41918'
              , '36233'
              , '86284'
              , '54917'
              , '22152'
              , '19515'
              , '63837'
              , '18376'
              , '42961'
              , '10144'
              , '36495'
              , '58078'
              , '38607'
              , '91110'
              , '64147'
              , '19430'
              , '17043'
              , '45200'
              , '63981'
              , '48425'
              , '22351'
              , '30010'
              , '21756'
              , '14922'
              , '14663'
              , '77191'
              , '60099'
              , '29741'
              , '36420'
              , '21076'
              , '91393'
              , '28810'
              , '96765'
              , '23006'
              , '18799'
              , '49156'
              , '98025'
              , '23932'
              , '67467'
              , '30450'
              , '50298'
              , '29178'
              , '89360'
              , '32754'
              , '63089'
              , '87501'
              , '87343'
              , '29839'
              , '30903'
              , '81019'
              , '18652'
              , '73273'
              , '25989'
              , '20260'
              , '68893'
              , '53179'
              , '30469'
              , '28898'
              , '31671'
              , '24996'
              , '18767'
              , '64034'
              , '91068'
              , '51798'
              , '51200'
              , '63193'
              , '39516'
              , '72550'
              , '72325'
              , '51211'
              , '23968'
              , '86057'
              , '10390'
              , '85816'
              , '45692'
              , '65164'
              , '21309'
              , '18845'
              , '68621'
              , '92712'
              , '68880'
              , '90257'
              , '47770'
              , '13955'
              , '70466'
              , '21286'
              , '67875'
              , '82636'
              , '36446'
              , '79994'
              , '72823'
              , '40162'
              , '41367'
              , '41766'
              , '22437'
              , '58470'
              , '11356'
              , '76638'
              , '68806'
              , '25280'
              , '67301'
              , '73650'
              , '86198'
              , '16725'
              , '38935'
              , '13394'
              , '61810'
              , '81312'
              , '15146'
              , '71791'
              , '31016'
              , '72013'
              , '37126'
              , '22744'
              , '73134'
              , '70372'
              , '30431'
              , '39192'
              , '35850'
              , '56571'
              , '67030'
              , '22461'
              , '88424'
              , '88086'
              , '14060'
              , '40604'
              , '19512'
              , '72175'
              , '51649'
              , '19505'
              , '24317'
              , '13375'
              , '81426'
              , '18270'
              , '72425'
              , '45748'
              , '55307'
              , '53672'
              , '52867'
              , '56575'
              , '39127'
              , '30625'
              , '10445'
              , '39972'
              , '74351'
              , '26065'
              , '83849'
              , '42666'
              , '96976'
              , '68786'
              , '77721'
              , '68908'
              , '66864'
              , '63792'
              , '51650'
              , '31029'
              , '26689'
              , '66708'
              , '11376'
              , '20004'
              , '31880'
              , '96451'
              , '41248'
              , '94898'
              , '18383'
              , '60576'
              , '38193'
              , '48583'
              , '13595'
              , '76614'
              , '24671'
              , '46820'
              , '82276'
              , '10516'
              , '11634'
              , '45549'
              , '88885'
              , '18842'
              , '90225'
              , '18906'
              , '13376'
              , '84935'
              , '78890'
              , '58943'
              , '15765'
              , '50016'
              , '69035'
              , '49448'
              , '39371'
              , '41368'
              , '33123'
              , '83144'
              , '14089'
              , '94945'
              , '73241'
              , '19769'
              , '47537'
              , '38122'
              , '28587'
              , '76698'
              , '22927'
              , '56616'
              , '34425'
              , '96576'
              , '78567'
              , '97789'
              , '94983'
              , '79077'
              , '57855'
              , '97189'
              , '46081'
              , '48033'
              , '19849'
              , '28488'
              , '28545'
              , '72151'
              , '69952'
              , '43285'
              , '26105'
              , '76231'
              , '15723'
              , '25486'
              , '39861'
              , '83933'
              , '75691'
              , '46136'
              , '61547'
              , '66162'
              , '25858'
              , '22246'
              , '51949'
              , '27385'
              , '77610'
              , '34322'
              , '51061'
              , '68100'
              , '61860'
              , '13695'
              , '44438'
              , '90578'
              , '96888'
              , '58048'
              , '99543'
              , '73171'
              , '56691'
              , '64528'
              , '56910'
              , '83444'
              , '30122'
              , '68014'
              , '14171'
              , '16807'
              , '83041'
              , '34102'
              , '51103'
              , '79777'
              , '17871'
              , '12305'
              , '22685'
              , '94167'
              , '28709'
              , '35258'
              , '57665'
              , '71256'
              , '57047'
              , '11489'
              , '31387'
              , '68341'
              , '78451'
              , '14867'
              , '25103'
              , '35458'
              , '25003'
              , '54364'
              , '73520'
              , '32213'
              , '35576'))
      )       INTERSECT (
         SELECT "ca_zip"
         FROM
           (
            SELECT
              "substr"("ca_zip", 1, 5) "ca_zip"
            , "count"(*) "cnt"
            FROM
              tpcds.tiny.customer_address
            , tpcds.tiny.customer
            WHERE ("ca_address_sk" = "c_current_addr_sk")
               AND ("c_preferred_cust_flag" = 'Y')
            GROUP BY "ca_zip"
            HAVING ("count"(*) > 10)
         )  a1
      )    )  a2
)  v1
WHERE ("ss_store_sk" = "s_store_sk")
   AND ("ss_sold_date_sk" = "d_date_sk")
   AND ("d_qoy" = 2)
   AND ("d_year" = 1998)
   AND ("substr"("s_zip", 1, 2) = "substr"("v1"."ca_zip", 1, 2))
GROUP BY "s_store_name"
ORDER BY "s_store_name" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q09.sql...
========================================
SELECT
  (CASE WHEN ((
      SELECT "count"(*)
      FROM
        tpcds.tiny.store_sales
      WHERE ("ss_quantity" BETWEEN 1 AND 20)
   ) > 74129) THEN (
   SELECT "avg"("ss_ext_discount_amt")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 1 AND 20)
) ELSE (
   SELECT "avg"("ss_net_paid")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 1 AND 20)
) END) "bucket1"
, (CASE WHEN ((
      SELECT "count"(*)
      FROM
        tpcds.tiny.store_sales
      WHERE ("ss_quantity" BETWEEN 21 AND 40)
   ) > 122840) THEN (
   SELECT "avg"("ss_ext_discount_amt")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 21 AND 40)
) ELSE (
   SELECT "avg"("ss_net_paid")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 21 AND 40)
) END) "bucket2"
, (CASE WHEN ((
      SELECT "count"(*)
      FROM
        tpcds.tiny.store_sales
      WHERE ("ss_quantity" BETWEEN 41 AND 60)
   ) > 56580) THEN (
   SELECT "avg"("ss_ext_discount_amt")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 41 AND 60)
) ELSE (
   SELECT "avg"("ss_net_paid")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 41 AND 60)
) END) "bucket3"
, (CASE WHEN ((
      SELECT "count"(*)
      FROM
        tpcds.tiny.store_sales
      WHERE ("ss_quantity" BETWEEN 61 AND 80)
   ) > 10097) THEN (
   SELECT "avg"("ss_ext_discount_amt")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 61 AND 80)
) ELSE (
   SELECT "avg"("ss_net_paid")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 61 AND 80)
) END) "bucket4"
, (CASE WHEN ((
      SELECT "count"(*)
      FROM
        tpcds.tiny.store_sales
      WHERE ("ss_quantity" BETWEEN 81 AND 100)
   ) > 165306) THEN (
   SELECT "avg"("ss_ext_discount_amt")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 81 AND 100)
) ELSE (
   SELECT "avg"("ss_net_paid")
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 81 AND 100)
) END) "bucket5"
FROM
  tpcds.tiny.reason
WHERE ("r_reason_sk" = 1)



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('357.51', '1022.51', '1733.56', '262.32', '3077.37')]


SQL name: ./benchmark/tpcds/q10.sql...
========================================
SELECT
  "cd_gender"
, "cd_marital_status"
, "cd_education_status"
, "count"(*) "cnt1"
, "cd_purchase_estimate"
, "count"(*) "cnt2"
, "cd_credit_rating"
, "count"(*) "cnt3"
, "cd_dep_count"
, "count"(*) "cnt4"
, "cd_dep_employed_count"
, "count"(*) "cnt5"
, "cd_dep_college_count"
, "count"(*) "cnt6"
FROM
  tpcds.tiny.customer c
, tpcds.tiny.customer_address ca
, tpcds.tiny.customer_demographics
WHERE ("c"."c_current_addr_sk" = "ca"."ca_address_sk")
   AND ("ca_county" IN ('Rush County', 'Toole County', 'Jefferson County', 'Dona Ana County', 'La Porte County'))
   AND ("cd_demo_sk" = "c"."c_current_cdemo_sk")
   AND (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("c"."c_customer_sk" = "ss_customer_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 2002)
      AND ("d_moy" BETWEEN 1 AND (1 + 3))
))
   AND ((EXISTS (
      SELECT *
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.date_dim
      WHERE ("c"."c_customer_sk" = "ws_bill_customer_sk")
         AND ("ws_sold_date_sk" = "d_date_sk")
         AND ("d_year" = 2002)
         AND ("d_moy" BETWEEN 1 AND (1 + 3))
   ))
      OR (EXISTS (
      SELECT *
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.date_dim
      WHERE ("c"."c_customer_sk" = "cs_ship_customer_sk")
         AND ("cs_sold_date_sk" = "d_date_sk")
         AND ("d_year" = 2002)
         AND ("d_moy" BETWEEN 1 AND (1 + 3))
   )))
GROUP BY "cd_gender", "cd_marital_status", "cd_education_status", "cd_purchase_estimate", "cd_credit_rating", "cd_dep_count", "cd_dep_employed_count", "cd_dep_college_count"
ORDER BY "cd_gender" ASC, "cd_marital_status" ASC, "cd_education_status" ASC, "cd_purchase_estimate" ASC, "cd_credit_rating" ASC, "cd_dep_count" ASC, "cd_dep_employed_count" ASC, "cd_dep_college_count" ASC
LIMIT 100



Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.40MB, Delta: 30.34kB, Top Consumers: {HashBuilderOperator=102.40MB, PartitionedOutputOperator=7.17MB, ScanFilterAndProjectOperator=5.02MB}, Details: [{"taskId":"3.0.0","reservation":"100.39MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"4","reservations":["6.51MB","6.33MB","6.28MB","6.28MB","6.27MB","6.27MB","6.26MB","6.26MB","6.25MB","6.25MB","6.25MB","6.24MB","6.24MB","6.24MB","6.23MB","6.22MB"],"total":"100.39MB","info":"INNER;PARTITIONED;"}]},{"taskId":"7.0.0","reservation":"7.51MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"2345","reservations":["1.25MB","1.25MB","1.25MB","1.25MB"],"total":"5.01MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"2345","reservations":["1.25MB","1.25MB","1.58kB","1.58kB"],"total":"2.51MB"}]},{"taskId":"9.0.0","reservation":"2.33MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"2347","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"2347","reservations":["1.08MB"],"total":"1.08MB"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.40MB, Delta: 30.34kB, Top Consumers: {HashBuilderOperator=102.40MB, PartitionedOutputOperator=7.17MB, ScanFilterAndProjectOperator=5.02MB}, Details: [{"taskId":"3.0.0","reservation":"100.39MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"4","reservations":["6.51MB","6.33MB","6.28MB","6.28MB","6.27MB","6.27MB","6.26MB","6.26MB","6.25MB","6.25MB","6.25MB","6.24MB","6.24MB","6.24MB","6.23MB","6.22MB"],"total":"100.39MB","info":"INNER;PARTITIONED;"}]},{"taskId":"7.0.0","reservation":"7.51MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"2345","reservations":["1.25MB","1.25MB","1.25MB","1.25MB"],"total":"5.01MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"2345","reservations":["1.25MB","1.25MB","1.58kB","1.58kB"],"total":"2.51MB"}]},{"taskId":"9.0.0","reservation":"2.33MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"2347","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"2347","reservations":["1.08MB"],"total":"1.08MB"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.updateIndex(HashBuilderOperator.java:358)', 'com.facebook.presto.operator.HashBuilderOperator.addInput(HashBuilderOperator.java:345)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:428)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 15, in <module>
    for row in rs:
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/result.py", line 381, in iterrows
    for row in self._fetchiter_impl():
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 1788, in _fetchiter_impl
    row = fetchone(self, self.cursor)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 960, in fetchone
    self.handle_exception(result, dbapi_cursor, e)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 941, in handle_exception
    result.connection._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
sqlalchemy.exc.DatabaseError: (pyhive.exc.DatabaseError) {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.40MB, Delta: 30.34kB, Top Consumers: {HashBuilderOperator=102.40MB, PartitionedOutputOperator=7.17MB, ScanFilterAndProjectOperator=5.02MB}, Details: [{"taskId":"3.0.0","reservation":"100.39MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"4","reservations":["6.51MB","6.33MB","6.28MB","6.28MB","6.27MB","6.27MB","6.26MB","6.26MB","6.25MB","6.25MB","6.25MB","6.24MB","6.24MB","6.24MB","6.23MB","6.22MB"],"total":"100.39MB","info":"INNER;PARTITIONED;"}]},{"taskId":"7.0.0","reservation":"7.51MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"2345","reservations":["1.25MB","1.25MB","1.25MB","1.25MB"],"total":"5.01MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"2345","reservations":["1.25MB","1.25MB","1.58kB","1.58kB"],"total":"2.51MB"}]},{"taskId":"9.0.0","reservation":"2.33MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"2347","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"2347","reservations":["1.08MB"],"total":"1.08MB"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.40MB, Delta: 30.34kB, Top Consumers: {HashBuilderOperator=102.40MB, PartitionedOutputOperator=7.17MB, ScanFilterAndProjectOperator=5.02MB}, Details: [{"taskId":"3.0.0","reservation":"100.39MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"4","reservations":["6.51MB","6.33MB","6.28MB","6.28MB","6.27MB","6.27MB","6.26MB","6.26MB","6.25MB","6.25MB","6.25MB","6.24MB","6.24MB","6.24MB","6.23MB","6.22MB"],"total":"100.39MB","info":"INNER;PARTITIONED;"}]},{"taskId":"7.0.0","reservation":"7.51MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"2345","reservations":["1.25MB","1.25MB","1.25MB","1.25MB"],"total":"5.01MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"2345","reservations":["1.25MB","1.25MB","1.58kB","1.58kB"],"total":"2.51MB"}]},{"taskId":"9.0.0","reservation":"2.33MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"2347","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"2347","reservations":["1.08MB"],"total":"1.08MB"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.updateIndex(HashBuilderOperator.java:358)', 'com.facebook.presto.operator.HashBuilderOperator.addInput(HashBuilderOperator.java:345)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:428)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}
(Background on this error at: https://sqlalche.me/e/14/4xp6)



SQL name: ./benchmark/tpcds/q11.sql...
========================================
WITH
  year_total AS (
   SELECT
     "c_customer_id" "customer_id"
   , "c_first_name" "customer_first_name"
   , "c_last_name" "customer_last_name"
   , "c_preferred_cust_flag" "customer_preferred_cust_flag"
   , "c_birth_country" "customer_birth_country"
   , "c_login" "customer_login"
   , "c_email_address" "customer_email_address"
   , "d_year" "dyear"
   , "sum"(("ss_ext_list_price" - "ss_ext_discount_amt")) "year_total"
   , 's' "sale_type"
   FROM
     tpcds.tiny.customer
   , tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("c_customer_sk" = "ss_customer_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
   GROUP BY "c_customer_id", "c_first_name", "c_last_name", "c_preferred_cust_flag", "c_birth_country", "c_login", "c_email_address", "d_year"
UNION ALL    SELECT
     "c_customer_id" "customer_id"
   , "c_first_name" "customer_first_name"
   , "c_last_name" "customer_last_name"
   , "c_preferred_cust_flag" "customer_preferred_cust_flag"
   , "c_birth_country" "customer_birth_country"
   , "c_login" "customer_login"
   , "c_email_address" "customer_email_address"
   , "d_year" "dyear"
   , "sum"(("ws_ext_list_price" - "ws_ext_discount_amt")) "year_total"
   , 'w' "sale_type"
   FROM
     tpcds.tiny.customer
   , tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   WHERE ("c_customer_sk" = "ws_bill_customer_sk")
      AND ("ws_sold_date_sk" = "d_date_sk")
   GROUP BY "c_customer_id", "c_first_name", "c_last_name", "c_preferred_cust_flag", "c_birth_country", "c_login", "c_email_address", "d_year"
)
SELECT
  "t_s_secyear"."customer_id"
, "t_s_secyear"."customer_first_name"
, "t_s_secyear"."customer_last_name"
, "t_s_secyear"."customer_preferred_cust_flag"
, "t_s_secyear"."customer_birth_country"
, "t_s_secyear"."customer_login"
FROM
  year_total t_s_firstyear
, year_total t_s_secyear
, year_total t_w_firstyear
, year_total t_w_secyear
WHERE ("t_s_secyear"."customer_id" = "t_s_firstyear"."customer_id")
   AND ("t_s_firstyear"."customer_id" = "t_w_secyear"."customer_id")
   AND ("t_s_firstyear"."customer_id" = "t_w_firstyear"."customer_id")
   AND ("t_s_firstyear"."sale_type" = 's')
   AND ("t_w_firstyear"."sale_type" = 'w')
   AND ("t_s_secyear"."sale_type" = 's')
   AND ("t_w_secyear"."sale_type" = 'w')
   AND ("t_s_firstyear"."dyear" = 2001)
   AND ("t_s_secyear"."dyear" = (2001 + 1))
   AND ("t_w_firstyear"."dyear" = 2001)
   AND ("t_w_secyear"."dyear" = (2001 + 1))
   AND ("t_s_firstyear"."year_total" > 0)
   AND ("t_w_firstyear"."year_total" > 0)
   AND ((CASE WHEN ("t_w_firstyear"."year_total" > 0) THEN ("t_w_secyear"."year_total" / "t_w_firstyear"."year_total") ELSE DECIMAL '0.0' END) > (CASE WHEN ("t_s_firstyear"."year_total" > 0) THEN ("t_s_secyear"."year_total" / "t_s_firstyear"."year_total") ELSE DECIMAL '0.0' END))
ORDER BY "t_s_secyear"."customer_id" ASC, "t_s_secyear"."customer_first_name" ASC, "t_s_secyear"."customer_last_name" ASC, "t_s_secyear"."customer_preferred_cust_flag" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAABMDAAAAA', 'Jose                ', 'Guzman                        ', 'N', 'MARSHALL ISLANDS', None), ('AAAAAAAAFLAAAAAA', 'Joseph              ', 'Riley                         ', 'N', 'BELIZE', None), ('AAAAAAAAFNCAAAAA', 'Jennifer            ', 'Fitzpatrick                   ', 'N', 'UNITED ARAB EMIRATES', None), ('AAAAAAAAJCAAAAAA', 'Maxine              ', 'Carlson                       ', 'N', 'ISLE OF MAN', None), ('AAAAAAAAJGBAAAAA', 'Bonnie              ', 'Harrison                      ', 'Y', 'EL SALVADOR', None)]


SQL name: ./benchmark/tpcds/q12.sql...
========================================
SELECT
  "i_item_id"
, "i_item_desc"
, "i_category"
, "i_class"
, "i_current_price"
, "sum"("ws_ext_sales_price") "tpcds.tiny.itemrevenue"
, (("sum"("ws_ext_sales_price") * 100) / "sum"("sum"("ws_ext_sales_price")) OVER (PARTITION BY "i_class")) "revenueratio"
FROM
  tpcds.tiny.web_sales
, tpcds.tiny.item
, tpcds.tiny.date_dim
WHERE ("ws_item_sk" = "i_item_sk")
   AND ("i_category" IN ('Sports', 'Books', 'Home'))
   AND ("ws_sold_date_sk" = "d_date_sk")
   AND (CAST("d_date" AS DATE) BETWEEN CAST('1999-02-22' AS DATE) AND (CAST('1999-02-22' AS DATE) + INTERVAL  '30' DAY))
GROUP BY "i_item_id", "i_item_desc", "i_category", "i_class", "i_current_price"
ORDER BY "i_category" ASC, "i_class" ASC, "i_item_id" ASC, "i_item_desc" ASC, "revenueratio" ASC
LIMIT 100



Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1815, in _execute_context
    result = context._setup_result_proxy()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1409, in _setup_result_proxy
    result = self._setup_dml_or_text_result()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1491, in _setup_dml_or_text_result
    strategy.alternate_cursor_description or self.cursor.description
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 225, in description
    self._fetch_while(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': 'Division by zero', 'errorCode': 8, 'errorName': 'DIVISION_BY_ZERO', 'errorType': 'USER_ERROR', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.spi.PrestoException', 'message': 'Division by zero', 'suppressed': [], 'stack': ['com.facebook.presto.type.DecimalOperators.divideLongLongLong(DecimalOperators.java:414)', 'com.facebook.presto.$gen.PageProjectionWork_20211021_030205_308.evaluate(Unknown Source)', 'com.facebook.presto.$gen.PageProjectionWork_20211021_030205_308.process(Unknown Source)', 'com.facebook.presto.operator.project.PageProcessor$ProjectSelectedPositions.processBatch(PageProcessor.java:326)', 'com.facebook.presto.operator.project.PageProcessor$ProjectSelectedPositions.process(PageProcessor.java:197)', 'com.facebook.presto.operator.WorkProcessorUtils$ProcessWorkProcessor.process(WorkProcessorUtils.java:315)', 'com.facebook.presto.operator.WorkProcessorUtils$YieldingIterator.computeNext(WorkProcessorUtils.java:79)', 'com.facebook.presto.operator.WorkProcessorUtils$YieldingIterator.computeNext(WorkProcessorUtils.java:65)', 'com.google.common.collect.AbstractIterator.tryToComputeNext(AbstractIterator.java:141)', 'com.google.common.collect.AbstractIterator.hasNext(AbstractIterator.java:136)', 'com.facebook.presto.operator.project.MergingPageOutput.getOutput(MergingPageOutput.java:113)', 'com.facebook.presto.operator.FilterAndProjectOperator.getOutput(FilterAndProjectOperator.java:102)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:418)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 13, in <module>
    rs = conn.execute(sql)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1271, in execute
    return self._exec_driver_sql(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1575, in _exec_driver_sql
    ret = self._execute_context(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1842, in _execute_context
    self._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1815, in _execute_context
    result = context._setup_result_proxy()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1409, in _setup_result_proxy
    result = self._setup_dml_or_text_result()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1491, in _setup_dml_or_text_result
    strategy.alternate_cursor_description or self.cursor.description
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 225, in description
    self._fetch_while(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
sqlalchemy.exc.DatabaseError: (pyhive.exc.DatabaseError) {'message': 'Division by zero', 'errorCode': 8, 'errorName': 'DIVISION_BY_ZERO', 'errorType': 'USER_ERROR', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.spi.PrestoException', 'message': 'Division by zero', 'suppressed': [], 'stack': ['com.facebook.presto.type.DecimalOperators.divideLongLongLong(DecimalOperators.java:414)', 'com.facebook.presto.$gen.PageProjectionWork_20211021_030205_308.evaluate(Unknown Source)', 'com.facebook.presto.$gen.PageProjectionWork_20211021_030205_308.process(Unknown Source)', 'com.facebook.presto.operator.project.PageProcessor$ProjectSelectedPositions.processBatch(PageProcessor.java:326)', 'com.facebook.presto.operator.project.PageProcessor$ProjectSelectedPositions.process(PageProcessor.java:197)', 'com.facebook.presto.operator.WorkProcessorUtils$ProcessWorkProcessor.process(WorkProcessorUtils.java:315)', 'com.facebook.presto.operator.WorkProcessorUtils$YieldingIterator.computeNext(WorkProcessorUtils.java:79)', 'com.facebook.presto.operator.WorkProcessorUtils$YieldingIterator.computeNext(WorkProcessorUtils.java:65)', 'com.google.common.collect.AbstractIterator.tryToComputeNext(AbstractIterator.java:141)', 'com.google.common.collect.AbstractIterator.hasNext(AbstractIterator.java:136)', 'com.facebook.presto.operator.project.MergingPageOutput.getOutput(MergingPageOutput.java:113)', 'com.facebook.presto.operator.FilterAndProjectOperator.getOutput(FilterAndProjectOperator.java:102)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:418)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}
[SQL: SELECT
  "i_item_id"
, "i_item_desc"
, "i_category"
, "i_class"
, "i_current_price"
, "sum"("ws_ext_sales_price") "tpcds.tiny.itemrevenue"
, (("sum"("ws_ext_sales_price") * 100) / "sum"("sum"("ws_ext_sales_price")) OVER (PARTITION BY "i_class")) "revenueratio"
FROM
  tpcds.tiny.web_sales
, tpcds.tiny.item
, tpcds.tiny.date_dim
WHERE ("ws_item_sk" = "i_item_sk")
   AND ("i_category" IN ('Sports', 'Books', 'Home'))
   AND ("ws_sold_date_sk" = "d_date_sk")
   AND (CAST("d_date" AS DATE) BETWEEN CAST('1999-02-22' AS DATE) AND (CAST('1999-02-22' AS DATE) + INTERVAL  '30' DAY))
GROUP BY "i_item_id", "i_item_desc", "i_category", "i_class", "i_current_price"
ORDER BY "i_category" ASC, "i_class" ASC, "i_item_id" ASC, "i_item_desc" ASC, "revenueratio" ASC
LIMIT 100
]
(Background on this error at: https://sqlalche.me/e/14/4xp6)



SQL name: ./benchmark/tpcds/q13.sql...
========================================
SELECT
  "avg"("ss_quantity")
, "avg"("ss_ext_sales_price")
, "avg"("ss_ext_wholesale_cost")
, "sum"("ss_ext_wholesale_cost")
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.store
, tpcds.tiny.customer_demographics
, tpcds.tiny.household_demographics
, tpcds.tiny.customer_address
, tpcds.tiny.date_dim
WHERE ("s_store_sk" = "ss_store_sk")
   AND ("ss_sold_date_sk" = "d_date_sk")
   AND ("d_year" = 2001)
   AND ((("ss_hdemo_sk" = "hd_demo_sk")
         AND ("cd_demo_sk" = "ss_cdemo_sk")
         AND ("cd_marital_status" = 'M')
         AND ("cd_education_status" = 'Advanced Degree')
         AND ("ss_sales_price" BETWEEN DECIMAL '100.00' AND DECIMAL '150.00')
         AND ("hd_dep_count" = 3))
      OR (("ss_hdemo_sk" = "hd_demo_sk")
         AND ("cd_demo_sk" = "ss_cdemo_sk")
         AND ("cd_marital_status" = 'S')
         AND ("cd_education_status" = 'College')
         AND ("ss_sales_price" BETWEEN DECIMAL '50.00' AND DECIMAL '100.00')
         AND ("hd_dep_count" = 1))
      OR (("ss_hdemo_sk" = "hd_demo_sk")
         AND ("cd_demo_sk" = "ss_cdemo_sk")
         AND ("cd_marital_status" = 'W')
         AND ("cd_education_status" = '2 yr Degree')
         AND ("ss_sales_price" BETWEEN DECIMAL '150.00' AND DECIMAL '200.00')
         AND ("hd_dep_count" = 1)))
   AND ((("ss_addr_sk" = "ca_address_sk")
         AND ("ca_country" = 'United States')
         AND ("ca_state" IN ('TX'      , 'OH'      , 'TX'))
         AND ("ss_net_profit" BETWEEN 100 AND 200))
      OR (("ss_addr_sk" = "ca_address_sk")
         AND ("ca_country" = 'United States')
         AND ("ca_state" IN ('OR'      , 'NM'      , 'KY'))
         AND ("ss_net_profit" BETWEEN 150 AND 300))
      OR (("ss_addr_sk" = "ca_address_sk")
         AND ("ca_country" = 'United States')
         AND ("ca_state" IN ('VA'      , 'TX'      , 'MS'))
         AND ("ss_net_profit" BETWEEN 50 AND 250)))

Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 101.85MB, Delta: 1.10MB, Top Consumers: {HashBuilderOperator=101.85MB, PartitionedOutputOperator=3.90MB, ExchangeOperator=1.14MB}, Details: [{"taskId":"4.0.0","reservation":"93.58MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"128","reservations":["6.14MB","6.14MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.12MB","6.12MB","6.12MB","6.11MB","6.11MB","5.03MB","5.02MB","5.02MB","5.02MB"],"total":"93.58MB","info":"INNER;PARTITIONED;"}]},{"taskId":"5.0.0","reservation":"4.65MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"1063","reservations":["1.63MB","1.02MB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.65MB"},{"type":"HashBuilderOperator","planNodeId":"136","reservations":["128.40kB","128.40kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB"],"total":"2.00MB","info":"INNER;PARTITIONED;"},{"type":"FilterAndProjectOperator","planNodeId":"1063","reservations":["1.30kB","1.30kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.59kB"}]},{"taskId":"3.0.0","reservation":"2.21MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"120","reservations":["142.04kB","142.01kB","141.91kB","141.91kB","141.87kB","141.81kB","141.81kB","141.79kB","141.75kB","141.73kB","141.69kB","141.67kB","141.58kB","141.32kB","141.11kB","140.66kB"],"total":"2.21MB","info":"INNER;PARTITIONED;"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 101.85MB, Delta: 1.10MB, Top Consumers: {HashBuilderOperator=101.85MB, PartitionedOutputOperator=3.90MB, ExchangeOperator=1.14MB}, Details: [{"taskId":"4.0.0","reservation":"93.58MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"128","reservations":["6.14MB","6.14MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.12MB","6.12MB","6.12MB","6.11MB","6.11MB","5.03MB","5.02MB","5.02MB","5.02MB"],"total":"93.58MB","info":"INNER;PARTITIONED;"}]},{"taskId":"5.0.0","reservation":"4.65MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"1063","reservations":["1.63MB","1.02MB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.65MB"},{"type":"HashBuilderOperator","planNodeId":"136","reservations":["128.40kB","128.40kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB"],"total":"2.00MB","info":"INNER;PARTITIONED;"},{"type":"FilterAndProjectOperator","planNodeId":"1063","reservations":["1.30kB","1.30kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.59kB"}]},{"taskId":"3.0.0","reservation":"2.21MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"120","reservations":["142.04kB","142.01kB","141.91kB","141.91kB","141.87kB","141.81kB","141.81kB","141.79kB","141.75kB","141.73kB","141.69kB","141.67kB","141.58kB","141.32kB","141.11kB","140.66kB"],"total":"2.21MB","info":"INNER;PARTITIONED;"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.finishInput(HashBuilderOperator.java:503)', 'com.facebook.presto.operator.HashBuilderOperator.finish(HashBuilderOperator.java:454)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:441)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 15, in <module>
    for row in rs:
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/result.py", line 381, in iterrows
    for row in self._fetchiter_impl():
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 1788, in _fetchiter_impl
    row = fetchone(self, self.cursor)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 960, in fetchone
    self.handle_exception(result, dbapi_cursor, e)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 941, in handle_exception
    result.connection._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
sqlalchemy.exc.DatabaseError: (pyhive.exc.DatabaseError) {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 101.85MB, Delta: 1.10MB, Top Consumers: {HashBuilderOperator=101.85MB, PartitionedOutputOperator=3.90MB, ExchangeOperator=1.14MB}, Details: [{"taskId":"4.0.0","reservation":"93.58MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"128","reservations":["6.14MB","6.14MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.12MB","6.12MB","6.12MB","6.11MB","6.11MB","5.03MB","5.02MB","5.02MB","5.02MB"],"total":"93.58MB","info":"INNER;PARTITIONED;"}]},{"taskId":"5.0.0","reservation":"4.65MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"1063","reservations":["1.63MB","1.02MB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.65MB"},{"type":"HashBuilderOperator","planNodeId":"136","reservations":["128.40kB","128.40kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB"],"total":"2.00MB","info":"INNER;PARTITIONED;"},{"type":"FilterAndProjectOperator","planNodeId":"1063","reservations":["1.30kB","1.30kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.59kB"}]},{"taskId":"3.0.0","reservation":"2.21MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"120","reservations":["142.04kB","142.01kB","141.91kB","141.91kB","141.87kB","141.81kB","141.81kB","141.79kB","141.75kB","141.73kB","141.69kB","141.67kB","141.58kB","141.32kB","141.11kB","140.66kB"],"total":"2.21MB","info":"INNER;PARTITIONED;"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 101.85MB, Delta: 1.10MB, Top Consumers: {HashBuilderOperator=101.85MB, PartitionedOutputOperator=3.90MB, ExchangeOperator=1.14MB}, Details: [{"taskId":"4.0.0","reservation":"93.58MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"128","reservations":["6.14MB","6.14MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.12MB","6.12MB","6.12MB","6.11MB","6.11MB","5.03MB","5.02MB","5.02MB","5.02MB"],"total":"93.58MB","info":"INNER;PARTITIONED;"}]},{"taskId":"5.0.0","reservation":"4.65MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"1063","reservations":["1.63MB","1.02MB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.65MB"},{"type":"HashBuilderOperator","planNodeId":"136","reservations":["128.40kB","128.40kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB"],"total":"2.00MB","info":"INNER;PARTITIONED;"},{"type":"FilterAndProjectOperator","planNodeId":"1063","reservations":["1.30kB","1.30kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.59kB"}]},{"taskId":"3.0.0","reservation":"2.21MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"120","reservations":["142.04kB","142.01kB","141.91kB","141.91kB","141.87kB","141.81kB","141.81kB","141.79kB","141.75kB","141.73kB","141.69kB","141.67kB","141.58kB","141.32kB","141.11kB","140.66kB"],"total":"2.21MB","info":"INNER;PARTITIONED;"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.finishInput(HashBuilderOperator.java:503)', 'com.facebook.presto.operator.HashBuilderOperator.finish(HashBuilderOperator.java:454)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:441)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}
(Background on this error at: https://sqlalche.me/e/14/4xp6)



SQL name: ./benchmark/tpcds/q14_1.sql...
========================================
WITH
  cross_items AS (
   SELECT "i_item_sk" "ss_item_sk"
   FROM
     tpcds.tiny.item
   , (
      SELECT
        "iss"."i_brand_id" "brand_id"
      , "iss"."i_class_id" "class_id"
      , "iss"."i_category_id" "category_id"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.item iss
      , tpcds.tiny.date_dim d1
      WHERE ("ss_item_sk" = "iss"."i_item_sk")
         AND ("ss_sold_date_sk" = "d1"."d_date_sk")
         AND ("d1"."d_year" BETWEEN 1999 AND (1999 + 2))
INTERSECT       SELECT
        "ics"."i_brand_id"
      , "ics"."i_class_id"
      , "ics"."i_category_id"
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.item ics
      , tpcds.tiny.date_dim d2
      WHERE ("cs_item_sk" = "ics"."i_item_sk")
         AND ("cs_sold_date_sk" = "d2"."d_date_sk")
         AND ("d2"."d_year" BETWEEN 1999 AND (1999 + 2))
INTERSECT       SELECT
        "iws"."i_brand_id"
      , "iws"."i_class_id"
      , "iws"."i_category_id"
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.item iws
      , tpcds.tiny.date_dim d3
      WHERE ("ws_item_sk" = "iws"."i_item_sk")
         AND ("ws_sold_date_sk" = "d3"."d_date_sk")
         AND ("d3"."d_year" BETWEEN 1999 AND (1999 + 2))
   )
   WHERE ("i_brand_id" = "brand_id")
      AND ("i_class_id" = "class_id")
      AND ("i_category_id" = "category_id")
)
, avg_sales AS (
   SELECT "avg"(("quantity" * "list_price")) "average_sales"
   FROM
     (
      SELECT
        "ss_quantity" "quantity"
      , "ss_list_price" "list_price"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.date_dim
      WHERE ("ss_sold_date_sk" = "d_date_sk")
         AND ("d_year" BETWEEN 1999 AND (1999 + 2))
UNION ALL       SELECT
        "cs_quantity" "quantity"
      , "cs_list_price" "list_price"
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.date_dim
      WHERE ("cs_sold_date_sk" = "d_date_sk")
         AND ("d_year" BETWEEN 1999 AND (1999 + 2))
UNION ALL       SELECT
        "ws_quantity" "quantity"
      , "ws_list_price" "list_price"
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.date_dim
      WHERE ("ws_sold_date_sk" = "d_date_sk")
         AND ("d_year" BETWEEN 1999 AND (1999 + 2))
   )  x
)
SELECT
  "channel"
, "i_brand_id"
, "i_class_id"
, "i_category_id"
, "sum"("sales")
, "sum"("number_sales")
FROM
  (
   SELECT
     'tpcds.tiny.store' "channel"
   , "i_brand_id"
   , "i_class_id"
   , "i_category_id"
   , "sum"(("ss_quantity" * "ss_list_price")) "sales"
   , "count"(*) "number_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ss_item_sk" IN (
      SELECT "ss_item_sk"
      FROM
        cross_items
   ))
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_year" = (1999 + 2))
      AND ("d_moy" = 11)
   GROUP BY "i_brand_id", "i_class_id", "i_category_id"
   HAVING ("sum"(("ss_quantity" * "ss_list_price")) > (
         SELECT "average_sales"
         FROM
           avg_sales
      ))
UNION ALL    SELECT
     'catalog' "channel"
   , "i_brand_id"
   , "i_class_id"
   , "i_category_id"
   , "sum"(("cs_quantity" * "cs_list_price")) "sales"
   , "count"(*) "number_sales"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("cs_item_sk" IN (
      SELECT "ss_item_sk"
      FROM
        cross_items
   ))
      AND ("cs_item_sk" = "i_item_sk")
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("d_year" = (1999 + 2))
      AND ("d_moy" = 11)
   GROUP BY "i_brand_id", "i_class_id", "i_category_id"
   HAVING ("sum"(("cs_quantity" * "cs_list_price")) > (
         SELECT "average_sales"
         FROM
           avg_sales
      ))
UNION ALL    SELECT
     'web' "channel"
   , "i_brand_id"
   , "i_class_id"
   , "i_category_id"
   , "sum"(("ws_quantity" * "ws_list_price")) "sales"
   , "count"(*) "number_sales"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ws_item_sk" IN (
      SELECT "ss_item_sk"
      FROM
        cross_items
   ))
      AND ("ws_item_sk" = "i_item_sk")
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("d_year" = (1999 + 2))
      AND ("d_moy" = 11)
   GROUP BY "i_brand_id", "i_class_id", "i_category_id"
   HAVING ("sum"(("ws_quantity" * "ws_list_price")) > (
         SELECT "average_sales"
         FROM
           avg_sales
      ))
)  y
GROUP BY ROLLUP (channel, i_brand_id, i_class_id, i_category_id)
ORDER BY "channel" ASC, "i_brand_id" ASC, "i_class_id" ASC, "i_category_id" ASC
LIMIT 100

Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1815, in _execute_context
    result = context._setup_result_proxy()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1409, in _setup_result_proxy
    result = self._setup_dml_or_text_result()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1491, in _setup_dml_or_text_result
    strategy.alternate_cursor_description or self.cursor.description
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 225, in description
    self._fetch_while(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': "Number of stages in the query (102) exceeds the allowed maximum (100). If the query contains multiple DISTINCTs, please set the 'use_mark_distinct' session property to false. If the query contains multiple CTEs that are referenced more than once, please create temporary table(s) for one or more of the CTEs.", 'errorCode': 40, 'errorName': 'QUERY_HAS_TOO_MANY_STAGES', 'errorType': 'USER_ERROR', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.spi.PrestoException', 'message': "Number of stages in the query (102) exceeds the allowed maximum (100). If the query contains multiple DISTINCTs, please set the 'use_mark_distinct' session property to false. If the query contains multiple CTEs that are referenced more than once, please create temporary table(s) for one or more of the CTEs.", 'suppressed': [], 'stack': ['com.facebook.presto.sql.planner.PlanFragmenter.sanityCheckFragmentedPlan(PlanFragmenter.java:226)', 'com.facebook.presto.sql.planner.PlanFragmenter.createSubPlans(PlanFragmenter.java:205)', 'com.facebook.presto.execution.SqlQueryExecution.doAnalyzeQuery(SqlQueryExecution.java:455)', 'com.facebook.presto.execution.SqlQueryExecution.analyzeQuery(SqlQueryExecution.java:427)', 'com.facebook.presto.execution.SqlQueryExecution.start(SqlQueryExecution.java:363)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'com.facebook.presto.execution.SqlQueryManager.createQuery(SqlQueryManager.java:266)', 'com.facebook.presto.dispatcher.LocalDispatchQuery.lambda$startExecution$7(LocalDispatchQuery.java:192)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 13, in <module>
    rs = conn.execute(sql)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1271, in execute
    return self._exec_driver_sql(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1575, in _exec_driver_sql
    ret = self._execute_context(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1842, in _execute_context
    self._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1815, in _execute_context
    result = context._setup_result_proxy()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1409, in _setup_result_proxy
    result = self._setup_dml_or_text_result()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1491, in _setup_dml_or_text_result
    strategy.alternate_cursor_description or self.cursor.description
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 225, in description
    self._fetch_while(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
sqlalchemy.exc.DatabaseError: (pyhive.exc.DatabaseError) {'message': "Number of stages in the query (102) exceeds the allowed maximum (100). If the query contains multiple DISTINCTs, please set the 'use_mark_distinct' session property to false. If the query contains multiple CTEs that are referenced more than once, please create temporary table(s) for one or more of the CTEs.", 'errorCode': 40, 'errorName': 'QUERY_HAS_TOO_MANY_STAGES', 'errorType': 'USER_ERROR', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.spi.PrestoException', 'message': "Number of stages in the query (102) exceeds the allowed maximum (100). If the query contains multiple DISTINCTs, please set the 'use_mark_distinct' session property to false. If the query contains multiple CTEs that are referenced more than once, please create temporary table(s) for one or more of the CTEs.", 'suppressed': [], 'stack': ['com.facebook.presto.sql.planner.PlanFragmenter.sanityCheckFragmentedPlan(PlanFragmenter.java:226)', 'com.facebook.presto.sql.planner.PlanFragmenter.createSubPlans(PlanFragmenter.java:205)', 'com.facebook.presto.execution.SqlQueryExecution.doAnalyzeQuery(SqlQueryExecution.java:455)', 'com.facebook.presto.execution.SqlQueryExecution.analyzeQuery(SqlQueryExecution.java:427)', 'com.facebook.presto.execution.SqlQueryExecution.start(SqlQueryExecution.java:363)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'com.facebook.presto.execution.SqlQueryManager.createQuery(SqlQueryManager.java:266)', 'com.facebook.presto.dispatcher.LocalDispatchQuery.lambda$startExecution$7(LocalDispatchQuery.java:192)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}
[SQL: WITH
  cross_items AS (
   SELECT "i_item_sk" "ss_item_sk"
   FROM
     tpcds.tiny.item
   , (
      SELECT
        "iss"."i_brand_id" "brand_id"
      , "iss"."i_class_id" "class_id"
      , "iss"."i_category_id" "category_id"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.item iss
      , tpcds.tiny.date_dim d1
      WHERE ("ss_item_sk" = "iss"."i_item_sk")
         AND ("ss_sold_date_sk" = "d1"."d_date_sk")
         AND ("d1"."d_year" BETWEEN 1999 AND (1999 + 2))
INTERSECT       SELECT
        "ics"."i_brand_id"
      , "ics"."i_class_id"
      , "ics"."i_category_id"
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.item ics
      , tpcds.tiny.date_dim d2
      WHERE ("cs_item_sk" = "ics"."i_item_sk")
         AND ("cs_sold_date_sk" = "d2"."d_date_sk")
         AND ("d2"."d_year" BETWEEN 1999 AND (1999 + 2))
INTERSECT       SELECT
        "iws"."i_brand_id"
      , "iws"."i_class_id"
      , "iws"."i_category_id"
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.item iws
      , tpcds.tiny.date_dim d3
      WHERE ("ws_item_sk" = "iws"."i_item_sk")
         AND ("ws_sold_date_sk" = "d3"."d_date_sk")
         AND ("d3"."d_year" BETWEEN 1999 AND (1999 + 2))
   )
   WHERE ("i_brand_id" = "brand_id")
      AND ("i_class_id" = "class_id")
      AND ("i_category_id" = "category_id")
)
, avg_sales AS (
   SELECT "avg"(("quantity" * "list_price")) "average_sales"
   FROM
     (
      SELECT
        "ss_quantity" "quantity"
      , "ss_list_price" "list_price"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.date_dim
      WHERE ("ss_sold_date_sk" = "d_date_sk")
         AND ("d_year" BETWEEN 1999 AND (1999 + 2))
UNION ALL       SELECT
        "cs_quantity" "quantity"
      , "cs_list_price" "list_price"
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.date_dim
      WHERE ("cs_sold_date_sk" = "d_date_sk")
         AND ("d_year" BETWEEN 1999 AND (1999 + 2))
UNION ALL       SELECT
        "ws_quantity" "quantity"
      , "ws_list_price" "list_price"
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.date_dim
      WHERE ("ws_sold_date_sk" = "d_date_sk")
         AND ("d_year" BETWEEN 1999 AND (1999 + 2))
   )  x
)
SELECT
  "channel"
, "i_brand_id"
, "i_class_id"
, "i_category_id"
, "sum"("sales")
, "sum"("number_sales")
FROM
  (
   SELECT
     'tpcds.tiny.store' "channel"
   , "i_brand_id"
   , "i_class_id"
   , "i_category_id"
   , "sum"(("ss_quantity" * "ss_list_price")) "sales"
   , "count"(*) "number_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ss_item_sk" IN (
      SELECT "ss_item_sk"
      FROM
        cross_items
   ))
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_year" = (1999 + 2))
      AND ("d_moy" = 11)
   GROUP BY "i_brand_id", "i_class_id", "i_category_id"
   HAVING ("sum"(("ss_quantity" * "ss_list_price")) > (
         SELECT "average_sales"
         FROM
           avg_sales
      ))
UNION ALL    SELECT
     'catalog' "channel"
   , "i_brand_id"
   , "i_class_id"
   , "i_category_id"
   , "sum"(("cs_quantity" * "cs_list_price")) "sales"
   , "count"(*) "number_sales"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("cs_item_sk" IN (
      SELECT "ss_item_sk"
      FROM
        cross_items
   ))
      AND ("cs_item_sk" = "i_item_sk")
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("d_year" = (1999 + 2))
      AND ("d_moy" = 11)
   GROUP BY "i_brand_id", "i_class_id", "i_category_id"
   HAVING ("sum"(("cs_quantity" * "cs_list_price")) > (
         SELECT "average_sales"
         FROM
           avg_sales
      ))
UNION ALL    SELECT
     'web' "channel"
   , "i_brand_id"
   , "i_class_id"
   , "i_category_id"
   , "sum"(("ws_quantity" * "ws_list_price")) "sales"
   , "count"(*) "number_sales"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ws_item_sk" IN (
      SELECT "ss_item_sk"
      FROM
        cross_items
   ))
      AND ("ws_item_sk" = "i_item_sk")
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("d_year" = (1999 + 2))
      AND ("d_moy" = 11)
   GROUP BY "i_brand_id", "i_class_id", "i_category_id"
   HAVING ("sum"(("ws_quantity" * "ws_list_price")) > (
         SELECT "average_sales"
         FROM
           avg_sales
      ))
)  y
GROUP BY ROLLUP (channel, i_brand_id, i_class_id, i_category_id)
ORDER BY "channel" ASC, "i_brand_id" ASC, "i_class_id" ASC, "i_category_id" ASC
LIMIT 100
]
(Background on this error at: https://sqlalche.me/e/14/4xp6)



SQL name: ./benchmark/tpcds/q14_2.sql...
========================================
WITH
  cross_items AS (
   SELECT "i_item_sk" "ss_item_sk"
   FROM
     tpcds.tiny.item
   , (
      SELECT
        "iss"."i_brand_id" "brand_id"
      , "iss"."i_class_id" "class_id"
      , "iss"."i_category_id" "category_id"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.item iss
      , tpcds.tiny.date_dim d1
      WHERE ("ss_item_sk" = "iss"."i_item_sk")
         AND ("ss_sold_date_sk" = "d1"."d_date_sk")
         AND ("d1"."d_year" BETWEEN 1999 AND (1999 + 2))
INTERSECT       SELECT
        "ics"."i_brand_id"
      , "ics"."i_class_id"
      , "ics"."i_category_id"
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.item ics
      , tpcds.tiny.date_dim d2
      WHERE ("cs_item_sk" = "ics"."i_item_sk")
         AND ("cs_sold_date_sk" = "d2"."d_date_sk")
         AND ("d2"."d_year" BETWEEN 1999 AND (1999 + 2))
INTERSECT       SELECT
        "iws"."i_brand_id"
      , "iws"."i_class_id"
      , "iws"."i_category_id"
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.item iws
      , tpcds.tiny.date_dim d3
      WHERE ("ws_item_sk" = "iws"."i_item_sk")
         AND ("ws_sold_date_sk" = "d3"."d_date_sk")
         AND ("d3"."d_year" BETWEEN 1999 AND (1999 + 2))
   )  x
   WHERE ("i_brand_id" = "brand_id")
      AND ("i_class_id" = "class_id")
      AND ("i_category_id" = "category_id")
)
, avg_sales AS (
   SELECT "avg"(("quantity" * "list_price")) "average_sales"
   FROM
     (
      SELECT
        "ss_quantity" "quantity"
      , "ss_list_price" "list_price"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.date_dim
      WHERE ("ss_sold_date_sk" = "d_date_sk")
         AND ("d_year" BETWEEN 1999 AND (1999 + 2))
UNION ALL       SELECT
        "cs_quantity" "quantity"
      , "cs_list_price" "list_price"
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.date_dim
      WHERE ("cs_sold_date_sk" = "d_date_sk")
         AND ("d_year" BETWEEN 1999 AND (1999 + 2))
UNION ALL       SELECT
        "ws_quantity" "quantity"
      , "ws_list_price" "list_price"
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.date_dim
      WHERE ("ws_sold_date_sk" = "d_date_sk")
         AND ("d_year" BETWEEN 1999 AND (1999 + 2))
   )
)
SELECT *
FROM
  (
   SELECT
     'tpcds.tiny.store' "channel"
   , "i_brand_id"
   , "i_class_id"
   , "i_category_id"
   , "sum"(("ss_quantity" * "ss_list_price")) "sales"
   , "count"(*) "number_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ss_item_sk" IN (
      SELECT "ss_item_sk"
      FROM
        cross_items
   ))
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_week_seq" = (
         SELECT "d_week_seq"
         FROM
           tpcds.tiny.date_dim
         WHERE ("d_year" = (1999 + 1))
            AND ("d_moy" = 12)
            AND ("d_dom" = 11)
      ))
   GROUP BY "i_brand_id", "i_class_id", "i_category_id"
   HAVING ("sum"(("ss_quantity" * "ss_list_price")) > (
         SELECT "average_sales"
         FROM
           avg_sales
      ))
)  this_year
, (
   SELECT
     'tpcds.tiny.store' "channel"
   , "i_brand_id"
   , "i_class_id"
   , "i_category_id"
   , "sum"(("ss_quantity" * "ss_list_price")) "sales"
   , "count"(*) "number_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ss_item_sk" IN (
      SELECT "ss_item_sk"
      FROM
        cross_items
   ))
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_week_seq" = (
         SELECT "d_week_seq"
         FROM
           tpcds.tiny.date_dim
         WHERE ("d_year" = 1999)
            AND ("d_moy" = 12)
            AND ("d_dom" = 11)
      ))
   GROUP BY "i_brand_id", "i_class_id", "i_category_id"
   HAVING ("sum"(("ss_quantity" * "ss_list_price")) > (
         SELECT "average_sales"
         FROM
           avg_sales
      ))
)  last_year
WHERE ("this_year"."i_brand_id" = "last_year"."i_brand_id")
   AND ("this_year"."i_class_id" = "last_year"."i_class_id")
   AND ("this_year"."i_category_id" = "last_year"."i_category_id")
ORDER BY "this_year"."channel" ASC, "this_year"."i_brand_id" ASC, "this_year"."i_class_id" ASC, "this_year"."i_category_id" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('tpcds.tiny.store', 1001001, 1, 1, '21153.40', 6, 'tpcds.tiny.store', 1001001, 1, 1, '66330.36', 21), ('tpcds.tiny.store', 1001002, 1, 1, '51720.98', 9, 'tpcds.tiny.store', 1001002, 1, 1, '23645.98', 9), ('tpcds.tiny.store', 1002001, 2, 1, '21807.26', 7, 'tpcds.tiny.store', 1002001, 2, 1, '72820.44', 17), ('tpcds.tiny.store', 1002002, 2, 1, '77160.97', 24, 'tpcds.tiny.store', 1002002, 2, 1, '43957.64', 11), ('tpcds.tiny.store', 1003001, 3, 1, '12908.23', 5, 'tpcds.tiny.store', 1003001, 3, 1, '66030.07', 15)]


SQL name: ./benchmark/tpcds/q15.sql...
========================================
SELECT
  "ca_zip"
, "sum"("cs_sales_price")
FROM
  tpcds.tiny.catalog_sales
, tpcds.tiny.customer
, tpcds.tiny.customer_address
, tpcds.tiny.date_dim
WHERE ("cs_bill_customer_sk" = "c_customer_sk")
   AND ("c_current_addr_sk" = "ca_address_sk")
   AND (("substr"("ca_zip", 1, 5) IN ('85669'   , '86197'   , '88274'   , '83405'   , '86475'   , '85392'   , '85460'   , '80348'   , '81792'))
      OR ("ca_state" IN ('CA'   , 'WA'   , 'GA'))
      OR ("cs_sales_price" > 500))
   AND ("cs_sold_date_sk" = "d_date_sk")
   AND ("d_qoy" = 2)
   AND ("d_year" = 2001)
GROUP BY "ca_zip"
ORDER BY "ca_zip" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('30059     ', '581.35'), ('30399     ', '1175.80'), ('30411     ', '1307.33'), ('30534     ', '244.73'), ('32293     ', '731.64')]


SQL name: ./benchmark/tpcds/q16.sql...
========================================
SELECT
  "count"(DISTINCT "cs_order_number") "order count"
, "sum"("cs_ext_ship_cost") "total shipping cost"
, "sum"("cs_net_profit") "total net profit"
FROM
  tpcds.tiny.catalog_sales cs1
, tpcds.tiny.date_dim
, tpcds.tiny.customer_address
, tpcds.tiny.call_center
WHERE ("d_date" BETWEEN CAST('2002-2-01' AS DATE) AND (CAST('2002-2-01' AS DATE) + INTERVAL  '60' DAY))
   AND ("cs1"."cs_ship_date_sk" = "d_date_sk")
   AND ("cs1"."cs_ship_addr_sk" = "ca_address_sk")
   AND ("ca_state" = 'GA')
   AND ("cs1"."cs_call_center_sk" = "cc_call_center_sk")
   AND ("cc_county" IN ('Williamson County', 'Williamson County', 'Williamson County', 'Williamson County', 'Williamson County'))
   AND (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.catalog_sales cs2
   WHERE ("cs1"."cs_order_number" = "cs2"."cs_order_number")
      AND ("cs1"."cs_warehouse_sk" <> "cs2"."cs_warehouse_sk")
))
   AND (NOT (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.catalog_returns cr1
   WHERE ("cs1"."cs_order_number" = "cr1"."cr_order_number")
)))
ORDER BY "count"(DISTINCT "cs_order_number") ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(0, None, None)]


SQL name: ./benchmark/tpcds/q17.sql...
========================================
SELECT
  "i_item_id"
, "i_item_desc"
, "s_state"
, "count"("ss_quantity") "store_sales_quantitycount"
, "avg"("ss_quantity") "store_sales_quantityave"
, "stddev_samp"("ss_quantity") "store_sales_quantitystdev"
, ("stddev_samp"("ss_quantity") / "avg"("ss_quantity")) "store_sales_quantitycov"
, "count"("sr_return_quantity") "store_returns_quantitycount"
, "avg"("sr_return_quantity") "store_returns_quantityave"
, "stddev_samp"("sr_return_quantity") "store_returns_quantitystdev"
, ("stddev_samp"("sr_return_quantity") / "avg"("sr_return_quantity")) "store_returns_quantitycov"
, "count"("cs_quantity") "catalog_sales_quantitycount"
, "avg"("cs_quantity") "catalog_sales_quantityave"
, "stddev_samp"("cs_quantity") "catalog_sales_quantitystdev"
, ("stddev_samp"("cs_quantity") / "avg"("cs_quantity")) "catalog_sales_quantitycov"
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.store_returns
, tpcds.tiny.catalog_sales
, tpcds.tiny.date_dim d1
, tpcds.tiny.date_dim d2
, tpcds.tiny.date_dim d3
, tpcds.tiny.store
, tpcds.tiny.item
WHERE ("d1"."d_quarter_name" = '2001Q1')
   AND ("d1"."d_date_sk" = "ss_sold_date_sk")
   AND ("i_item_sk" = "ss_item_sk")
   AND ("s_store_sk" = "ss_store_sk")
   AND ("ss_customer_sk" = "sr_customer_sk")
   AND ("ss_item_sk" = "sr_item_sk")
   AND ("ss_ticket_number" = "sr_ticket_number")
   AND ("sr_returned_date_sk" = "d2"."d_date_sk")
   AND ("d2"."d_quarter_name" IN ('2001Q1', '2001Q2', '2001Q3'))
   AND ("sr_customer_sk" = "cs_bill_customer_sk")
   AND ("sr_item_sk" = "cs_item_sk")
   AND ("cs_sold_date_sk" = "d3"."d_date_sk")
   AND ("d3"."d_quarter_name" IN ('2001Q1', '2001Q2', '2001Q3'))
GROUP BY "i_item_id", "i_item_desc", "s_state"
ORDER BY "i_item_id" ASC, "i_item_desc" ASC, "s_state" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAAJDBAAAAA', 'Schools check by a machines. Main units will involve hands. All large orders will not date so findings. Strongly brilliant roots reduce. Members bring behind a services. Surprisingly econom', 'TN', 1, 4.0, None, None, 1, 4.0, None, None, 1, 6.0, None, None), ('AAAAAAAAJHDAAAAA', 'Available, lucky groups spread entirely always similar societies; things shall not get at a hours. So closed birds can turn', 'TN', 1, 97.0, None, None, 1, 33.0, None, None, 1, 45.0, None, None), ('AAAAAAAALEEAAAAA', 'Terms cannot enc', 'TN', 1, 56.0, None, None, 1, 21.0, None, None, 1, 3.0, None, None), ('AAAAAAAAOFDAAAAA', 'Candidates will hold. Chief ages used to choose with the foundations; horrible, complex rates meet', 'TN', 1, 16.0, None, None, 1, 13.0, None, None, 1, 12.0, None, None), ('AAAAAAAAOIAAAAAA', 'Desperately general missiles ought to know here other far talks. New times could exercise too young months. Unpleasant, likely countries explain.', 'TN', 1, 18.0, None, None, 1, 9.0, None, None, 1, 64.0, None, None)]


SQL name: ./benchmark/tpcds/q18.sql...
========================================
SELECT
  "i_item_id"
, "ca_country"
, "ca_state"
, "ca_county"
, "avg"(CAST("cs_quantity" AS DECIMAL(12,2))) "agg1"
, "avg"(CAST("cs_list_price" AS DECIMAL(12,2))) "agg2"
, "avg"(CAST("cs_coupon_amt" AS DECIMAL(12,2))) "agg3"
, "avg"(CAST("cs_sales_price" AS DECIMAL(12,2))) "agg4"
, "avg"(CAST("cs_net_profit" AS DECIMAL(12,2))) "agg5"
, "avg"(CAST("c_birth_year" AS DECIMAL(12,2))) "agg6"
, "avg"(CAST("cd1"."cd_dep_count" AS DECIMAL(12,2))) "agg7"
FROM
  tpcds.tiny.catalog_sales
, tpcds.tiny.customer_demographics cd1
, tpcds.tiny.customer_demographics cd2
, tpcds.tiny.customer
, tpcds.tiny.customer_address
, tpcds.tiny.date_dim
, tpcds.tiny.item
WHERE ("cs_sold_date_sk" = "d_date_sk")
   AND ("cs_item_sk" = "i_item_sk")
   AND ("cs_bill_cdemo_sk" = "cd1"."cd_demo_sk")
   AND ("cs_bill_customer_sk" = "c_customer_sk")
   AND ("cd1"."cd_gender" = 'F')
   AND ("cd1"."cd_education_status" = 'Unknown')
   AND ("c_current_cdemo_sk" = "cd2"."cd_demo_sk")
   AND ("c_current_addr_sk" = "ca_address_sk")
   AND ("c_birth_month" IN (1, 6, 8, 9, 12, 2))
   AND ("d_year" = 1998)
   AND ("ca_state" IN ('MS', 'IN', 'ND', 'OK', 'NM', 'VA', 'MS'))
GROUP BY ROLLUP (i_item_id, ca_country, ca_state, ca_county)
ORDER BY "ca_country" ASC, "ca_state" ASC, "ca_county" ASC, "i_item_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAAAAFAAAAA', 'United States', 'IN', 'Jefferson County', '34.00', '54.81', '0.00', '51.52', '72.76', '1935.00', '6.00'), ('AAAAAAAAACFAAAAA', 'United States', 'IN', 'Jefferson County', '84.00', '38.86', '849.89', '24.09', '11.95', '1935.00', '6.00'), ('AAAAAAAAAEAAAAAA', 'United States', 'IN', 'Jefferson County', '53.00', '53.31', '0.00', '39.98', '1151.16', '1935.00', '2.00'), ('AAAAAAAAAJHAAAAA', 'United States', 'IN', 'Jefferson County', '90.00', '25.65', '0.00', '13.33', '-15.30', '1935.00', '6.00'), ('AAAAAAAABAAAAAAA', 'United States', 'IN', 'Jefferson County', '56.00', '131.95', '0.00', '55.41', '260.96', '1935.00', '2.00')]


SQL name: ./benchmark/tpcds/q19.sql...
========================================
SELECT
  "i_brand_id" "brand_id"
, "i_brand" "brand"
, "i_manufact_id"
, "i_manufact"
, "sum"("ss_ext_sales_price") "ext_price"
FROM
  tpcds.tiny.date_dim
, tpcds.tiny.store_sales
, tpcds.tiny.item
, tpcds.tiny.customer
, tpcds.tiny.customer_address
, tpcds.tiny.store
WHERE ("d_date_sk" = "ss_sold_date_sk")
   AND ("ss_item_sk" = "i_item_sk")
   AND ("i_manager_id" = 8)
   AND ("d_moy" = 11)
   AND ("d_year" = 1998)
   AND ("ss_customer_sk" = "c_customer_sk")
   AND ("c_current_addr_sk" = "ca_address_sk")
   AND ("substr"("ca_zip", 1, 5) <> "substr"("s_zip", 1, 5))
   AND ("ss_store_sk" = "s_store_sk")
GROUP BY "i_brand", "i_brand_id", "i_manufact_id", "i_manufact"
ORDER BY "ext_price" DESC, "i_brand" ASC, "i_brand_id" ASC, "i_manufact_id" ASC, "i_manufact" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(8003007, 'exportinameless #7                                ', 85, 'antieing                                          ', '15688.10'), (9005009, 'scholarmaxi #9                                    ', 255, 'antiantiable                                      ', '13609.55'), (8012001, 'importomaxi #1                                    ', 277, 'ationationable                                    ', '11761.30'), (3001002, 'amalgexporti #2                                   ', 448, 'eingeseese                                        ', '10758.12'), (1002002, 'importoamalg #2                                   ', 50, 'baranti                                           ', '10446.47')]


SQL name: ./benchmark/tpcds/q20.sql...
========================================
SELECT
  "i_item_id"
, "i_item_desc"
, "i_category"
, "i_class"
, "i_current_price"
, "sum"("cs_ext_sales_price") "tpcds.tiny.itemrevenue"
, (("sum"("cs_ext_sales_price") * 100) / "sum"("sum"("cs_ext_sales_price")) OVER (PARTITION BY "i_class")) "revenueratio"
FROM
  tpcds.tiny.catalog_sales
, tpcds.tiny.item
, tpcds.tiny.date_dim
WHERE ("cs_item_sk" = "i_item_sk")
   AND ("i_category" IN ('Sports', 'Books', 'Home'))
   AND ("cs_sold_date_sk" = "d_date_sk")
   AND (CAST("d_date" AS DATE) BETWEEN CAST('1999-02-22' AS DATE) AND (CAST('1999-02-22' AS DATE) + INTERVAL  '30' DAY))
GROUP BY "i_item_id", "i_item_desc", "i_category", "i_class", "i_current_price"
ORDER BY "i_category" ASC, "i_class" ASC, "i_item_id" ASC, "i_item_desc" ASC, "revenueratio" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAACKEAAAAA', 'Legs appear eventually soci', 'Books                                             ', 'arts                                              ', '35.27', '2797.92', '42.94'), ('AAAAAAAAMFFAAAAA', 'Communities used to relocate clearly strange, new walls; european, rich championships make current depths. Sure studies may reflect only instinctively old forces. Foreign, diverse', 'Books                                             ', 'arts                                              ', '8.22', '150.80', '2.31'), ('AAAAAAAANIBAAAAA', 'Beneath decent wives write t', 'Books                                             ', 'arts                                              ', '2.72', '3566.52', '54.74'), ('AAAAAAAAADFAAAAA', 'Satisfactory, technical shadows get. Lexical structures would not blame. Only hard ', 'Books                                             ', 'business                                          ', '78.25', '721.68', '6.94'), ('AAAAAAAAEICAAAAA', 'Cases include proudly without a columns. Solid, pre', 'Books                                             ', 'business                                          ', '2.42', '1781.00', '17.13')]


SQL name: ./benchmark/tpcds/q21.sql...
========================================
SELECT *
FROM
  (
   SELECT
     "w_warehouse_name"
   , "i_item_id"
   , "sum"((CASE WHEN (CAST("d_date" AS DATE) < CAST('2000-03-11' AS DATE)) THEN "inv_quantity_on_hand" ELSE 0 END)) "inv_before"
   , "sum"((CASE WHEN (CAST("d_date" AS DATE) >= CAST('2000-03-11' AS DATE)) THEN "inv_quantity_on_hand" ELSE 0 END)) "inv_after"
   FROM
     tpcds.tiny.inventory
   , tpcds.tiny.warehouse
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("i_current_price" BETWEEN DECIMAL '0.99' AND DECIMAL '1.49')
      AND ("i_item_sk" = "inv_item_sk")
      AND ("inv_warehouse_sk" = "w_warehouse_sk")
      AND ("inv_date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN (CAST('2000-03-11' AS DATE) - INTERVAL  '30' DAY) AND (CAST('2000-03-11' AS DATE) + INTERVAL  '30' DAY))
   GROUP BY "w_warehouse_name", "i_item_id"
)  x
WHERE ((CASE WHEN ("inv_before" > 0) THEN (CAST("inv_after" AS DECIMAL(7,2)) / "inv_before") ELSE null END) BETWEEN (DECIMAL '2.00' / DECIMAL '3.00') AND (DECIMAL '3.00' / DECIMAL '2.00'))
ORDER BY "w_warehouse_name" ASC, "i_item_id" ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[('Conventional childr', 'AAAAAAAAAHHAAAAA', 2366, 3097), ('Conventional childr', 'AAAAAAAAAJCAAAAA', 2523, 1697), ('Conventional childr', 'AAAAAAAABKFAAAAA', 1798, 2127), ('Conventional childr', 'AAAAAAAACAAAAAAA', 1660, 1593), ('Conventional childr', 'AAAAAAAACBFAAAAA', 1794, 2661)]


SQL name: ./benchmark/tpcds/q22.sql...
========================================
SELECT
  "i_product_name"
, "i_brand"
, "i_class"
, "i_category"
, "avg"("inv_quantity_on_hand") "qoh"
FROM
  tpcds.tiny.inventory
, tpcds.tiny.date_dim
, tpcds.tiny.item
WHERE ("inv_date_sk" = "d_date_sk")
   AND ("inv_item_sk" = "i_item_sk")
   AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
GROUP BY ROLLUP (i_product_name, i_brand, i_class, i_category)
ORDER BY "qoh" ASC, "i_product_name" ASC, "i_brand" ASC, "i_class" ASC, "i_category" ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[('n stcallyable                                     ', 'exportiexporti #2                                 ', 'toddlers                                          ', 'Children                                          ', 376.40816326530614), ('n stcallyable                                     ', 'exportiexporti #2                                 ', 'toddlers                                          ', None, 376.40816326530614), ('n stcallyable                                     ', 'exportiexporti #2                                 ', None, None, 376.40816326530614), ('n stcallyable                                     ', None, None, None, 376.40816326530614), ('oughtcallycally                                   ', 'edu packamalgamalg #16                            ', 'automotive                                        ', 'Electronics                                       ', 379.1276595744681)]


SQL name: ./benchmark/tpcds/q23_1.sql...
========================================
WITH
  frequent_ss_items AS (
   SELECT
     "substr"("i_item_desc", 1, 30) "itemdesc"
   , "i_item_sk" "item_sk"
   , "d_date" "solddate"
   , "count"(*) "cnt"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.item
   WHERE ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_item_sk" = "i_item_sk")
      AND ("d_year" IN (2000   , (2000 + 1)   , (2000 + 2)   , (2000 + 3)))
   GROUP BY "substr"("i_item_desc", 1, 30), "i_item_sk", "d_date"
   HAVING ("count"(*) > 4)
)
, max_store_sales AS (
   SELECT "max"("csales") "tpcds_cmax"
   FROM
     (
      SELECT
        "c_customer_sk"
      , "sum"(("ss_quantity" * "ss_sales_price")) "csales"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.customer
      , tpcds.tiny.date_dim
      WHERE ("ss_customer_sk" = "c_customer_sk")
         AND ("ss_sold_date_sk" = "d_date_sk")
         AND ("d_year" IN (2000      , (2000 + 1)      , (2000 + 2)      , (2000 + 3)))
      GROUP BY "c_customer_sk"
   )
)
, best_ss_customer AS (
   SELECT
     "c_customer_sk"
   , "sum"(("ss_quantity" * "ss_sales_price")) "ssales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.customer
   WHERE ("ss_customer_sk" = "c_customer_sk")
   GROUP BY "c_customer_sk"
   HAVING ("sum"(("ss_quantity" * "ss_sales_price")) > ((50 / DECIMAL '100.0') * (
            SELECT *
            FROM
              max_store_sales
         )))
)
SELECT "sum"("sales")
FROM
  (
   SELECT ("cs_quantity" * "cs_list_price") "sales"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   WHERE ("d_year" = 2000)
      AND ("d_moy" = 2)
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("cs_item_sk" IN (
      SELECT "item_sk"
      FROM
        frequent_ss_items
   ))
      AND ("cs_bill_customer_sk" IN (
      SELECT "c_customer_sk"
      FROM
        best_ss_customer
   ))
UNION ALL    SELECT ("ws_quantity" * "ws_list_price") "sales"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   WHERE ("d_year" = 2000)
      AND ("d_moy" = 2)
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("ws_item_sk" IN (
      SELECT "item_sk"
      FROM
        frequent_ss_items
   ))
      AND ("ws_bill_customer_sk" IN (
      SELECT "c_customer_sk"
      FROM
        best_ss_customer
   ))
)
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(None,)]


SQL name: ./benchmark/tpcds/q23_2.sql...
========================================
WITH
  frequent_ss_items AS (
   SELECT
     "substr"("i_item_desc", 1, 30) "itemdesc"
   , "i_item_sk" "item_sk"
   , "d_date" "solddate"
   , "count"(*) "cnt"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.item
   WHERE ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_item_sk" = "i_item_sk")
      AND ("d_year" IN (2000   , (2000 + 1)   , (2000 + 2)   , (2000 + 3)))
   GROUP BY "substr"("i_item_desc", 1, 30), "i_item_sk", "d_date"
   HAVING ("count"(*) > 4)
)
, max_store_sales AS (
   SELECT "max"("csales") "tpcds_cmax"
   FROM
     (
      SELECT
        "c_customer_sk"
      , "sum"(("ss_quantity" * "ss_sales_price")) "csales"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.customer
      , tpcds.tiny.date_dim
      WHERE ("ss_customer_sk" = "c_customer_sk")
         AND ("ss_sold_date_sk" = "d_date_sk")
         AND ("d_year" IN (2000      , (2000 + 1)      , (2000 + 2)      , (2000 + 3)))
      GROUP BY "c_customer_sk"
   )
)
, best_ss_customer AS (
   SELECT
     "c_customer_sk"
   , "sum"(("ss_quantity" * "ss_sales_price")) "ssales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.customer
   WHERE ("ss_customer_sk" = "c_customer_sk")
   GROUP BY "c_customer_sk"
   HAVING ("sum"(("ss_quantity" * "ss_sales_price")) > ((50 / DECIMAL '100.0') * (
            SELECT *
            FROM
              max_store_sales
         )))
)
SELECT
  "c_last_name"
, "c_first_name"
, "sales"
FROM
  (
   SELECT
     "c_last_name"
   , "c_first_name"
   , "sum"(("cs_quantity" * "cs_list_price")) "sales"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.customer
   , tpcds.tiny.date_dim
   WHERE ("d_year" = 2000)
      AND ("d_moy" = 2)
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("cs_item_sk" IN (
      SELECT "item_sk"
      FROM
        frequent_ss_items
   ))
      AND ("cs_bill_customer_sk" IN (
      SELECT "c_customer_sk"
      FROM
        best_ss_customer
   ))
      AND ("cs_bill_customer_sk" = "c_customer_sk")
   GROUP BY "c_last_name", "c_first_name"
UNION ALL    SELECT
     "c_last_name"
   , "c_first_name"
   , "sum"(("ws_quantity" * "ws_list_price")) "sales"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.customer
   , tpcds.tiny.date_dim
   WHERE ("d_year" = 2000)
      AND ("d_moy" = 2)
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("ws_item_sk" IN (
      SELECT "item_sk"
      FROM
        frequent_ss_items
   ))
      AND ("ws_bill_customer_sk" IN (
      SELECT "c_customer_sk"
      FROM
        best_ss_customer
   ))
      AND ("ws_bill_customer_sk" = "c_customer_sk")
   GROUP BY "c_last_name", "c_first_name"
)
ORDER BY "c_last_name" ASC, "c_first_name" ASC, "sales" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q24_1.sql...
========================================
WITH
  ssales AS (
   SELECT
     "c_last_name"
   , "c_first_name"
   , "s_store_name"
   , "ca_state"
   , "s_state"
   , "i_color"
   , "i_current_price"
   , "i_manager_id"
   , "i_units"
   , "i_size"
   , "sum"("ss_net_paid") "netpaid"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.store_returns
   , tpcds.tiny.store
   , tpcds.tiny.item
   , tpcds.tiny.customer
   , tpcds.tiny.customer_address
   WHERE ("ss_ticket_number" = "sr_ticket_number")
      AND ("ss_item_sk" = "sr_item_sk")
      AND ("ss_customer_sk" = "c_customer_sk")
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("c_birth_country" = "upper"("ca_country"))
      AND ("s_zip" = "ca_zip")
      AND ("s_market_id" = 8)
   GROUP BY "c_last_name", "c_first_name", "s_store_name", "ca_state", "s_state", "i_color", "i_current_price", "i_manager_id", "i_units", "i_size"
)
SELECT
  "c_last_name"
, "c_first_name"
, "s_store_name"
, "sum"("netpaid") "paid"
FROM
  ssales
WHERE ("i_color" = 'pale')
GROUP BY "c_last_name", "c_first_name", "s_store_name"
HAVING ("sum"("netpaid") > (
      SELECT (DECIMAL '0.05' * "avg"("netpaid"))
      FROM
        ssales
   ))



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q24_2.sql...
========================================
WITH
  ssales AS (
   SELECT
     "c_last_name"
   , "c_first_name"
   , "s_store_name"
   , "ca_state"
   , "s_state"
   , "i_color"
   , "i_current_price"
   , "i_manager_id"
   , "i_units"
   , "i_size"
   , "sum"("ss_net_paid") "netpaid"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.store_returns
   , tpcds.tiny.store
   , tpcds.tiny.item
   , tpcds.tiny.customer
   , tpcds.tiny.customer_address
   WHERE ("ss_ticket_number" = "sr_ticket_number")
      AND ("ss_item_sk" = "sr_item_sk")
      AND ("ss_customer_sk" = "c_customer_sk")
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("c_birth_country" = "upper"("ca_country"))
      AND ("s_zip" = "ca_zip")
      AND ("s_market_id" = 8)
   GROUP BY "c_last_name", "c_first_name", "s_store_name", "ca_state", "s_state", "i_color", "i_current_price", "i_manager_id", "i_units", "i_size"
)
SELECT
  "c_last_name"
, "c_first_name"
, "s_store_name"
, "sum"("netpaid") "paid"
FROM
  ssales
WHERE ("i_color" = 'chiffon')
GROUP BY "c_last_name", "c_first_name", "s_store_name"
HAVING ("sum"("netpaid") > (
      SELECT (DECIMAL '0.05' * "avg"("netpaid"))
      FROM
        ssales
   ))



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q25.sql...
========================================
SELECT
  "i_item_id"
, "i_item_desc"
, "s_store_id"
, "s_store_name"
, "sum"("ss_net_profit") "store_sales_profit"
, "sum"("sr_net_loss") "store_returns_loss"
, "sum"("cs_net_profit") "catalog_sales_profit"
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.store_returns
, tpcds.tiny.catalog_sales
, tpcds.tiny.date_dim d1
, tpcds.tiny.date_dim d2
, tpcds.tiny.date_dim d3
, tpcds.tiny.store
, tpcds.tiny.item
WHERE ("d1"."d_moy" = 4)
   AND ("d1"."d_year" = 2001)
   AND ("d1"."d_date_sk" = "ss_sold_date_sk")
   AND ("i_item_sk" = "ss_item_sk")
   AND ("s_store_sk" = "ss_store_sk")
   AND ("ss_customer_sk" = "sr_customer_sk")
   AND ("ss_item_sk" = "sr_item_sk")
   AND ("ss_ticket_number" = "sr_ticket_number")
   AND ("sr_returned_date_sk" = "d2"."d_date_sk")
   AND ("d2"."d_moy" BETWEEN 4 AND 10)
   AND ("d2"."d_year" = 2001)
   AND ("sr_customer_sk" = "cs_bill_customer_sk")
   AND ("sr_item_sk" = "cs_item_sk")
   AND ("cs_sold_date_sk" = "d3"."d_date_sk")
   AND ("d3"."d_moy" BETWEEN 4 AND 10)
   AND ("d3"."d_year" = 2001)
GROUP BY "i_item_id", "i_item_desc", "s_store_id", "s_store_name"
ORDER BY "i_item_id" ASC, "i_item_desc" ASC, "s_store_id" ASC, "s_store_name" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAAFMFAAAAA', 'Normal investments would reduce indeed. Informal, apparent women cannot ensure now seriously structural fears. Previ', 'AAAAAAAACAAAAAAA', 'able', '73.48', '46.86', '17.14')]


SQL name: ./benchmark/tpcds/q26.sql...
========================================
SELECT
  "i_item_id"
, "avg"("cs_quantity") "agg1"
, "avg"("cs_list_price") "agg2"
, "avg"("cs_coupon_amt") "agg3"
, "avg"("cs_sales_price") "agg4"
FROM
  tpcds.tiny.catalog_sales
, tpcds.tiny.customer_demographics
, tpcds.tiny.date_dim
, tpcds.tiny.item
, tpcds.tiny.promotion
WHERE ("cs_sold_date_sk" = "d_date_sk")
   AND ("cs_item_sk" = "i_item_sk")
   AND ("cs_bill_cdemo_sk" = "cd_demo_sk")
   AND ("cs_promo_sk" = "p_promo_sk")
   AND ("cd_gender" = 'M')
   AND ("cd_marital_status" = 'S')
   AND ("cd_education_status" = 'College')
   AND (("p_channel_email" = 'N')
      OR ("p_channel_event" = 'N'))
   AND ("d_year" = 2000)
GROUP BY "i_item_id"
ORDER BY "i_item_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAAAAEAAAAA', 92.0, '94.93', '1086.58', '92.73'), ('AAAAAAAAABDAAAAA', 80.0, '155.90', '0.00', '143.42'), ('AAAAAAAAABEAAAAA', 69.0, '32.57', '0.00', '10.74'), ('AAAAAAAAABGAAAAA', 43.0, '35.23', '0.00', '7.39'), ('AAAAAAAAACAAAAAA', 1.0, '126.38', '0.00', '60.66')]


SQL name: ./benchmark/tpcds/q27.sql...
========================================
SELECT
  "i_item_id"
, "s_state"
, GROUPING ("s_state") "g_state"
, "avg"("ss_quantity") "agg1"
, "avg"("ss_list_price") "agg2"
, "avg"("ss_coupon_amt") "agg3"
, "avg"("ss_sales_price") "agg4"
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.customer_demographics
, tpcds.tiny.date_dim
, tpcds.tiny.store
, tpcds.tiny.item
WHERE ("ss_sold_date_sk" = "d_date_sk")
   AND ("ss_item_sk" = "i_item_sk")
   AND ("ss_store_sk" = "s_store_sk")
   AND ("ss_cdemo_sk" = "cd_demo_sk")
   AND ("cd_gender" = 'M')
   AND ("cd_marital_status" = 'S')
   AND ("cd_education_status" = 'College')
   AND ("d_year" = 2002)
   AND ("s_state" IN (
     'TN'
   , 'TN'
   , 'TN'
   , 'TN'
   , 'TN'
   , 'TN'))
GROUP BY ROLLUP (i_item_id, s_state)
ORDER BY "i_item_id" ASC, "s_state" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAAAAEAAAAA', 'TN', 0, None, '107.31', None, '64.38'), ('AAAAAAAAAAEAAAAA', None, 1, None, '107.31', None, '64.38'), ('AAAAAAAAABBAAAAA', 'TN', 0, 78.0, '86.99', '1098.98', '31.31'), ('AAAAAAAAABBAAAAA', None, 1, 78.0, '86.99', '1098.98', '31.31'), ('AAAAAAAAABHAAAAA', 'TN', 0, 77.0, '89.23', '0.00', '53.53')]


SQL name: ./benchmark/tpcds/q28.sql...
========================================
SELECT *
FROM
  (
   SELECT
     "avg"("ss_list_price") "b1_lp"
   , "count"("ss_list_price") "b1_cnt"
   , "count"(DISTINCT "ss_list_price") "b1_cntd"
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 0 AND 5)
      AND (("ss_list_price" BETWEEN 8 AND (8 + 10))
         OR ("ss_coupon_amt" BETWEEN 459 AND (459 + 1000))
         OR ("ss_wholesale_cost" BETWEEN 57 AND (57 + 20)))
)  b1
, (
   SELECT
     "avg"("ss_list_price") "b2_lp"
   , "count"("ss_list_price") "b2_cnt"
   , "count"(DISTINCT "ss_list_price") "b2_cntd"
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 6 AND 10)
      AND (("ss_list_price" BETWEEN 90 AND (90 + 10))
         OR ("ss_coupon_amt" BETWEEN 2323 AND (2323 + 1000))
         OR ("ss_wholesale_cost" BETWEEN 31 AND (31 + 20)))
)  b2
, (
   SELECT
     "avg"("ss_list_price") "b3_lp"
   , "count"("ss_list_price") "b3_cnt"
   , "count"(DISTINCT "ss_list_price") "b3_cntd"
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 11 AND 15)
      AND (("ss_list_price" BETWEEN 142 AND (142 + 10))
         OR ("ss_coupon_amt" BETWEEN 12214 AND (12214 + 1000))
         OR ("ss_wholesale_cost" BETWEEN 79 AND (79 + 20)))
)  b3
, (
   SELECT
     "avg"("ss_list_price") "b4_lp"
   , "count"("ss_list_price") "b4_cnt"
   , "count"(DISTINCT "ss_list_price") "b4_cntd"
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 16 AND 20)
      AND (("ss_list_price" BETWEEN 135 AND (135 + 10))
         OR ("ss_coupon_amt" BETWEEN 6071 AND (6071 + 1000))
         OR ("ss_wholesale_cost" BETWEEN 38 AND (38 + 20)))
)  b4
, (
   SELECT
     "avg"("ss_list_price") "b5_lp"
   , "count"("ss_list_price") "b5_cnt"
   , "count"(DISTINCT "ss_list_price") "b5_cntd"
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 21 AND 25)
      AND (("ss_list_price" BETWEEN 122 AND (122 + 10))
         OR ("ss_coupon_amt" BETWEEN 836 AND (836 + 1000))
         OR ("ss_wholesale_cost" BETWEEN 17 AND (17 + 20)))
)  b5
, (
   SELECT
     "avg"("ss_list_price") "b6_lp"
   , "count"("ss_list_price") "b6_cnt"
   , "count"(DISTINCT "ss_list_price") "b6_cntd"
   FROM
     tpcds.tiny.store_sales
   WHERE ("ss_quantity" BETWEEN 26 AND 30)
      AND (("ss_list_price" BETWEEN 154 AND (154 + 10))
         OR ("ss_coupon_amt" BETWEEN 7326 AND (7326 + 1000))
         OR ("ss_wholesale_cost" BETWEEN 7 AND (7 + 20)))
)  b6
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('77.93', 1468, 1345, '69.55', 1518, 1331, '134.06', 1167, 1107, '81.56', 1258, 1158, '60.27', 1523, 1342, '38.99', 1322, 1152)]


SQL name: ./benchmark/tpcds/q29.sql...
========================================
SELECT
  "i_item_id"
, "i_item_desc"
, "s_store_id"
, "s_store_name"
, "sum"("ss_quantity") "store_sales_quantity"
, "sum"("sr_return_quantity") "store_returns_quantity"
, "sum"("cs_quantity") "catalog_sales_quantity"
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.store_returns
, tpcds.tiny.catalog_sales
, tpcds.tiny.date_dim d1
, tpcds.tiny.date_dim d2
, tpcds.tiny.date_dim d3
, tpcds.tiny.store
, tpcds.tiny.item
WHERE ("d1"."d_moy" = 9)
   AND ("d1"."d_year" = 1999)
   AND ("d1"."d_date_sk" = "ss_sold_date_sk")
   AND ("i_item_sk" = "ss_item_sk")
   AND ("s_store_sk" = "ss_store_sk")
   AND ("ss_customer_sk" = "sr_customer_sk")
   AND ("ss_item_sk" = "sr_item_sk")
   AND ("ss_ticket_number" = "sr_ticket_number")
   AND ("sr_returned_date_sk" = "d2"."d_date_sk")
   AND ("d2"."d_moy" BETWEEN 9 AND (9 + 3))
   AND ("d2"."d_year" = 1999)
   AND ("sr_customer_sk" = "cs_bill_customer_sk")
   AND ("sr_item_sk" = "cs_item_sk")
   AND ("cs_sold_date_sk" = "d3"."d_date_sk")
   AND ("d3"."d_year" IN (1999, (1999 + 1), (1999 + 2)))
GROUP BY "i_item_id", "i_item_desc", "s_store_id", "s_store_name"
ORDER BY "i_item_id" ASC, "i_item_desc" ASC, "s_store_id" ASC, "s_store_name" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAACGGAAAAA', 'New, thin workshops might enhance considerably pregnant doors. Therefore middle periods ought to make often bi', 'AAAAAAAACAAAAAAA', 'able', 9, 7, 36), ('AAAAAAAAKAHAAAAA', 'Long, fine teachers should not occur. Particular, monetary children organise in situ on to a tests; details ma', 'AAAAAAAABAAAAAAA', 'ought', 34, 1, 75)]


SQL name: ./benchmark/tpcds/q30.sql...
========================================
WITH
  customer_total_return AS (
   SELECT
     "wr_returning_customer_sk" "ctr_customer_sk"
   , "ca_state" "ctr_state"
   , "sum"("wr_return_amt") "ctr_total_return"
   FROM
     tpcds.tiny.web_returns
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   WHERE ("wr_returned_date_sk" = "d_date_sk")
      AND ("d_year" = 2002)
      AND ("wr_returning_addr_sk" = "ca_address_sk")
   GROUP BY "wr_returning_customer_sk", "ca_state"
)
SELECT
  "c_customer_id"
, "c_salutation"
, "c_first_name"
, "c_last_name"
, "c_preferred_cust_flag"
, "c_birth_day"
, "c_birth_month"
, "c_birth_year"
, "c_birth_country"
, "c_login"
, "c_email_address"
, "c_last_review_date_sk"
, "ctr_total_return"
FROM
  customer_total_return ctr1
, tpcds.tiny.customer_address
, tpcds.tiny.customer
WHERE ("ctr1"."ctr_total_return" > (
      SELECT ("avg"("ctr_total_return") * DECIMAL '1.2')
      FROM
        customer_total_return ctr2
      WHERE ("ctr1"."ctr_state" = "ctr2"."ctr_state")
   ))
   AND ("ca_address_sk" = "c_current_addr_sk")
   AND ("ca_state" = 'GA')
   AND ("ctr1"."ctr_customer_sk" = "c_customer_sk")
ORDER BY "c_customer_id" ASC, "c_salutation" ASC, "c_first_name" ASC, "c_last_name" ASC, "c_preferred_cust_flag" ASC, "c_birth_day" ASC, "c_birth_month" ASC, "c_birth_year" ASC, "c_birth_country" ASC, "c_login" ASC, "c_email_address" ASC, "c_last_review_date_sk" ASC, "ctr_total_return" ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAABBCAAAAA', 'Sir       ', 'Michael             ', 'Herring                       ', 'Y', 20, 9, 1932, 'AMERICAN SAMOA', None, 'Michael.Herring@jl5PTAS.com                       ', 2452300, '2306.71'), ('AAAAAAAABFAAAAAA', 'Ms.       ', 'Jessica             ', 'Levesque                      ', 'Y', 17, 7, 1940, 'ALBANIA', None, 'Jessica.Levesque@06mGqI9mHG.org                   ', 2452414, '10628.66'), ('AAAAAAAAIOCAAAAA', 'Dr.       ', 'Julio               ', 'Mcdaniel                      ', 'Y', 18, 4, 1952, 'UNITED STATES', None, 'Julio.Mcdaniel@2Hc.edu                            ', 2452455, '3140.58'), ('AAAAAAAAKIBAAAAA', 'Ms.       ', 'Brenda              ', 'Miner                         ', 'N', 8, 5, 1979, 'PARAGUAY', None, 'Brenda.Miner@8L.edu                               ', 2452440, '834.48')]


SQL name: ./benchmark/tpcds/q31.sql...
========================================
WITH
  ss AS (
   SELECT
     "ca_county"
   , "d_qoy"
   , "d_year"
   , "sum"("ss_ext_sales_price") "store_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   WHERE ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_addr_sk" = "ca_address_sk")
   GROUP BY "ca_county", "d_qoy", "d_year"
)
, ws AS (
   SELECT
     "ca_county"
   , "d_qoy"
   , "d_year"
   , "sum"("ws_ext_sales_price") "web_sales"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   WHERE ("ws_sold_date_sk" = "d_date_sk")
      AND ("ws_bill_addr_sk" = "ca_address_sk")
   GROUP BY "ca_county", "d_qoy", "d_year"
)
SELECT
  "ss1"."ca_county"
, "ss1"."d_year"
, ("ws2"."web_sales" / "ws1"."web_sales") "web_q1_q2_increase"
, ("ss2"."store_sales" / "ss1"."store_sales") "store_q1_q2_increase"
, ("ws3"."web_sales" / "ws2"."web_sales") "web_q2_q3_increase"
, ("ss3"."store_sales" / "ss2"."store_sales") "store_q2_q3_increase"
FROM
  ss ss1
, ss ss2
, ss ss3
, ws ws1
, ws ws2
, ws ws3
WHERE ("ss1"."d_qoy" = 1)
   AND ("ss1"."d_year" = 2000)
   AND ("ss1"."ca_county" = "ss2"."ca_county")
   AND ("ss2"."d_qoy" = 2)
   AND ("ss2"."d_year" = 2000)
   AND ("ss2"."ca_county" = "ss3"."ca_county")
   AND ("ss3"."d_qoy" = 3)
   AND ("ss3"."d_year" = 2000)
   AND ("ss1"."ca_county" = "ws1"."ca_county")
   AND ("ws1"."d_qoy" = 1)
   AND ("ws1"."d_year" = 2000)
   AND ("ws1"."ca_county" = "ws2"."ca_county")
   AND ("ws2"."d_qoy" = 2)
   AND ("ws2"."d_year" = 2000)
   AND ("ws1"."ca_county" = "ws3"."ca_county")
   AND ("ws3"."d_qoy" = 3)
   AND ("ws3"."d_year" = 2000)
   AND ((CASE WHEN ("ws1"."web_sales" > 0) THEN (CAST("ws2"."web_sales" AS DECIMAL(38,3)) / "ws1"."web_sales") ELSE null END) > (CASE WHEN ("ss1"."store_sales" > 0) THEN (CAST("ss2"."store_sales" AS DECIMAL(38,3)) / "ss1"."store_sales") ELSE null END))
   AND ((CASE WHEN ("ws2"."web_sales" > 0) THEN (CAST("ws3"."web_sales" AS DECIMAL(38,3)) / "ws2"."web_sales") ELSE null END) > (CASE WHEN ("ss2"."store_sales" > 0) THEN (CAST("ss3"."store_sales" AS DECIMAL(38,3)) / "ss2"."store_sales") ELSE null END))
ORDER BY "ss1"."ca_county" ASC

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q32.sql...
========================================
SELECT "sum"("cs_ext_discount_amt") "excess discount amount"
FROM
  tpcds.tiny.catalog_sales
, tpcds.tiny.item
, tpcds.tiny.date_dim
WHERE ("i_manufact_id" = 977)
   AND ("i_item_sk" = "cs_item_sk")
   AND ("d_date" BETWEEN CAST('2000-01-27' AS DATE) AND (CAST('2000-01-27' AS DATE) + INTERVAL  '90' DAY))
   AND ("d_date_sk" = "cs_sold_date_sk")
   AND ("cs_ext_discount_amt" > (
      SELECT (DECIMAL '1.3' * "avg"("cs_ext_discount_amt"))
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.date_dim
      WHERE ("cs_item_sk" = "i_item_sk")
         AND ("d_date" BETWEEN CAST('2000-01-27' AS DATE) AND (CAST('2000-01-27' AS DATE) + INTERVAL  '90' DAY))
         AND ("d_date_sk" = "cs_sold_date_sk")
   ))
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(None,)]


SQL name: ./benchmark/tpcds/q33.sql...
========================================
WITH
  ss AS (
   SELECT
     "i_manufact_id"
   , "sum"("ss_ext_sales_price") "total_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("i_manufact_id" IN (
      SELECT "i_manufact_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_category" IN ('Electronics'))
   ))
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 1998)
      AND ("d_moy" = 5)
      AND ("ss_addr_sk" = "ca_address_sk")
      AND ("ca_gmt_offset" = -5)
   GROUP BY "i_manufact_id"
)
, cs AS (
   SELECT
     "i_manufact_id"
   , "sum"("cs_ext_sales_price") "total_sales"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("i_manufact_id" IN (
      SELECT "i_manufact_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_category" IN ('Electronics'))
   ))
      AND ("cs_item_sk" = "i_item_sk")
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 1998)
      AND ("d_moy" = 5)
      AND ("cs_bill_addr_sk" = "ca_address_sk")
      AND ("ca_gmt_offset" = -5)
   GROUP BY "i_manufact_id"
)
, ws AS (
   SELECT
     "i_manufact_id"
   , "sum"("ws_ext_sales_price") "total_sales"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("i_manufact_id" IN (
      SELECT "i_manufact_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_category" IN ('Electronics'))
   ))
      AND ("ws_item_sk" = "i_item_sk")
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 1998)
      AND ("d_moy" = 5)
      AND ("ws_bill_addr_sk" = "ca_address_sk")
      AND ("ca_gmt_offset" = -5)
   GROUP BY "i_manufact_id"
)
SELECT
  "i_manufact_id"
, "sum"("total_sales") "total_sales"
FROM
  (
   SELECT *
   FROM
     ss
UNION ALL    SELECT *
   FROM
     cs
UNION ALL    SELECT *
   FROM
     ws
)  tmp1
GROUP BY "i_manufact_id"
ORDER BY "total_sales" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(609, '0.00'), (590, '37.31'), (229, '49.14'), (171, '90.56'), (350, '193.17')]


SQL name: ./benchmark/tpcds/q34.sql...
========================================
SELECT
  "c_last_name"
, "c_first_name"
, "c_salutation"
, "c_preferred_cust_flag"
, "ss_ticket_number"
, "cnt"
FROM
  (
   SELECT
     "ss_ticket_number"
   , "ss_customer_sk"
   , "count"(*) "cnt"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   , tpcds.tiny.household_demographics
   WHERE ("store_sales"."ss_sold_date_sk" = "date_dim"."d_date_sk")
      AND ("store_sales"."ss_store_sk" = "store"."s_store_sk")
      AND ("store_sales"."ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND (("date_dim"."d_dom" BETWEEN 1 AND 3)
         OR ("date_dim"."d_dom" BETWEEN 25 AND 28))
      AND (("household_demographics"."hd_buy_potential" = '>10000')
         OR ("household_demographics"."hd_buy_potential" = 'Unknown'))
      AND ("household_demographics"."hd_vehicle_count" > 0)
      AND ((CASE WHEN ("household_demographics"."hd_vehicle_count" > 0) THEN (CAST("household_demographics"."hd_dep_count" AS DECIMAL(7,2)) / "household_demographics"."hd_vehicle_count") ELSE null END) > DECIMAL '1.2')
      AND ("date_dim"."d_year" IN (1999   , (1999 + 1)   , (1999 + 2)))
      AND ("store"."s_county" IN ('Williamson County'   , 'Williamson County'   , 'Williamson County'   , 'Williamson County'   , 'Williamson County'   , 'Williamson County'   , 'Williamson County'   , 'Williamson County'))
   GROUP BY "ss_ticket_number", "ss_customer_sk"
)  dn
, tpcds.tiny.customer
WHERE ("ss_customer_sk" = "c_customer_sk")
   AND ("cnt" BETWEEN 15 AND 20)
ORDER BY "c_last_name" ASC, "c_first_name" ASC, "c_salutation" ASC, "c_preferred_cust_flag" DESC, "ss_ticket_number" ASC



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Brown                         ', 'Michael             ', 'Sir       ', 'N', 7856, 15), ('Brunson                       ', 'Albert              ', 'Ms.       ', 'N', 3324, 15), ('Gentry                        ', 'Russell             ', 'Sir       ', 'N', 7184, 15), ('Hart                          ', None, None, 'Y', 4376, 15), ('Holland                       ', 'Delia               ', 'Miss      ', 'N', 6311, 15)]


SQL name: ./benchmark/tpcds/q35.sql...
========================================
SELECT
  "ca_state"
, "cd_gender"
, "cd_marital_status"
, "cd_dep_count"
, "count"(*) "cnt1"
, "min"("cd_dep_count")
, "max"("cd_dep_count")
, "avg"("cd_dep_count")
, "cd_dep_employed_count"
, "count"(*) "cnt2"
, "min"("cd_dep_employed_count")
, "max"("cd_dep_employed_count")
, "avg"("cd_dep_employed_count")
, "cd_dep_college_count"
, "count"(*) "cnt3"
, "min"("cd_dep_college_count")
, "max"("cd_dep_college_count")
, "avg"("cd_dep_college_count")
FROM
  tpcds.tiny.customer c
, tpcds.tiny.customer_address ca
, tpcds.tiny.customer_demographics
WHERE ("c"."c_current_addr_sk" = "ca"."ca_address_sk")
   AND ("cd_demo_sk" = "c"."c_current_cdemo_sk")
   AND (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("c"."c_customer_sk" = "ss_customer_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 2002)
      AND ("d_qoy" < 4)
))
   AND ((EXISTS (
      SELECT *
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.date_dim
      WHERE ("c"."c_customer_sk" = "ws_bill_customer_sk")
         AND ("ws_sold_date_sk" = "d_date_sk")
         AND ("d_year" = 2002)
         AND ("d_qoy" < 4)
   ))
      OR (EXISTS (
      SELECT *
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.date_dim
      WHERE ("c"."c_customer_sk" = "cs_ship_customer_sk")
         AND ("cs_sold_date_sk" = "d_date_sk")
         AND ("d_year" = 2002)
         AND ("d_qoy" < 4)
   )))
GROUP BY "ca_state", "cd_gender", "cd_marital_status", "cd_dep_count", "cd_dep_employed_count", "cd_dep_college_count"
ORDER BY "ca_state" ASC, "cd_gender" ASC, "cd_marital_status" ASC, "cd_dep_count" ASC, "cd_dep_employed_count" ASC, "cd_dep_college_count" ASC
LIMIT 100



Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.25MB, Delta: 1.09MB, Top Consumers: {HashBuilderOperator=102.25MB, ScanFilterAndProjectOperator=2.51MB, PartitionedOutputOperator=2.16MB}, Details: [{"taskId":"3.0.0","reservation":"96.21MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"4","reservations":["6.58MB","6.57MB","6.57MB","6.56MB","6.56MB","6.56MB","6.55MB","6.55MB","5.48MB","5.47MB","5.47MB","5.46MB","5.46MB","5.46MB","5.46MB","5.45MB"],"total":"96.21MB","info":"INNER;PARTITIONED;"}]},{"taskId":"8.0.0","reservation":"2.36MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"294","reservations":["128.88kB","128.87kB","128.83kB","128.83kB","128.82kB","128.82kB","128.80kB","128.78kB","128.77kB","128.77kB","128.75kB","128.75kB","128.75kB","128.75kB","128.72kB","128.62kB"],"total":"2.01MB","info":"INNER;PARTITIONED;"},{"type":"HashAggregationOperator","planNodeId":"2131","reservations":["353.04kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"353.04kB","info":"PARTIAL;"}]},{"taskId":"15.0.0","reservation":"2.33MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"2315","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"2315","reservations":["1.08MB"],"total":"1.08MB"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.25MB, Delta: 1.09MB, Top Consumers: {HashBuilderOperator=102.25MB, ScanFilterAndProjectOperator=2.51MB, PartitionedOutputOperator=2.16MB}, Details: [{"taskId":"3.0.0","reservation":"96.21MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"4","reservations":["6.58MB","6.57MB","6.57MB","6.56MB","6.56MB","6.56MB","6.55MB","6.55MB","5.48MB","5.47MB","5.47MB","5.46MB","5.46MB","5.46MB","5.46MB","5.45MB"],"total":"96.21MB","info":"INNER;PARTITIONED;"}]},{"taskId":"8.0.0","reservation":"2.36MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"294","reservations":["128.88kB","128.87kB","128.83kB","128.83kB","128.82kB","128.82kB","128.80kB","128.78kB","128.77kB","128.77kB","128.75kB","128.75kB","128.75kB","128.75kB","128.72kB","128.62kB"],"total":"2.01MB","info":"INNER;PARTITIONED;"},{"type":"HashAggregationOperator","planNodeId":"2131","reservations":["353.04kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"353.04kB","info":"PARTIAL;"}]},{"taskId":"15.0.0","reservation":"2.33MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"2315","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"2315","reservations":["1.08MB"],"total":"1.08MB"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.finishInput(HashBuilderOperator.java:503)', 'com.facebook.presto.operator.HashBuilderOperator.finish(HashBuilderOperator.java:454)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:441)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 15, in <module>
    for row in rs:
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/result.py", line 381, in iterrows
    for row in self._fetchiter_impl():
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 1788, in _fetchiter_impl
    row = fetchone(self, self.cursor)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 960, in fetchone
    self.handle_exception(result, dbapi_cursor, e)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 941, in handle_exception
    result.connection._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('-0.43', None, None, 2, 1), ('-0.45', 'Books                                             ', None, 1, 1), ('-0.45', 'Men                                               ', None, 1, 1), ('-0.45', 'Music                                             ', None, 1, 1), ('-0.45', 'Shoes                                             ', None, 1, 1)]


SQL name: ./benchmark/tpcds/q37.sql...
========================================
SELECT
  "i_item_id"
, "i_item_desc"
, "i_current_price"
FROM
  tpcds.tiny.item
, tpcds.tiny.inventory
, tpcds.tiny.date_dim
, tpcds.tiny.catalog_sales
WHERE ("i_current_price" BETWEEN 68 AND (68 + 30))
   AND ("inv_item_sk" = "i_item_sk")
   AND ("d_date_sk" = "inv_date_sk")
   AND (CAST("d_date" AS DATE) BETWEEN CAST('2000-02-01' AS DATE) AND (CAST('2000-02-01' AS DATE) + INTERVAL  '60' DAY))
   AND ("i_manufact_id" IN (677, 940, 694, 808))
   AND ("inv_quantity_on_hand" BETWEEN 100 AND 500)
   AND ("cs_item_sk" = "i_item_sk")
GROUP BY "i_item_id", "i_item_desc", "i_current_price"
ORDER BY "i_item_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q38.sql...
========================================
SELECT "count"(*)
FROM
  (
   SELECT DISTINCT
     "c_last_name"
   , "c_first_name"
   , "d_date"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer
   WHERE ("store_sales"."ss_sold_date_sk" = "date_dim"."d_date_sk")
      AND ("store_sales"."ss_customer_sk" = "customer"."c_customer_sk")
      AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
INTERSECT    SELECT DISTINCT
     "c_last_name"
   , "c_first_name"
   , "d_date"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer
   WHERE ("catalog_sales"."cs_sold_date_sk" = "date_dim"."d_date_sk")
      AND ("catalog_sales"."cs_bill_customer_sk" = "customer"."c_customer_sk")
      AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
INTERSECT    SELECT DISTINCT
     "c_last_name"
   , "c_first_name"
   , "d_date"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer
   WHERE ("web_sales"."ws_sold_date_sk" = "date_dim"."d_date_sk")
      AND ("web_sales"."ws_bill_customer_sk" = "customer"."c_customer_sk")
      AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
)  hot_cust
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(0,)]


SQL name: ./benchmark/tpcds/q39_1.sql...
========================================
WITH
  inv AS (
   SELECT
     "w_warehouse_name"
   , "w_warehouse_sk"
   , "i_item_sk"
   , "d_moy"
   , "stdev"
   , "mean"
   , (CASE "mean" WHEN 0 THEN null ELSE ("stdev" / "mean") END) "cov"
   FROM
     (
      SELECT
        "w_warehouse_name"
      , "w_warehouse_sk"
      , "i_item_sk"
      , "d_moy"
      , "stddev_samp"("inv_quantity_on_hand") "stdev"
      , "avg"("inv_quantity_on_hand") "mean"
      FROM
        tpcds.tiny.inventory
      , tpcds.tiny.item
      , tpcds.tiny.warehouse
      , tpcds.tiny.date_dim
      WHERE ("inv_item_sk" = "i_item_sk")
         AND ("inv_warehouse_sk" = "w_warehouse_sk")
         AND ("inv_date_sk" = "d_date_sk")
         AND ("d_year" = 2001)
      GROUP BY "w_warehouse_name", "w_warehouse_sk", "i_item_sk", "d_moy"
   )  foo
   WHERE ((CASE "mean" WHEN 0 THEN 0 ELSE ("stdev" / "mean") END) > 1)
)
SELECT
  "inv1"."w_warehouse_sk"
, "inv1"."i_item_sk"
, "inv1"."d_moy"
, "inv1"."mean"
, "inv1"."cov"
, "inv2"."w_warehouse_sk"
, "inv2"."i_item_sk"
, "inv2"."d_moy"
, "inv2"."mean"
, "inv2"."cov"
FROM
  inv inv1
, inv inv2
WHERE ("inv1"."i_item_sk" = "inv2"."i_item_sk")
   AND ("inv1"."w_warehouse_sk" = "inv2"."w_warehouse_sk")
   AND ("inv1"."d_moy" = 1)
   AND ("inv2"."d_moy" = (1 + 1))
ORDER BY "inv1"."w_warehouse_sk" ASC, "inv1"."i_item_sk" ASC, "inv1"."d_moy" ASC, "inv1"."mean" ASC, "inv1"."cov" ASC, "inv2"."d_moy" ASC, "inv2"."mean" ASC, "inv2"."cov" ASC



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(1, 633, 1, 222.0, 1.0202744134779214, 1, 633, 2, 349.3333333333333, 1.384991391229172), (1, 675, 1, 381.25, 1.11775334231886, 1, 675, 2, 255.5, 1.0149923616429948), (1, 1157, 1, 338.0, 1.286893828153513, 1, 1157, 2, 354.25, 1.238665136837553), (1, 1637, 1, 298.0, 1.1390924645167293, 1, 1637, 2, 234.0, 1.1236526470143164)]


SQL name: ./benchmark/tpcds/q39_2.sql...
========================================
WITH
  inv AS (
   SELECT
     "w_warehouse_name"
   , "w_warehouse_sk"
   , "i_item_sk"
   , "d_moy"
   , "stdev"
   , "mean"
   , (CASE "mean" WHEN 0 THEN null ELSE ("stdev" / "mean") END) "cov"
   FROM
     (
      SELECT
        "w_warehouse_name"
      , "w_warehouse_sk"
      , "i_item_sk"
      , "d_moy"
      , "stddev_samp"("inv_quantity_on_hand") "stdev"
      , "avg"("inv_quantity_on_hand") "mean"
      FROM
        tpcds.tiny.inventory
      , tpcds.tiny.item
      , tpcds.tiny.warehouse
      , tpcds.tiny.date_dim
      WHERE ("inv_item_sk" = "i_item_sk")
         AND ("inv_warehouse_sk" = "w_warehouse_sk")
         AND ("inv_date_sk" = "d_date_sk")
         AND ("d_year" = 2001)
      GROUP BY "w_warehouse_name", "w_warehouse_sk", "i_item_sk", "d_moy"
   )  foo
   WHERE ((CASE "mean" WHEN 0 THEN 0 ELSE ("stdev" / "mean") END) > 1)
)
SELECT
  "inv1"."w_warehouse_sk"
, "inv1"."i_item_sk"
, "inv1"."d_moy"
, "inv1"."mean"
, "inv1"."cov"
, "inv2"."w_warehouse_sk"
, "inv2"."i_item_sk"
, "inv2"."d_moy"
, "inv2"."mean"
, "inv2"."cov"
FROM
  inv inv1
, inv inv2
WHERE ("inv1"."i_item_sk" = "inv2"."i_item_sk")
   AND ("inv1"."w_warehouse_sk" = "inv2"."w_warehouse_sk")
   AND ("inv1"."d_moy" = 1)
   AND ("inv2"."d_moy" = (1 + 1))
   AND ("inv1"."cov" > DECIMAL '1.5')
ORDER BY "inv1"."w_warehouse_sk" ASC, "inv1"."i_item_sk" ASC, "inv1"."d_moy" ASC, "inv1"."mean" ASC, "inv1"."cov" ASC, "inv2"."d_moy" ASC, "inv2"."mean" ASC, "inv2"."cov" ASC



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q40.sql...
========================================
SELECT
  "w_state"
, "i_item_id"
, "sum"((CASE WHEN (CAST("d_date" AS DATE) < CAST('2000-03-11' AS DATE)) THEN ("cs_sales_price" - COALESCE("cr_refunded_cash", 0)) ELSE 0 END)) "sales_before"
, "sum"((CASE WHEN (CAST("d_date" AS DATE) >= CAST('2000-03-11' AS DATE)) THEN ("cs_sales_price" - COALESCE("cr_refunded_cash", 0)) ELSE 0 END)) "sales_after"
FROM
  (tpcds.tiny.catalog_sales
LEFT JOIN tpcds.tiny.catalog_returns ON ("cs_order_number" = "cr_order_number")
   AND ("cs_item_sk" = "cr_item_sk"))
, tpcds.tiny.warehouse
, tpcds.tiny.item
, tpcds.tiny.date_dim
WHERE ("i_current_price" BETWEEN DECIMAL '0.99' AND DECIMAL '1.49')
   AND ("i_item_sk" = "cs_item_sk")
   AND ("cs_warehouse_sk" = "w_warehouse_sk")
   AND ("cs_sold_date_sk" = "d_date_sk")
   AND (CAST("d_date" AS DATE) BETWEEN (CAST('2000-03-11' AS DATE) - INTERVAL  '30' DAY) AND (CAST('2000-03-11' AS DATE) + INTERVAL  '30' DAY))
GROUP BY "w_state", "i_item_id"
ORDER BY "w_state" ASC, "i_item_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('TN', 'AAAAAAAAABDAAAAA', '124.37', '143.42'), ('TN', 'AAAAAAAAAHHAAAAA', '0.00', '-408.96'), ('TN', 'AAAAAAAAAJCAAAAA', '18.77', '28.49'), ('TN', 'AAAAAAAAAPBAAAAA', '0.00', '156.54'), ('TN', 'AAAAAAAABKFAAAAA', '39.96', '0.00')]


SQL name: ./benchmark/tpcds/q41.sql...
========================================
SELECT DISTINCT "i_product_name"
FROM
  tpcds.tiny.item i1
WHERE ("i_manufact_id" BETWEEN 738 AND (738 + 40))
   AND ((
      SELECT "count"(*) "item_cnt"
      FROM
        tpcds.tiny.item
      WHERE (("i_manufact" = "i1"."i_manufact")
            AND ((("i_category" = 'Women')
                  AND (("i_color" = 'powder')
                     OR ("i_color" = 'khaki'))
                  AND (("i_units" = 'Ounce')
                     OR ("i_units" = 'Oz'))
                  AND (("i_size" = 'medium')
                     OR ("i_size" = 'extra large')))
               OR (("i_category" = 'Women')
                  AND (("i_color" = 'brown')
                     OR ("i_color" = 'honeydew'))
                  AND (("i_units" = 'Bunch')
                     OR ("i_units" = 'Ton'))
                  AND (("i_size" = 'N/A')
                     OR ("i_size" = 'small')))
               OR (("i_category" = 'Men')
                  AND (("i_color" = 'floral')
                     OR ("i_color" = 'deep'))
                  AND (("i_units" = 'N/A')
                     OR ("i_units" = 'Dozen'))
                  AND (("i_size" = 'petite')
                     OR ("i_size" = 'large')))
               OR (("i_category" = 'Men')
                  AND (("i_color" = 'light')
                     OR ("i_color" = 'cornflower'))
                  AND (("i_units" = 'Box')
                     OR ("i_units" = 'Pound'))
                  AND (("i_size" = 'medium')
                     OR ("i_size" = 'extra large')))))
         OR (("i_manufact" = "i1"."i_manufact")
            AND ((("i_category" = 'Women')
                  AND (("i_color" = 'midnight')
                     OR ("i_color" = 'snow'))
                  AND (("i_units" = 'Pallet')
                     OR ("i_units" = 'Gross'))
                  AND (("i_size" = 'medium')
                     OR ("i_size" = 'extra large')))
               OR (("i_category" = 'Women')
                  AND (("i_color" = 'cyan')
                     OR ("i_color" = 'papaya'))
                  AND (("i_units" = 'Cup')
                     OR ("i_units" = 'Dram'))
                  AND (("i_size" = 'N/A')
                     OR ("i_size" = 'small')))
               OR (("i_category" = 'Men')
                  AND (("i_color" = 'orange')
                     OR ("i_color" = 'frosted'))
                  AND (("i_units" = 'Each')
                     OR ("i_units" = 'Tbl'))
                  AND (("i_size" = 'petite')
                     OR ("i_size" = 'large')))
               OR (("i_category" = 'Men')
                  AND (("i_color" = 'forest')
                     OR ("i_color" = 'ghost'))
                  AND (("i_units" = 'Lb')
                     OR ("i_units" = 'Bundle'))
                  AND (("i_size" = 'medium')
                     OR ("i_size" = 'extra large')))))
   ) > 0)
ORDER BY "i_product_name" ASC
LIMIT 100

Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q42.sql...
========================================
SELECT
  "dt"."d_year"
, "item"."i_category_id"
, "item"."i_category"
, "sum"("ss_ext_sales_price")
FROM
  tpcds.tiny.date_dim dt
, tpcds.tiny.store_sales
, tpcds.tiny.item
WHERE ("dt"."d_date_sk" = "store_sales"."ss_sold_date_sk")
   AND ("store_sales"."ss_item_sk" = "item"."i_item_sk")
   AND ("item"."i_manager_id" = 1)
   AND ("dt"."d_moy" = 11)
   AND ("dt"."d_year" = 2000)
GROUP BY "dt"."d_year", "item"."i_category_id", "item"."i_category"
ORDER BY "sum"("ss_ext_sales_price") DESC, "dt"."d_year" ASC, "item"."i_category_id" ASC, "item"."i_category" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(2000, 1, 'Women                                             ', '50707.28'), (2000, 7, 'Home                                              ', '44360.34'), (2000, 10, 'Electronics                                       ', '28624.33'), (2000, 4, 'Shoes                                             ', '2872.17')]


SQL name: ./benchmark/tpcds/q43.sql...
========================================
SELECT
  "s_store_name"
, "s_store_id"
, "sum"((CASE WHEN ("d_day_name" = 'Sunday') THEN "ss_sales_price" ELSE null END)) "sun_sales"
, "sum"((CASE WHEN ("d_day_name" = 'Monday') THEN "ss_sales_price" ELSE null END)) "mon_sales"
, "sum"((CASE WHEN ("d_day_name" = 'Tuesday') THEN "ss_sales_price" ELSE null END)) "tue_sales"
, "sum"((CASE WHEN ("d_day_name" = 'Wednesday') THEN "ss_sales_price" ELSE null END)) "wed_sales"
, "sum"((CASE WHEN ("d_day_name" = 'Thursday') THEN "ss_sales_price" ELSE null END)) "thu_sales"
, "sum"((CASE WHEN ("d_day_name" = 'Friday') THEN "ss_sales_price" ELSE null END)) "fri_sales"
, "sum"((CASE WHEN ("d_day_name" = 'Saturday') THEN "ss_sales_price" ELSE null END)) "sat_sales"
FROM
  tpcds.tiny.date_dim
, tpcds.tiny.store_sales
, tpcds.tiny.store
WHERE ("d_date_sk" = "ss_sold_date_sk")
   AND ("s_store_sk" = "ss_store_sk")
   AND ("s_gmt_offset" = -5)
   AND ("d_year" = 2000)
GROUP BY "s_store_name", "s_store_id"
ORDER BY "s_store_name" ASC, "s_store_id" ASC, "sun_sales" ASC, "mon_sales" ASC, "tue_sales" ASC, "wed_sales" ASC, "thu_sales" ASC, "fri_sales" ASC, "sat_sales" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('able', 'AAAAAAAACAAAAAAA', '69625.04', '49173.57', '51831.91', '57612.82', '58895.09', '68174.93', '63674.96'), ('ought', 'AAAAAAAABAAAAAAA', '67834.24', '71407.56', '53404.80', '60268.27', '62419.41', '64721.89', '58482.27')]


SQL name: ./benchmark/tpcds/q44.sql...
========================================
SELECT
  "asceding"."rnk"
, "i1"."i_product_name" "best_performing"
, "i2"."i_product_name" "worst_performing"
FROM
  (
   SELECT *
   FROM
     (
      SELECT
        "item_sk"
      , "rank"() OVER (ORDER BY "rank_col" ASC) "rnk"
      FROM
        (
         SELECT
           "ss_item_sk" "item_sk"
         , "avg"("ss_net_profit") "rank_col"
         FROM
           tpcds.tiny.store_sales ss1
         WHERE ("ss_store_sk" = 4)
         GROUP BY "ss_item_sk"
         HAVING ("avg"("ss_net_profit") > (DECIMAL '0.9' * (
                  SELECT "avg"("ss_net_profit") "rank_col"
                  FROM
                    tpcds.tiny.store_sales
                  WHERE ("ss_store_sk" = 4)
                     AND ("ss_addr_sk" IS NULL)
                  GROUP BY "ss_store_sk"
               )))
      )  v1
   )  v11
   WHERE ("rnk" < 11)
)  asceding
, (
   SELECT *
   FROM
     (
      SELECT
        "item_sk"
      , "rank"() OVER (ORDER BY "rank_col" DESC) "rnk"
      FROM
        (
         SELECT
           "ss_item_sk" "item_sk"
         , "avg"("ss_net_profit") "rank_col"
         FROM
           tpcds.tiny.store_sales ss1
         WHERE ("ss_store_sk" = 4)
         GROUP BY "ss_item_sk"
         HAVING ("avg"("ss_net_profit") > (DECIMAL '0.9' * (
                  SELECT "avg"("ss_net_profit") "rank_col"
                  FROM
                    tpcds.tiny.store_sales
                  WHERE ("ss_store_sk" = 4)
                     AND ("ss_addr_sk" IS NULL)
                  GROUP BY "ss_store_sk"
               )))
      )  v2
   )  v21
   WHERE ("rnk" < 11)
)  descending
, tpcds.tiny.item i1
, tpcds.tiny.item i2
WHERE ("asceding"."rnk" = "descending"."rnk")
   AND ("i1"."i_item_sk" = "asceding"."item_sk")
   AND ("i2"."i_item_sk" = "descending"."item_sk")
ORDER BY "asceding"."rnk" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q45.sql...
========================================
SELECT
  "ca_zip"
, "ca_city"
, "sum"("ws_sales_price")
FROM
  tpcds.tiny.web_sales
, tpcds.tiny.customer
, tpcds.tiny.customer_address
, tpcds.tiny.date_dim
, tpcds.tiny.item
WHERE ("ws_bill_customer_sk" = "c_customer_sk")
   AND ("c_current_addr_sk" = "ca_address_sk")
   AND ("ws_item_sk" = "i_item_sk")
   AND (("substr"("ca_zip", 1, 5) IN ('85669'   , '86197'   , '88274'   , '83405'   , '86475'   , '85392'   , '85460'   , '80348'   , '81792'))
      OR ("i_item_id" IN (
      SELECT "i_item_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_item_sk" IN (2      , 3      , 5      , 7      , 11      , 13      , 17      , 19      , 23      , 29))
   )))
   AND ("ws_sold_date_sk" = "d_date_sk")
   AND ("d_qoy" = 2)
   AND ("d_year" = 2001)
GROUP BY "ca_zip", "ca_city"
ORDER BY "ca_zip" ASC, "ca_city" ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[('68339     ', 'Whitney', '43.34'), ('70534     ', 'Crossroads', '9.18'), ('71952     ', 'Sunnyside', '32.84'), ('80059     ', 'Centerville', '7.06'), ('83003     ', 'Hillcrest', '79.87')]


SQL name: ./benchmark/tpcds/q46.sql...
========================================
SELECT
  "c_last_name"
, "c_first_name"
, "ca_city"
, "bought_city"
, "ss_ticket_number"
, "amt"
, "profit"
FROM
  (
   SELECT
     "ss_ticket_number"
   , "ss_customer_sk"
   , "ca_city" "bought_city"
   , "sum"("ss_coupon_amt") "amt"
   , "sum"("ss_net_profit") "profit"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   , tpcds.tiny.household_demographics
   , tpcds.tiny.customer_address
   WHERE ("store_sales"."ss_sold_date_sk" = "date_dim"."d_date_sk")
      AND ("store_sales"."ss_store_sk" = "store"."s_store_sk")
      AND ("store_sales"."ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("store_sales"."ss_addr_sk" = "customer_address"."ca_address_sk")
      AND (("household_demographics"."hd_dep_count" = 4)
         OR ("household_demographics"."hd_vehicle_count" = 3))
      AND ("date_dim"."d_dow" IN (6   , 0))
      AND ("date_dim"."d_year" IN (1999   , (1999 + 1)   , (1999 + 2)))
      AND ("store"."s_city" IN ('Fairview'   , 'Midway'   , 'Fairview'   , 'Fairview'   , 'Fairview'))
   GROUP BY "ss_ticket_number", "ss_customer_sk", "ss_addr_sk", "ca_city"
)  dn
, tpcds.tiny.customer
, tpcds.tiny.customer_address current_addr
WHERE ("ss_customer_sk" = "c_customer_sk")
   AND ("customer"."c_current_addr_sk" = "current_addr"."ca_address_sk")
   AND ("current_addr"."ca_city" <> "bought_city")
ORDER BY "c_last_name" ASC, "c_first_name" ASC, "ca_city" ASC, "bought_city" ASC, "ss_ticket_number" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Adams                         ', 'Catherine           ', 'Riverdale', 'Summit', 2987, '1600.79', '-15133.13'), ('Adams                         ', 'Chris               ', 'Spring Hill', 'Fairfield', 3922, '0.00', '-12338.60'), ('Adams                         ', 'Chris               ', 'Spring Hill', 'Lakeview', 114, '286.99', '-12862.22'), ('Albert                        ', 'John                ', 'Wildwood', 'Mount Zion', 7114, '2368.73', '-13170.27'), ('Aldridge                      ', 'Eugene              ', 'Bethel', 'Tanglewood', 8212, '3006.79', '-10788.48')]


SQL name: ./benchmark/tpcds/q47.sql...
========================================
WITH
  v1 AS (
   SELECT
     "i_category"
   , "i_brand"
   , "s_store_name"
   , "s_company_name"
   , "d_year"
   , "d_moy"
   , "sum"("ss_sales_price") "sum_sales"
   , "avg"("sum"("ss_sales_price")) OVER (PARTITION BY "i_category", "i_brand", "s_store_name", "s_company_name", "d_year") "avg_monthly_sales"
   , "rank"() OVER (PARTITION BY "i_category", "i_brand", "s_store_name", "s_company_name" ORDER BY "d_year" ASC, "d_moy" ASC) "rn"
   FROM
     tpcds.tiny.item
   , tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   WHERE ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND (("d_year" = 1999)
         OR (("d_year" = (1999 - 1))
            AND ("d_moy" = 12))
         OR (("d_year" = (1999 + 1))
            AND ("d_moy" = 1)))
   GROUP BY "i_category", "i_brand", "s_store_name", "s_company_name", "d_year", "d_moy"
)
, v2 AS (
   SELECT
     "v1"."i_category"
   , "v1"."i_brand"
   , "v1"."s_store_name"
   , "v1"."s_company_name"
   , "v1"."d_year"
   , "v1"."d_moy"
   , "v1"."avg_monthly_sales"
   , "v1"."sum_sales"
   , "v1_lag"."sum_sales" "psum"
   , "v1_lead"."sum_sales" "nsum"
   FROM
     v1
   , v1 v1_lag
   , v1 v1_lead
   WHERE ("v1"."i_category" = "v1_lag"."i_category")
      AND ("v1"."i_category" = "v1_lead"."i_category")
      AND ("v1"."i_brand" = "v1_lag"."i_brand")
      AND ("v1"."i_brand" = "v1_lead"."i_brand")
      AND ("v1"."s_store_name" = "v1_lag"."s_store_name")
      AND ("v1"."s_store_name" = "v1_lead"."s_store_name")
      AND ("v1"."s_company_name" = "v1_lag"."s_company_name")
      AND ("v1"."s_company_name" = "v1_lead"."s_company_name")
      AND ("v1"."rn" = ("v1_lag"."rn" + 1))
      AND ("v1"."rn" = ("v1_lead"."rn" - 1))
)
SELECT *
FROM
  v2
WHERE ("d_year" = 1999)
   AND ("avg_monthly_sales" > 0)
   AND ((CASE WHEN ("avg_monthly_sales" > 0) THEN ("abs"(("sum_sales" - "avg_monthly_sales")) / "avg_monthly_sales") ELSE null END) > DECIMAL '0.1')
ORDER BY ("sum_sales" - "avg_monthly_sales") ASC, 3 ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Shoes                                             ', 'edu packedu pack #1                               ', 'able', 'Unknown', 1999, 6, '829.93', '165.07', '354.24', '253.10'), ('Shoes                                             ', 'exportiedu pack #1                                ', 'able', 'Unknown', 1999, 7, '722.39', '113.01', '284.76', '335.67'), ('Shoes                                             ', 'edu packedu pack #1                               ', 'ought', 'Unknown', 1999, 2, '867.68', '278.18', '697.15', '337.06'), ('Shoes                                             ', 'edu packedu pack #1                               ', 'able', 'Unknown', 1999, 7, '829.93', '253.10', '165.07', '1819.85'), ('Children                                          ', 'exportiexporti #1                                 ', 'ought', 'Unknown', 1999, 5, '583.45', '21.45', '600.74', '336.73')]


SQL name: ./benchmark/tpcds/q48.sql...
========================================
SELECT "sum"("ss_quantity")
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.store
, tpcds.tiny.customer_demographics
, tpcds.tiny.customer_address
, tpcds.tiny.date_dim
WHERE ("s_store_sk" = "ss_store_sk")
   AND ("ss_sold_date_sk" = "d_date_sk")
   AND ("d_year" = 2000)
   AND ((("cd_demo_sk" = "ss_cdemo_sk")
         AND ("cd_marital_status" = 'M')
         AND ("cd_education_status" = '4 yr Degree')
         AND ("ss_sales_price" BETWEEN DECIMAL '100.00' AND DECIMAL '150.00'))
      OR (("cd_demo_sk" = "ss_cdemo_sk")
         AND ("cd_marital_status" = 'D')
         AND ("cd_education_status" = '2 yr Degree')
         AND ("ss_sales_price" BETWEEN DECIMAL '50.00' AND DECIMAL '100.00'))
      OR (("cd_demo_sk" = "ss_cdemo_sk")
         AND ("cd_marital_status" = 'S')
         AND ("cd_education_status" = 'College')
         AND ("ss_sales_price" BETWEEN DECIMAL '150.00' AND DECIMAL '200.00')))
   AND ((("ss_addr_sk" = "ca_address_sk")
         AND ("ca_country" = 'United States')
         AND ("ca_state" IN ('CO'      , 'OH'      , 'TX'))
         AND ("ss_net_profit" BETWEEN 0 AND 2000))
      OR (("ss_addr_sk" = "ca_address_sk")
         AND ("ca_country" = 'United States')
         AND ("ca_state" IN ('OR'      , 'MN'      , 'KY'))
         AND ("ss_net_profit" BETWEEN 150 AND 3000))
      OR (("ss_addr_sk" = "ca_address_sk")
         AND ("ca_country" = 'United States')
         AND ("ca_state" IN ('VA'      , 'CA'      , 'MS'))
         AND ("ss_net_profit" BETWEEN 50 AND 25000)))



Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 101.84MB, Delta: 1.10MB, Top Consumers: {HashBuilderOperator=101.84MB, PartitionedOutputOperator=3.24MB, ScanFilterAndProjectOperator=1.26MB}, Details: [{"taskId":"3.0.0","reservation":"95.78MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"108","reservations":["6.14MB","6.14MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.12MB","6.12MB","6.12MB","6.12MB","6.12MB","6.11MB","5.02MB","5.01MB"],"total":"95.78MB","info":"INNER;PARTITIONED;"}]},{"taskId":"4.0.0","reservation":"3.99MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"116","reservations":["128.40kB","128.40kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB"],"total":"2.00MB","info":"INNER;PARTITIONED;"},{"type":"PartitionedOutputOperator","planNodeId":"926","reservations":["1.05MB","478.81kB","478.81kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"1.99MB"},{"type":"FilterAndProjectOperator","planNodeId":"926","reservations":["944B","944B","944B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.77kB"}]},{"taskId":"5.0.0","reservation":"2.50MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"924","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"924","reservations":["1.25MB"],"total":"1.25MB"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 101.84MB, Delta: 1.10MB, Top Consumers: {HashBuilderOperator=101.84MB, PartitionedOutputOperator=3.24MB, ScanFilterAndProjectOperator=1.26MB}, Details: [{"taskId":"3.0.0","reservation":"95.78MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"108","reservations":["6.14MB","6.14MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.12MB","6.12MB","6.12MB","6.12MB","6.12MB","6.11MB","5.02MB","5.01MB"],"total":"95.78MB","info":"INNER;PARTITIONED;"}]},{"taskId":"4.0.0","reservation":"3.99MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"116","reservations":["128.40kB","128.40kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB"],"total":"2.00MB","info":"INNER;PARTITIONED;"},{"type":"PartitionedOutputOperator","planNodeId":"926","reservations":["1.05MB","478.81kB","478.81kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"1.99MB"},{"type":"FilterAndProjectOperator","planNodeId":"926","reservations":["944B","944B","944B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.77kB"}]},{"taskId":"5.0.0","reservation":"2.50MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"924","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"924","reservations":["1.25MB"],"total":"1.25MB"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.finishInput(HashBuilderOperator.java:503)', 'com.facebook.presto.operator.HashBuilderOperator.finish(HashBuilderOperator.java:454)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:441)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 15, in <module>
    for row in rs:
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/result.py", line 381, in iterrows
    for row in self._fetchiter_impl():
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 1788, in _fetchiter_impl
    row = fetchone(self, self.cursor)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 960, in fetchone
    self.handle_exception(result, dbapi_cursor, e)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 941, in handle_exception
    result.connection._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
sqlalchemy.exc.DatabaseError: (pyhive.exc.DatabaseError) {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 101.84MB, Delta: 1.10MB, Top Consumers: {HashBuilderOperator=101.84MB, PartitionedOutputOperator=3.24MB, ScanFilterAndProjectOperator=1.26MB}, Details: [{"taskId":"3.0.0","reservation":"95.78MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"108","reservations":["6.14MB","6.14MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.12MB","6.12MB","6.12MB","6.12MB","6.12MB","6.11MB","5.02MB","5.01MB"],"total":"95.78MB","info":"INNER;PARTITIONED;"}]},{"taskId":"4.0.0","reservation":"3.99MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"116","reservations":["128.40kB","128.40kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB"],"total":"2.00MB","info":"INNER;PARTITIONED;"},{"type":"PartitionedOutputOperator","planNodeId":"926","reservations":["1.05MB","478.81kB","478.81kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"1.99MB"},{"type":"FilterAndProjectOperator","planNodeId":"926","reservations":["944B","944B","944B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.77kB"}]},{"taskId":"5.0.0","reservation":"2.50MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"924","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"924","reservations":["1.25MB"],"total":"1.25MB"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 101.84MB, Delta: 1.10MB, Top Consumers: {HashBuilderOperator=101.84MB, PartitionedOutputOperator=3.24MB, ScanFilterAndProjectOperator=1.26MB}, Details: [{"taskId":"3.0.0","reservation":"95.78MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"108","reservations":["6.14MB","6.14MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.13MB","6.12MB","6.12MB","6.12MB","6.12MB","6.12MB","6.11MB","5.02MB","5.01MB"],"total":"95.78MB","info":"INNER;PARTITIONED;"}]},{"taskId":"4.0.0","reservation":"3.99MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"116","reservations":["128.40kB","128.40kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB","128.26kB"],"total":"2.00MB","info":"INNER;PARTITIONED;"},{"type":"PartitionedOutputOperator","planNodeId":"926","reservations":["1.05MB","478.81kB","478.81kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"1.99MB"},{"type":"FilterAndProjectOperator","planNodeId":"926","reservations":["944B","944B","944B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"2.77kB"}]},{"taskId":"5.0.0","reservation":"2.50MB","topConsumers":[{"type":"ScanFilterAndProjectOperator","planNodeId":"924","reservations":["1.25MB"],"total":"1.25MB"},{"type":"PartitionedOutputOperator","planNodeId":"924","reservations":["1.25MB"],"total":"1.25MB"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.finishInput(HashBuilderOperator.java:503)', 'com.facebook.presto.operator.HashBuilderOperator.finish(HashBuilderOperator.java:454)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:441)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}
(Background on this error at: https://sqlalche.me/e/14/4xp6)



SQL name: ./benchmark/tpcds/q49.sql...
========================================
SELECT
  'web' "channel"
, "web"."item"
, "web"."return_ratio"
, "web"."return_rank"
, "web"."currency_rank"
FROM
  (
   SELECT
     "item"
   , "return_ratio"
   , "currency_ratio"
   , "rank"() OVER (ORDER BY "return_ratio" ASC) "return_rank"
   , "rank"() OVER (ORDER BY "currency_ratio" ASC) "currency_rank"
   FROM
     (
      SELECT
        "ws"."ws_item_sk" "item"
      , (CAST("sum"(COALESCE("wr"."wr_return_quantity", 0)) AS DECIMAL(15,4)) / CAST("sum"(COALESCE("ws"."ws_quantity", 0)) AS DECIMAL(15,4))) "return_ratio"
      , (CAST("sum"(COALESCE("wr"."wr_return_amt", 0)) AS DECIMAL(15,4)) / CAST("sum"(COALESCE("ws"."ws_net_paid", 0)) AS DECIMAL(15,4))) "currency_ratio"
      FROM
        (tpcds.tiny.web_sales ws
      LEFT JOIN tpcds.tiny.web_returns wr ON ("ws"."ws_order_number" = "wr"."wr_order_number")
         AND ("ws"."ws_item_sk" = "wr"."wr_item_sk"))
      , tpcds.tiny.date_dim
      WHERE ("wr"."wr_return_amt" > 10000)
         AND ("ws"."ws_net_profit" > 1)
         AND ("ws"."ws_net_paid" > 0)
         AND ("ws"."ws_quantity" > 0)
         AND ("ws_sold_date_sk" = "d_date_sk")
         AND ("d_year" = 2001)
         AND ("d_moy" = 12)
      GROUP BY "ws"."ws_item_sk"
   )  in_web
)  web
WHERE ("web"."return_rank" <= 10)
   OR ("web"."currency_rank" <= 10)
UNION SELECT
  'catalog' "channel"
, "catalog"."item"
, "catalog"."return_ratio"
, "catalog"."return_rank"
, "catalog"."currency_rank"
FROM
  (
   SELECT
     "item"
   , "return_ratio"
   , "currency_ratio"
   , "rank"() OVER (ORDER BY "return_ratio" ASC) "return_rank"
   , "rank"() OVER (ORDER BY "currency_ratio" ASC) "currency_rank"
   FROM
     (
      SELECT
        "cs"."cs_item_sk" "item"
      , (CAST("sum"(COALESCE("cr"."cr_return_quantity", 0)) AS DECIMAL(15,4)) / CAST("sum"(COALESCE("cs"."cs_quantity", 0)) AS DECIMAL(15,4))) "return_ratio"
      , (CAST("sum"(COALESCE("cr"."cr_return_amount", 0)) AS DECIMAL(15,4)) / CAST("sum"(COALESCE("cs"."cs_net_paid", 0)) AS DECIMAL(15,4))) "currency_ratio"
      FROM
        (tpcds.tiny.catalog_sales cs
      LEFT JOIN tpcds.tiny.catalog_returns cr ON ("cs"."cs_order_number" = "cr"."cr_order_number")
         AND ("cs"."cs_item_sk" = "cr"."cr_item_sk"))
      , tpcds.tiny.date_dim
      WHERE ("cr"."cr_return_amount" > 10000)
         AND ("cs"."cs_net_profit" > 1)
         AND ("cs"."cs_net_paid" > 0)
         AND ("cs"."cs_quantity" > 0)
         AND ("cs_sold_date_sk" = "d_date_sk")
         AND ("d_year" = 2001)
         AND ("d_moy" = 12)
      GROUP BY "cs"."cs_item_sk"
   )  in_cat
)  "CATALOG"
WHERE ("catalog"."return_rank" <= 10)
   OR ("catalog"."currency_rank" <= 10)
UNION SELECT
  'tpcds.tiny.store' "channel"
, "store"."item"
, "store"."return_ratio"
, "store"."return_rank"
, "store"."currency_rank"
FROM
  (
   SELECT
     "item"
   , "return_ratio"
   , "currency_ratio"
   , "rank"() OVER (ORDER BY "return_ratio" ASC) "return_rank"
   , "rank"() OVER (ORDER BY "currency_ratio" ASC) "currency_rank"
   FROM
     (
      SELECT
        "sts"."ss_item_sk" "item"

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('catalog', 767, '1.0000', 1, 1), ('tpcds.tiny.store', 1841, '0.7750', 1, 1), ('tpcds.tiny.store', 737, '0.9420', 2, 2)]


SQL name: ./benchmark/tpcds/q50.sql...
========================================
SELECT
  "s_store_name"
, "s_company_id"
, "s_street_number"
, "s_street_name"
, "s_street_type"
, "s_suite_number"
, "s_city"
, "s_county"
, "s_state"
, "s_zip"
, "sum"((CASE WHEN (("sr_returned_date_sk" - "ss_sold_date_sk") <= 30) THEN 1 ELSE 0 END)) "30 days"
, "sum"((CASE WHEN (("sr_returned_date_sk" - "ss_sold_date_sk") > 30)
   AND (("sr_returned_date_sk" - "ss_sold_date_sk") <= 60) THEN 1 ELSE 0 END)) "31-60 days"
, "sum"((CASE WHEN (("sr_returned_date_sk" - "ss_sold_date_sk") > 60)
   AND (("sr_returned_date_sk" - "ss_sold_date_sk") <= 90) THEN 1 ELSE 0 END)) "61-90 days"
, "sum"((CASE WHEN (("sr_returned_date_sk" - "ss_sold_date_sk") > 90)
   AND (("sr_returned_date_sk" - "ss_sold_date_sk") <= 120) THEN 1 ELSE 0 END)) "91-120 days"
, "sum"((CASE WHEN (("sr_returned_date_sk" - "ss_sold_date_sk") > 120) THEN 1 ELSE 0 END)) ">120 days"
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.store_returns
, tpcds.tiny.store
, tpcds.tiny.date_dim d1
, tpcds.tiny.date_dim d2
WHERE ("d2"."d_year" = 2001)
   AND ("d2"."d_moy" = 8)
   AND ("ss_ticket_number" = "sr_ticket_number")
   AND ("ss_item_sk" = "sr_item_sk")
   AND ("ss_sold_date_sk" = "d1"."d_date_sk")
   AND ("sr_returned_date_sk" = "d2"."d_date_sk")
   AND ("ss_customer_sk" = "sr_customer_sk")
   AND ("ss_store_sk" = "s_store_sk")
GROUP BY "s_store_name", "s_company_id", "s_street_number", "s_street_name", "s_street_type", "s_suite_number", "s_city", "s_county", "s_state", "s_zip"
ORDER BY "s_store_name" ASC, "s_company_id" ASC, "s_street_number" ASC, "s_street_name" ASC, "s_street_type" ASC, "s_suite_number" ASC, "s_city" ASC, "s_county" ASC, "s_state" ASC, "s_zip" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('able', 1, '255', 'Sycamore ', 'Dr.            ', 'Suite 410 ', 'Midway', 'Williamson County', 'TN', '31904     ', 9, 7, 3, 6, 16), ('ought', 1, '767', 'Spring ', 'Wy             ', 'Suite 250 ', 'Midway', 'Williamson County', 'TN', '31904     ', 8, 9, 4, 6, 10)]


SQL name: ./benchmark/tpcds/q51.sql...
========================================
WITH
  web_v1 AS (
   SELECT
     "ws_item_sk" "item_sk"
   , "d_date"
   , "sum"("sum"("ws_sales_price")) OVER (PARTITION BY "ws_item_sk" ORDER BY "d_date" ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) "cume_sales"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   WHERE ("ws_sold_date_sk" = "d_date_sk")
      AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
      AND ("ws_item_sk" IS NOT NULL)
   GROUP BY "ws_item_sk", "d_date"
)
, store_v1 AS (
   SELECT
     "ss_item_sk" "item_sk"
   , "d_date"
   , "sum"("sum"("ss_sales_price")) OVER (PARTITION BY "ss_item_sk" ORDER BY "d_date" ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) "cume_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
      AND ("ss_item_sk" IS NOT NULL)
   GROUP BY "ss_item_sk", "d_date"
)
SELECT *
FROM
  (
   SELECT
     "item_sk"
   , "d_date"
   , "web_sales"
   , "store_sales"
   , "max"("web_sales") OVER (PARTITION BY "item_sk" ORDER BY "d_date" ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) "web_cumulative"
   , "max"("store_sales") OVER (PARTITION BY "item_sk" ORDER BY "d_date" ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) "store_cumulative"
   FROM
     (
      SELECT
        (CASE WHEN ("web"."item_sk" IS NOT NULL) THEN "web"."item_sk" ELSE "store"."item_sk" END) "item_sk"
      , (CASE WHEN ("web"."d_date" IS NOT NULL) THEN "web"."d_date" ELSE "store"."d_date" END) "d_date"
      , "web"."cume_sales" "web_sales"
      , "store"."cume_sales" "store_sales"
      FROM
        (web_v1 web
      FULL JOIN store_v1 store ON ("web"."item_sk" = "store"."item_sk")
         AND ("web"."d_date" = "store"."d_date"))
   )  x
)  y
WHERE ("web_cumulative" > "store_cumulative")
ORDER BY "item_sk" ASC, "d_date" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(5, '2000-04-15', '114.20', None, '114.20', '79.51'), (5, '2000-05-01', None, '110.03', '114.20', '110.03'), (11, '2000-02-16', '130.39', None, '130.39', '126.45'), (23, '2000-01-03', '29.57', '7.69', '29.57', '7.69'), (31, '2000-05-26', '49.63', None, '49.63', '30.94')]


SQL name: ./benchmark/tpcds/q52.sql...
========================================
SELECT
  "dt"."d_year"
, "item"."i_brand_id" "brand_id"
, "item"."i_brand" "brand"
, "sum"("ss_ext_sales_price") "ext_price"
FROM
  tpcds.tiny.date_dim dt
, tpcds.tiny.store_sales
, tpcds.tiny.item
WHERE ("dt"."d_date_sk" = "store_sales"."ss_sold_date_sk")
   AND ("store_sales"."ss_item_sk" = "item"."i_item_sk")
   AND ("item"."i_manager_id" = 1)
   AND ("dt"."d_moy" = 11)
   AND ("dt"."d_year" = 2000)
GROUP BY "dt"."d_year", "item"."i_brand", "item"."i_brand_id"
ORDER BY "dt"."d_year" ASC, "ext_price" DESC, "brand_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(2000, 7008009, 'namelessbrand #9                                  ', '25825.18'), (2000, 1002002, 'importoamalg #2                                   ', '21693.31'), (2000, 1001002, 'amalgamalg #2                                     ', '14705.57'), (2000, 10004004, 'edu packunivamalg #4                              ', '14449.16'), (2000, 7006007, 'edu packamalg #2                                  ', '14308.40')]


SQL name: ./benchmark/tpcds/q53.sql...
========================================
SELECT *
FROM
  (
   SELECT
     "i_manufact_id"
   , "sum"("ss_sales_price") "sum_sales"
   , "avg"("sum"("ss_sales_price")) OVER (PARTITION BY "i_manufact_id") "avg_quarterly_sales"
   FROM
     tpcds.tiny.item
   , tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   WHERE ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("d_month_seq" IN (1200   , (1200 + 1)   , (1200 + 2)   , (1200 + 3)   , (1200 + 4)   , (1200 + 5)   , (1200 + 6)   , (1200 + 7)   , (1200 + 8)   , (1200 + 9)   , (1200 + 10)   , (1200 + 11)))
      AND ((("i_category" IN ('Books'         , 'Children'         , 'Electronics'))
            AND ("i_class" IN ('personal'         , 'portable'         , 'reference'         , 'self-help'))
            AND ("i_brand" IN ('scholaramalgamalg #14'         , 'scholaramalgamalg #7'         , 'exportiunivamalg #9'         , 'scholaramalgamalg #9')))
         OR (("i_category" IN ('Women'         , 'Music'         , 'Men'))
            AND ("i_class" IN ('accessories'         , 'classical'         , 'fragrances'         , 'pants'))
            AND ("i_brand" IN ('amalgimporto #1'         , 'edu packscholar #1'         , 'exportiimporto #1'         , 'importoamalg #1'))))
   GROUP BY "i_manufact_id", "d_qoy"
)  tmp1
WHERE ((CASE WHEN ("avg_quarterly_sales" > 0) THEN ("abs"((CAST("sum_sales" AS DECIMAL(38,4)) - "avg_quarterly_sales")) / "avg_quarterly_sales") ELSE null END) > DECIMAL '0.1')
ORDER BY "avg_quarterly_sales" ASC, "sum_sales" ASC, "i_manufact_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(451, '51.42', '122.38'), (451, '53.40', '122.38'), (451, '142.01', '122.38'), (451, '242.68', '122.38'), (107, '0.00', '124.18')]


SQL name: ./benchmark/tpcds/q54.sql...
========================================
WITH
  my_customers AS (
   SELECT DISTINCT
     "c_customer_sk"
   , "c_current_addr_sk"
   FROM
     (
      SELECT
        "cs_sold_date_sk" "sold_date_sk"
      , "cs_bill_customer_sk" "customer_sk"
      , "cs_item_sk" "item_sk"
      FROM
        tpcds.tiny.catalog_sales
UNION ALL       SELECT
        "ws_sold_date_sk" "sold_date_sk"
      , "ws_bill_customer_sk" "customer_sk"
      , "ws_item_sk" "item_sk"
      FROM
        tpcds.tiny.web_sales
   )  cs_or_ws_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer
   WHERE ("sold_date_sk" = "d_date_sk")
      AND ("item_sk" = "i_item_sk")
      AND ("i_category" = 'Women')
      AND ("i_class" = 'maternity')
      AND ("c_customer_sk" = "cs_or_ws_sales"."customer_sk")
      AND ("d_moy" = 12)
      AND ("d_year" = 1998)
)
, my_revenue AS (
   SELECT
     "c_customer_sk"
   , "sum"("ss_ext_sales_price") "revenue"
   FROM
     my_customers
   , tpcds.tiny.store_sales
   , tpcds.tiny.customer_address
   , tpcds.tiny.store
   , tpcds.tiny.date_dim
   WHERE ("c_current_addr_sk" = "ca_address_sk")
      AND ("ca_county" = "s_county")
      AND ("ca_state" = "s_state")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("c_customer_sk" = "ss_customer_sk")
      AND ("d_month_seq" BETWEEN (
      SELECT DISTINCT ("d_month_seq" + 1)
      FROM
        tpcds.tiny.date_dim
      WHERE ("d_year" = 1998)
         AND ("d_moy" = 12)
   ) AND (
      SELECT DISTINCT ("d_month_seq" + 3)
      FROM
        tpcds.tiny.date_dim
      WHERE ("d_year" = 1998)
         AND ("d_moy" = 12)
   ))
   GROUP BY "c_customer_sk"
)
, segments AS (
   SELECT CAST(("revenue" / 50) AS INTEGER) "segment"
   FROM
     my_revenue
)
SELECT
  "segment"
, "count"(*) "num_customers"
, ("segment" * 50) "segment_base"
FROM
  segments
GROUP BY "segment"
ORDER BY "segment" ASC, "num_customers" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q55.sql...
========================================
SELECT
  "i_brand_id" "brand_id"
, "i_brand" "brand"
, "sum"("ss_ext_sales_price") "ext_price"
FROM
  tpcds.tiny.date_dim
, tpcds.tiny.store_sales
, tpcds.tiny.item
WHERE ("d_date_sk" = "ss_sold_date_sk")
   AND ("ss_item_sk" = "i_item_sk")
   AND ("i_manager_id" = 28)
   AND ("d_moy" = 11)
   AND ("d_year" = 1999)
GROUP BY "i_brand", "i_brand_id"
ORDER BY "ext_price" DESC, "i_brand_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(9016003, 'corpunivamalg #3                                  ', '23226.35'), (3004001, 'edu packexporti #1                                ', '20841.63'), (6015001, 'scholarbrand #1                                   ', '18992.54'), (1002001, 'importoamalg #1                                   ', '13599.84'), (10015011, 'scholaramalgamalg #11                             ', '12423.67')]


SQL name: ./benchmark/tpcds/q56.sql...
========================================
WITH
  ss AS (
   SELECT
     "i_item_id"
   , "sum"("ss_ext_sales_price") "total_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("i_item_id" IN (
      SELECT "i_item_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_color" IN ('slate'      , 'blanched'      , 'burnished'))
   ))
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 2001)
      AND ("d_moy" = 2)
      AND ("ss_addr_sk" = "ca_address_sk")
      AND ("ca_gmt_offset" = -5)
   GROUP BY "i_item_id"
)
, cs AS (
   SELECT
     "i_item_id"
   , "sum"("cs_ext_sales_price") "total_sales"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("i_item_id" IN (
      SELECT "i_item_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_color" IN ('slate'      , 'blanched'      , 'burnished'))
   ))
      AND ("cs_item_sk" = "i_item_sk")
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 2001)
      AND ("d_moy" = 2)
      AND ("cs_bill_addr_sk" = "ca_address_sk")
      AND ("ca_gmt_offset" = -5)
   GROUP BY "i_item_id"
)
, ws AS (
   SELECT
     "i_item_id"
   , "sum"("ws_ext_sales_price") "total_sales"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("i_item_id" IN (
      SELECT "i_item_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_color" IN ('slate'      , 'blanched'      , 'burnished'))
   ))
      AND ("ws_item_sk" = "i_item_sk")
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 2001)
      AND ("d_moy" = 2)
      AND ("ws_bill_addr_sk" = "ca_address_sk")
      AND ("ca_gmt_offset" = -5)
   GROUP BY "i_item_id"
)
SELECT
  "i_item_id"
, "sum"("total_sales") "total_sales"
FROM
  (
   SELECT *
   FROM
     ss
UNION ALL    SELECT *
   FROM
     cs
UNION ALL    SELECT *
   FROM
     ws
)  tmp1
GROUP BY "i_item_id"
ORDER BY "total_sales" ASC, "i_item_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAAKBCAAAAA', '57.59'), ('AAAAAAAAGAHAAAAA', '75.32'), ('AAAAAAAAGJEAAAAA', '100.00'), ('AAAAAAAAIKFAAAAA', '280.64'), ('AAAAAAAAKMHAAAAA', '389.95')]


SQL name: ./benchmark/tpcds/q57.sql...
========================================
WITH
  v1 AS (
   SELECT
     "i_category"
   , "i_brand"
   , "cc_name"
   , "d_year"
   , "d_moy"
   , "sum"("cs_sales_price") "sum_sales"
   , "avg"("sum"("cs_sales_price")) OVER (PARTITION BY "i_category", "i_brand", "cc_name", "d_year") "avg_monthly_sales"
   , "rank"() OVER (PARTITION BY "i_category", "i_brand", "cc_name" ORDER BY "d_year" ASC, "d_moy" ASC) "rn"
   FROM
     tpcds.tiny.item
   , tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.call_center
   WHERE ("cs_item_sk" = "i_item_sk")
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("cc_call_center_sk" = "cs_call_center_sk")
      AND (("d_year" = 1999)
         OR (("d_year" = (1999 - 1))
            AND ("d_moy" = 12))
         OR (("d_year" = (1999 + 1))
            AND ("d_moy" = 1)))
   GROUP BY "i_category", "i_brand", "cc_name", "d_year", "d_moy"
)
, v2 AS (
   SELECT
     "v1"."i_category"
   , "v1"."i_brand"
   , "v1"."cc_name"
   , "v1"."d_year"
   , "v1"."d_moy"
   , "v1"."avg_monthly_sales"
   , "v1"."sum_sales"
   , "v1_lag"."sum_sales" "psum"
   , "v1_lead"."sum_sales" "nsum"
   FROM
     v1
   , v1 v1_lag
   , v1 v1_lead
   WHERE ("v1"."i_category" = "v1_lag"."i_category")
      AND ("v1"."i_category" = "v1_lead"."i_category")
      AND ("v1"."i_brand" = "v1_lag"."i_brand")
      AND ("v1"."i_brand" = "v1_lead"."i_brand")
      AND ("v1"."cc_name" = "v1_lag"."cc_name")
      AND ("v1"."cc_name" = "v1_lead"."cc_name")
      AND ("v1"."rn" = ("v1_lag"."rn" + 1))
      AND ("v1"."rn" = ("v1_lead"."rn" - 1))
)
SELECT *
FROM
  v2
WHERE ("d_year" = 1999)
   AND ("avg_monthly_sales" > 0)
   AND ((CASE WHEN ("avg_monthly_sales" > 0) THEN ("abs"(("sum_sales" - "avg_monthly_sales")) / "avg_monthly_sales") ELSE null END) > DECIMAL '0.1')
ORDER BY ("sum_sales" - "avg_monthly_sales") ASC, 3 ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Men                                               ', 'exportiimporto #1                                 ', 'NY Metro', 1999, 6, '815.93', '45.63', '570.54', '476.17'), ('Shoes                                             ', 'edu packedu pack #1                               ', 'Mid Atlantic', 1999, 4, '866.93', '126.89', '294.79', '558.99'), ('Shoes                                             ', 'edu packedu pack #1                               ', 'Mid Atlantic', 1999, 7, '866.93', '129.07', '486.59', '1541.27'), ('Men                                               ', 'exportiimporto #1                                 ', 'NY Metro', 1999, 2, '815.93', '87.03', '507.68', '452.95'), ('Shoes                                             ', 'exportiedu pack #1                                ', 'NY Metro', 1999, 3, '812.75', '150.52', '307.75', '242.01')]


SQL name: ./benchmark/tpcds/q58.sql...
========================================
WITH
  ss_items AS (
   SELECT
     "i_item_id" "item_id"
   , "sum"("ss_ext_sales_price") "ss_item_rev"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ss_item_sk" = "i_item_sk")
      AND ("d_date" IN (
      SELECT "d_date"
      FROM
        tpcds.tiny.date_dim
      WHERE ("d_week_seq" = (
            SELECT "d_week_seq"
            FROM
              tpcds.tiny.date_dim
            WHERE ("d_date" = CAST('2000-01-03' AS DATE))
         ))
   ))
      AND ("ss_sold_date_sk" = "d_date_sk")
   GROUP BY "i_item_id"
)
, cs_items AS (
   SELECT
     "i_item_id" "item_id"
   , "sum"("cs_ext_sales_price") "cs_item_rev"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("cs_item_sk" = "i_item_sk")
      AND ("d_date" IN (
      SELECT "d_date"
      FROM
        tpcds.tiny.date_dim
      WHERE ("d_week_seq" = (
            SELECT "d_week_seq"
            FROM
              tpcds.tiny.date_dim
            WHERE ("d_date" = CAST('2000-01-03' AS DATE))
         ))
   ))
      AND ("cs_sold_date_sk" = "d_date_sk")
   GROUP BY "i_item_id"
)
, ws_items AS (
   SELECT
     "i_item_id" "item_id"
   , "sum"("ws_ext_sales_price") "ws_item_rev"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ws_item_sk" = "i_item_sk")
      AND ("d_date" IN (
      SELECT "d_date"
      FROM
        tpcds.tiny.date_dim
      WHERE ("d_week_seq" = (
            SELECT "d_week_seq"
            FROM
              tpcds.tiny.date_dim
            WHERE ("d_date" = CAST('2000-01-03' AS DATE))
         ))
   ))
      AND ("ws_sold_date_sk" = "d_date_sk")
   GROUP BY "i_item_id"
)
SELECT
  "ss_items"."item_id"
, "ss_item_rev"
, CAST(((("ss_item_rev" / ((CAST("ss_item_rev" AS DECIMAL(16,7)) + "cs_item_rev") + "ws_item_rev")) / 3) * 100) AS DECIMAL(7,2)) "ss_dev"
, "cs_item_rev"
, CAST(((("cs_item_rev" / ((CAST("ss_item_rev" AS DECIMAL(16,7)) + "cs_item_rev") + "ws_item_rev")) / 3) * 100) AS DECIMAL(7,2)) "cs_dev"
, "ws_item_rev"
, CAST(((("ws_item_rev" / ((CAST("ss_item_rev" AS DECIMAL(16,7)) + "cs_item_rev") + "ws_item_rev")) / 3) * 100) AS DECIMAL(7,2)) "ws_dev"
, ((("ss_item_rev" + "cs_item_rev") + "ws_item_rev") / 3) "average"
FROM
  ss_items
, cs_items
, ws_items
WHERE ("ss_items"."item_id" = "cs_items"."item_id")
   AND ("ss_items"."item_id" = "ws_items"."item_id")
   AND ("ss_item_rev" BETWEEN (DECIMAL '0.9' * "cs_item_rev") AND (DECIMAL '1.1' * "cs_item_rev"))
   AND ("ss_item_rev" BETWEEN (DECIMAL '0.9' * "ws_item_rev") AND (DECIMAL '1.1' * "ws_item_rev"))
   AND ("cs_item_rev" BETWEEN (DECIMAL '0.9' * "ss_item_rev") AND (DECIMAL '1.1' * "ss_item_rev"))
   AND ("cs_item_rev" BETWEEN (DECIMAL '0.9' * "ws_item_rev") AND (DECIMAL '1.1' * "ws_item_rev"))
   AND ("ws_item_rev" BETWEEN (DECIMAL '0.9' * "ss_item_rev") AND (DECIMAL '1.1' * "ss_item_rev"))
   AND ("ws_item_rev" BETWEEN (DECIMAL '0.9' * "cs_item_rev") AND (DECIMAL '1.1' * "cs_item_rev"))
ORDER BY "ss_items"."item_id" ASC, "ss_item_rev" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q59.sql...
========================================
WITH
  wss AS (
   SELECT
     "d_week_seq"
   , "ss_store_sk"
   , "sum"((CASE WHEN ("d_day_name" = 'Sunday') THEN "ss_sales_price" ELSE null END)) "sun_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Monday') THEN "ss_sales_price" ELSE null END)) "mon_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Tuesday') THEN "ss_sales_price" ELSE null END)) "tue_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Wednesday') THEN "ss_sales_price" ELSE null END)) "wed_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Thursday') THEN "ss_sales_price" ELSE null END)) "thu_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Friday') THEN "ss_sales_price" ELSE null END)) "fri_sales"
   , "sum"((CASE WHEN ("d_day_name" = 'Saturday') THEN "ss_sales_price" ELSE null END)) "sat_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("d_date_sk" = "ss_sold_date_sk")
   GROUP BY "d_week_seq", "ss_store_sk"
)
SELECT
  "s_store_name1"
, "s_store_id1"
, "d_week_seq1"
, ("sun_sales1" / "sun_sales2")
, ("mon_sales1" / "mon_sales2")
, ("tue_sales1" / "tue_sales2")
, ("wed_sales1" / "wed_sales2")
, ("thu_sales1" / "thu_sales2")
, ("fri_sales1" / "fri_sales2")
, ("sat_sales1" / "sat_sales2")
FROM
  (
   SELECT
     "s_store_name" "s_store_name1"
   , "wss"."d_week_seq" "d_week_seq1"
   , "s_store_id" "s_store_id1"
   , "sun_sales" "sun_sales1"
   , "mon_sales" "mon_sales1"
   , "tue_sales" "tue_sales1"
   , "wed_sales" "wed_sales1"
   , "thu_sales" "thu_sales1"
   , "fri_sales" "fri_sales1"
   , "sat_sales" "sat_sales1"
   FROM
     wss
   , tpcds.tiny.store
   , tpcds.tiny.date_dim d
   WHERE ("d"."d_week_seq" = "wss"."d_week_seq")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("d_month_seq" BETWEEN 1212 AND (1212 + 11))
)  y
, (
   SELECT
     "s_store_name" "s_store_name2"
   , "wss"."d_week_seq" "d_week_seq2"
   , "s_store_id" "s_store_id2"
   , "sun_sales" "sun_sales2"
   , "mon_sales" "mon_sales2"
   , "tue_sales" "tue_sales2"
   , "wed_sales" "wed_sales2"
   , "thu_sales" "thu_sales2"
   , "fri_sales" "fri_sales2"
   , "sat_sales" "sat_sales2"
   FROM
     wss
   , tpcds.tiny.store
   , tpcds.tiny.date_dim d
   WHERE ("d"."d_week_seq" = "wss"."d_week_seq")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("d_month_seq" BETWEEN (1212 + 12) AND (1212 + 23))
)  x
WHERE ("s_store_id1" = "s_store_id2")
   AND ("d_week_seq1" = ("d_week_seq2" - 52))
ORDER BY "s_store_name1" ASC, "s_store_id1" ASC, "d_week_seq1" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('able', 'AAAAAAAACAAAAAAA', 5271, '1.35', None, None, None, '0.89', '0.56', '1.57'), ('able', 'AAAAAAAACAAAAAAA', 5271, '1.35', None, None, None, '0.89', '0.56', '1.57'), ('able', 'AAAAAAAACAAAAAAA', 5271, '1.35', None, None, None, '0.89', '0.56', '1.57'), ('able', 'AAAAAAAACAAAAAAA', 5271, '1.35', None, None, None, '0.89', '0.56', '1.57'), ('able', 'AAAAAAAACAAAAAAA', 5271, '1.35', None, None, None, '0.89', '0.56', '1.57')]


SQL name: ./benchmark/tpcds/q60.sql...
========================================
WITH
  ss AS (
   SELECT
     "i_item_id"
   , "sum"("ss_ext_sales_price") "total_sales"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("i_item_id" IN (
      SELECT "i_item_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_category" IN ('Music'))
   ))
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 1998)
      AND ("d_moy" = 9)
      AND ("ss_addr_sk" = "ca_address_sk")
      AND ("ca_gmt_offset" = -5)
   GROUP BY "i_item_id"
)
, cs AS (
   SELECT
     "i_item_id"
   , "sum"("cs_ext_sales_price") "total_sales"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("i_item_id" IN (
      SELECT "i_item_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_category" IN ('Music'))
   ))
      AND ("cs_item_sk" = "i_item_sk")
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 1998)
      AND ("d_moy" = 9)
      AND ("cs_bill_addr_sk" = "ca_address_sk")
      AND ("ca_gmt_offset" = -5)
   GROUP BY "i_item_id"
)
, ws AS (
   SELECT
     "i_item_id"
   , "sum"("ws_ext_sales_price") "total_sales"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("i_item_id" IN (
      SELECT "i_item_id"
      FROM
        tpcds.tiny.item
      WHERE ("i_category" IN ('Music'))
   ))
      AND ("ws_item_sk" = "i_item_sk")
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 1998)
      AND ("d_moy" = 9)
      AND ("ws_bill_addr_sk" = "ca_address_sk")
      AND ("ca_gmt_offset" = -5)
   GROUP BY "i_item_id"
)
SELECT
  "i_item_id"
, "sum"("total_sales") "total_sales"
FROM
  (
   SELECT *
   FROM
     ss
UNION ALL    SELECT *
   FROM
     cs
UNION ALL    SELECT *
   FROM
     ws
)  tmp1
GROUP BY "i_item_id"
ORDER BY "i_item_id" ASC, "total_sales" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAAAAHAAAAA', '321.76'), ('AAAAAAAAADBAAAAA', '1648.20'), ('AAAAAAAAAEBAAAAA', '3378.42'), ('AAAAAAAAAGFAAAAA', '2937.12'), ('AAAAAAAAAGHAAAAA', '6229.09')]


SQL name: ./benchmark/tpcds/q61.sql...
========================================
SELECT
  "promotions"
, "total"
, ((CAST("promotions" AS DECIMAL(15,4)) / CAST("total" AS DECIMAL(15,4))) * 100)
FROM
  (
   SELECT "sum"("ss_ext_sales_price") "promotions"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.store
   , tpcds.tiny.promotion
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("ss_promo_sk" = "p_promo_sk")
      AND ("ss_customer_sk" = "c_customer_sk")
      AND ("ca_address_sk" = "c_current_addr_sk")
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ca_gmt_offset" = -5)
      AND ("i_category" = 'Jewelry')
      AND (("p_channel_dmail" = 'Y')
         OR ("p_channel_email" = 'Y')
         OR ("p_channel_tv" = 'Y'))
      AND ("s_gmt_offset" = -5)
      AND ("d_year" = 1998)
      AND ("d_moy" = 11)
)  promotional_sales
, (
   SELECT "sum"("ss_ext_sales_price") "total"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.store
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer
   , tpcds.tiny.customer_address
   , tpcds.tiny.item
   WHERE ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("ss_customer_sk" = "c_customer_sk")
      AND ("ca_address_sk" = "c_current_addr_sk")
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ca_gmt_offset" = -5)
      AND ("i_category" = 'Jewelry')
      AND ("s_gmt_offset" = -5)
      AND ("d_year" = 1998)
      AND ("d_moy" = 11)
)  all_sales
ORDER BY "promotions" ASC, "total" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('299773.09', '304031.94', '98.6000')]


SQL name: ./benchmark/tpcds/q62.sql...
========================================
SELECT
  "substr"("w_warehouse_name", 1, 20)
, "sm_type"
, "web_name"
, "sum"((CASE WHEN (("ws_ship_date_sk" - "ws_sold_date_sk") <= 30) THEN 1 ELSE 0 END)) "30 days"
, "sum"((CASE WHEN (("ws_ship_date_sk" - "ws_sold_date_sk") > 30)
   AND (("ws_ship_date_sk" - "ws_sold_date_sk") <= 60) THEN 1 ELSE 0 END)) "31-60 days"
, "sum"((CASE WHEN (("ws_ship_date_sk" - "ws_sold_date_sk") > 60)
   AND (("ws_ship_date_sk" - "ws_sold_date_sk") <= 90) THEN 1 ELSE 0 END)) "61-90 days"
, "sum"((CASE WHEN (("ws_ship_date_sk" - "ws_sold_date_sk") > 90)
   AND (("ws_ship_date_sk" - "ws_sold_date_sk") <= 120) THEN 1 ELSE 0 END)) "91-120 days"
, "sum"((CASE WHEN (("ws_ship_date_sk" - "ws_sold_date_sk") > 120) THEN 1 ELSE 0 END)) ">120 days"
FROM
  tpcds.tiny.web_sales
, tpcds.tiny.warehouse
, tpcds.tiny.ship_mode
, tpcds.tiny.web_site
, tpcds.tiny.date_dim
WHERE ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
   AND ("ws_ship_date_sk" = "d_date_sk")
   AND ("ws_warehouse_sk" = "w_warehouse_sk")
   AND ("ws_ship_mode_sk" = "sm_ship_mode_sk")
   AND ("ws_web_site_sk" = "web_site_sk")
GROUP BY "substr"("w_warehouse_name", 1, 20), "sm_type", "web_name"
ORDER BY "substr"("w_warehouse_name", 1, 20) ASC, "sm_type" ASC, "web_name" ASC
LIMIT 100

Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[('Conventional childr', 'EXPRESS                       ', 'site_0', 128, 107, 124, 93, 0), ('Conventional childr', 'LIBRARY                       ', 'site_0', 77, 77, 90, 75, 0), ('Conventional childr', 'NEXT DAY                      ', 'site_0', 109, 117, 114, 109, 0), ('Conventional childr', 'OVERNIGHT                     ', 'site_0', 78, 84, 83, 68, 0), ('Conventional childr', 'REGULAR                       ', 'site_0', 93, 87, 75, 65, 0)]


SQL name: ./benchmark/tpcds/q63.sql...
========================================
SELECT *
FROM
  (
   SELECT
     "i_manager_id"
   , "sum"("ss_sales_price") "sum_sales"
   , "avg"("sum"("ss_sales_price")) OVER (PARTITION BY "i_manager_id") "avg_monthly_sales"
   FROM
     tpcds.tiny.item
   , tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   WHERE ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("d_month_seq" IN (1200   , (1200 + 1)   , (1200 + 2)   , (1200 + 3)   , (1200 + 4)   , (1200 + 5)   , (1200 + 6)   , (1200 + 7)   , (1200 + 8)   , (1200 + 9)   , (1200 + 10)   , (1200 + 11)))
      AND ((("i_category" IN ('Books'         , 'Children'         , 'Electronics'))
            AND ("i_class" IN ('personal'         , 'portable'         , 'refernece'         , 'self-help'))
            AND ("i_brand" IN ('scholaramalgamalg #14'         , 'scholaramalgamalg #7'         , 'exportiunivamalg #9'         , 'scholaramalgamalg #9')))
         OR (("i_category" IN ('Women'         , 'Music'         , 'Men'))
            AND ("i_class" IN ('accessories'         , 'classical'         , 'fragrances'         , 'pants'))
            AND ("i_brand" IN ('amalgimporto #1'         , 'edu packscholar #1'         , 'exportiimporto #1'         , 'importoamalg #1'))))
   GROUP BY "i_manager_id", "d_moy"
)  tmp1
WHERE ((CASE WHEN ("avg_monthly_sales" > 0) THEN ("abs"(("sum_sales" - "avg_monthly_sales")) / "avg_monthly_sales") ELSE null END) > DECIMAL '0.1')
ORDER BY "i_manager_id" ASC, "avg_monthly_sales" ASC, "sum_sales" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(6, '4.68', '241.17'), (6, '17.82', '241.17'), (6, '51.64', '241.17'), (6, '51.86', '241.17'), (6, '92.48', '241.17')]


SQL name: ./benchmark/tpcds/q64.sql...
========================================
WITH
  cs_ui AS (
   SELECT
     "cs_item_sk"
   , "sum"("cs_ext_list_price") "sale"
   , "sum"((("cr_refunded_cash" + "cr_reversed_charge") + "cr_store_credit")) "refund"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.catalog_returns
   WHERE ("cs_item_sk" = "cr_item_sk")
      AND ("cs_order_number" = "cr_order_number")
   GROUP BY "cs_item_sk"
   HAVING ("sum"("cs_ext_list_price") > (2 * "sum"((("cr_refunded_cash" + "cr_reversed_charge") + "cr_store_credit"))))
)
, cross_sales AS (
   SELECT
     "i_product_name" "product_name"
   , "i_item_sk" "item_sk"
   , "s_store_name" "store_name"
   , "s_zip" "store_zip"
   , "ad1"."ca_street_number" "b_street_number"
   , "ad1"."ca_street_name" "b_street_name"
   , "ad1"."ca_city" "b_city"
   , "ad1"."ca_zip" "b_zip"
   , "ad2"."ca_street_number" "c_street_number"
   , "ad2"."ca_street_name" "c_street_name"
   , "ad2"."ca_city" "c_city"
   , "ad2"."ca_zip" "c_zip"
   , "d1"."d_year" "syear"
   , "d2"."d_year" "fsyear"
   , "d3"."d_year" "s2year"
   , "count"(*) "cnt"
   , "sum"("ss_wholesale_cost") "s1"
   , "sum"("ss_list_price") "s2"
   , "sum"("ss_coupon_amt") "s3"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.store_returns
   , cs_ui
   , tpcds.tiny.date_dim d1
   , tpcds.tiny.date_dim d2
   , tpcds.tiny.date_dim d3
   , tpcds.tiny.store
   , tpcds.tiny.customer
   , tpcds.tiny.customer_demographics cd1
   , tpcds.tiny.customer_demographics cd2
   , tpcds.tiny.promotion
   , tpcds.tiny.household_demographics hd1
   , tpcds.tiny.household_demographics hd2
   , tpcds.tiny.customer_address ad1
   , tpcds.tiny.customer_address ad2
   , tpcds.tiny.income_band ib1
   , tpcds.tiny.income_band ib2
   , tpcds.tiny.item
   WHERE ("ss_store_sk" = "s_store_sk")
      AND ("ss_sold_date_sk" = "d1"."d_date_sk")
      AND ("ss_customer_sk" = "c_customer_sk")
      AND ("ss_cdemo_sk" = "cd1"."cd_demo_sk")
      AND ("ss_hdemo_sk" = "hd1"."hd_demo_sk")
      AND ("ss_addr_sk" = "ad1"."ca_address_sk")
      AND ("ss_item_sk" = "i_item_sk")
      AND ("ss_item_sk" = "sr_item_sk")
      AND ("ss_ticket_number" = "sr_ticket_number")
      AND ("ss_item_sk" = "cs_ui"."cs_item_sk")
      AND ("c_current_cdemo_sk" = "cd2"."cd_demo_sk")
      AND ("c_current_hdemo_sk" = "hd2"."hd_demo_sk")
      AND ("c_current_addr_sk" = "ad2"."ca_address_sk")
      AND ("c_first_sales_date_sk" = "d2"."d_date_sk")
      AND ("c_first_shipto_date_sk" = "d3"."d_date_sk")
      AND ("ss_promo_sk" = "p_promo_sk")
      AND ("hd1"."hd_income_band_sk" = "ib1"."ib_income_band_sk")
      AND ("hd2"."hd_income_band_sk" = "ib2"."ib_income_band_sk")
      AND ("cd1"."cd_marital_status" <> "cd2"."cd_marital_status")
      AND ("i_color" IN ('purple'   , 'burlywood'   , 'indian'   , 'spring'   , 'floral'   , 'medium'))
      AND ("i_current_price" BETWEEN 64 AND (64 + 10))
      AND ("i_current_price" BETWEEN (64 + 1) AND (64 + 15))
   GROUP BY "i_product_name", "i_item_sk", "s_store_name", "s_zip", "ad1"."ca_street_number", "ad1"."ca_street_name", "ad1"."ca_city", "ad1"."ca_zip", "ad2"."ca_street_number", "ad2"."ca_street_name", "ad2"."ca_city", "ad2"."ca_zip", "d1"."d_year", "d2"."d_year", "d3"."d_year"
)
SELECT
  "cs1"."product_name"
, "cs1"."store_name"
, "cs1"."store_zip"
, "cs1"."b_street_number"
, "cs1"."b_street_name"
, "cs1"."b_city"
, "cs1"."b_zip"
, "cs1"."c_street_number"
, "cs1"."c_street_name"
, "cs1"."c_city"
, "cs1"."c_zip"
, "cs1"."syear"
, "cs1"."cnt"
, "cs1"."s1" "s11"
, "cs1"."s2" "s21"
, "cs1"."s3" "s31"
, "cs2"."s1" "s12"
, "cs2"."s2" "s22"
, "cs2"."s3" "s32"
, "cs2"."syear"
, "cs2"."cnt"
FROM
  cross_sales cs1
, cross_sales cs2
WHERE ("cs1"."item_sk" = "cs2"."item_sk")
   AND ("cs1"."syear" = 1999)
   AND ("cs2"."syear" = (1999 + 1))
   AND ("cs2"."cnt" <= "cs1"."cnt")
   AND ("cs1"."store_name" = "cs2"."store_name")
   AND ("cs1"."store_zip" = "cs2"."store_zip")
ORDER BY "cs1"."product_name" ASC, "cs1"."store_name" ASC, "cs2"."cnt" ASC, 14, 15, 16, 17, 18



Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.35MB, Delta: 128.26kB, Top Consumers: {HashBuilderOperator=102.35MB, ScanFilterAndProjectOperator=21.51MB, PartitionedOutputOperator=17.65MB}, Details: [{"taskId":"46.0.0","reservation":"24.08MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3419","reservations":["1.52MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB"],"total":"24.08MB","info":"INNER;PARTITIONED;"}]},{"taskId":"10.0.0","reservation":"13.52MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3358","reservations":["897.53kB","885.27kB","867.15kB","866.97kB","863.50kB","862.79kB","862.77kB","862.46kB","861.62kB","861.29kB","860.74kB","859.46kB","858.71kB","858.52kB","856.06kB","855.61kB"],"total":"13.52MB","info":"INNER;PARTITIONED;"}]},{"taskId":"11.0.0","reservation":"12.99MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3357","reservations":["841.78kB","836.79kB","836.24kB","835.89kB","835.03kB","834.56kB","833.72kB","833.14kB","832.16kB","831.87kB","831.63kB","831.07kB","829.19kB","828.57kB","827.44kB","806.09kB"],"total":"12.99MB","info":"INNER;PARTITIONED;"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.35MB, Delta: 128.26kB, Top Consumers: {HashBuilderOperator=102.35MB, ScanFilterAndProjectOperator=21.51MB, PartitionedOutputOperator=17.65MB}, Details: [{"taskId":"46.0.0","reservation":"24.08MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3419","reservations":["1.52MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB"],"total":"24.08MB","info":"INNER;PARTITIONED;"}]},{"taskId":"10.0.0","reservation":"13.52MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3358","reservations":["897.53kB","885.27kB","867.15kB","866.97kB","863.50kB","862.79kB","862.77kB","862.46kB","861.62kB","861.29kB","860.74kB","859.46kB","858.71kB","858.52kB","856.06kB","855.61kB"],"total":"13.52MB","info":"INNER;PARTITIONED;"}]},{"taskId":"11.0.0","reservation":"12.99MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3357","reservations":["841.78kB","836.79kB","836.24kB","835.89kB","835.03kB","834.56kB","833.72kB","833.14kB","832.16kB","831.87kB","831.63kB","831.07kB","829.19kB","828.57kB","827.44kB","806.09kB"],"total":"12.99MB","info":"INNER;PARTITIONED;"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.finishInput(HashBuilderOperator.java:503)', 'com.facebook.presto.operator.HashBuilderOperator.finish(HashBuilderOperator.java:454)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:441)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 15, in <module>
    for row in rs:
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/result.py", line 381, in iterrows
    for row in self._fetchiter_impl():
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 1788, in _fetchiter_impl
    row = fetchone(self, self.cursor)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 960, in fetchone
    self.handle_exception(result, dbapi_cursor, e)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 941, in handle_exception
    result.connection._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
sqlalchemy.exc.DatabaseError: (pyhive.exc.DatabaseError) {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.35MB, Delta: 128.26kB, Top Consumers: {HashBuilderOperator=102.35MB, ScanFilterAndProjectOperator=21.51MB, PartitionedOutputOperator=17.65MB}, Details: [{"taskId":"46.0.0","reservation":"24.08MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3419","reservations":["1.52MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB"],"total":"24.08MB","info":"INNER;PARTITIONED;"}]},{"taskId":"10.0.0","reservation":"13.52MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3358","reservations":["897.53kB","885.27kB","867.15kB","866.97kB","863.50kB","862.79kB","862.77kB","862.46kB","861.62kB","861.29kB","860.74kB","859.46kB","858.71kB","858.52kB","856.06kB","855.61kB"],"total":"13.52MB","info":"INNER;PARTITIONED;"}]},{"taskId":"11.0.0","reservation":"12.99MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3357","reservations":["841.78kB","836.79kB","836.24kB","835.89kB","835.03kB","834.56kB","833.72kB","833.14kB","832.16kB","831.87kB","831.63kB","831.07kB","829.19kB","828.57kB","827.44kB","806.09kB"],"total":"12.99MB","info":"INNER;PARTITIONED;"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.35MB, Delta: 128.26kB, Top Consumers: {HashBuilderOperator=102.35MB, ScanFilterAndProjectOperator=21.51MB, PartitionedOutputOperator=17.65MB}, Details: [{"taskId":"46.0.0","reservation":"24.08MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3419","reservations":["1.52MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.51MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB","1.50MB"],"total":"24.08MB","info":"INNER;PARTITIONED;"}]},{"taskId":"10.0.0","reservation":"13.52MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3358","reservations":["897.53kB","885.27kB","867.15kB","866.97kB","863.50kB","862.79kB","862.77kB","862.46kB","861.62kB","861.29kB","860.74kB","859.46kB","858.71kB","858.52kB","856.06kB","855.61kB"],"total":"13.52MB","info":"INNER;PARTITIONED;"}]},{"taskId":"11.0.0","reservation":"12.99MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"3357","reservations":["841.78kB","836.79kB","836.24kB","835.89kB","835.03kB","834.56kB","833.72kB","833.14kB","832.16kB","831.87kB","831.63kB","831.07kB","829.19kB","828.57kB","827.44kB","806.09kB"],"total":"12.99MB","info":"INNER;PARTITIONED;"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.finishInput(HashBuilderOperator.java:503)', 'com.facebook.presto.operator.HashBuilderOperator.finish(HashBuilderOperator.java:454)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:441)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}
(Background on this error at: https://sqlalche.me/e/14/4xp6)



SQL name: ./benchmark/tpcds/q65.sql...
========================================
SELECT
  "s_store_name"
, "i_item_desc"
, "sc"."revenue"
, "i_current_price"
, "i_wholesale_cost"
, "i_brand"
FROM
  tpcds.tiny.store
, tpcds.tiny.item
, (
   SELECT
     "ss_store_sk"
   , "avg"("revenue") "ave"
   FROM
     (
      SELECT
        "ss_store_sk"
      , "ss_item_sk"
      , "sum"("ss_sales_price") "revenue"
      FROM

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('ought', 'Everyday strings might wash for example about a pp.. Right physical specialists can break privately hungry journalists. Devices will not defend offices. Content, new projects should not se', '36.59', '2.40', '1.99', 'edu packscholar #1                                '), ('ought', 'Grounds freeze previously then full rises. Familiar, big activities require as across a attitudes. Nuclear movies gain t', '38.35', '8.74', '6.64', 'scholarbrand #3                                   '), ('ought', 'Voters cause already urban, formal children. Medieval shares must not spare human, crazy things; so public ', '30.42', '9.27', '3.98', 'maxibrand #10                                     ')]


SQL name: ./benchmark/tpcds/q66.sql...
========================================
SELECT
  "w_warehouse_name"
, "w_warehouse_sq_ft"
, "w_city"
, "w_county"
, "w_state"
, "w_country"
, "ship_carriers"
, "year"
, "sum"("jan_sales") "jan_sales"
, "sum"("feb_sales") "feb_sales"
, "sum"("mar_sales") "mar_sales"
, "sum"("apr_sales") "apr_sales"
, "sum"("may_sales") "may_sales"
, "sum"("jun_sales") "jun_sales"
, "sum"("jul_sales") "jul_sales"
, "sum"("aug_sales") "aug_sales"
, "sum"("sep_sales") "sep_sales"
, "sum"("oct_sales") "oct_sales"
, "sum"("nov_sales") "nov_sales"
, "sum"("dec_sales") "dec_sales"
, "sum"(("jan_sales" / "w_warehouse_sq_ft")) "jan_sales_per_sq_foot"
, "sum"(("feb_sales" / "w_warehouse_sq_ft")) "feb_sales_per_sq_foot"
, "sum"(("mar_sales" / "w_warehouse_sq_ft")) "mar_sales_per_sq_foot"
, "sum"(("apr_sales" / "w_warehouse_sq_ft")) "apr_sales_per_sq_foot"
, "sum"(("may_sales" / "w_warehouse_sq_ft")) "may_sales_per_sq_foot"
, "sum"(("jun_sales" / "w_warehouse_sq_ft")) "jun_sales_per_sq_foot"
, "sum"(("jul_sales" / "w_warehouse_sq_ft")) "jul_sales_per_sq_foot"
, "sum"(("aug_sales" / "w_warehouse_sq_ft")) "aug_sales_per_sq_foot"
, "sum"(("sep_sales" / "w_warehouse_sq_ft")) "sep_sales_per_sq_foot"
, "sum"(("oct_sales" / "w_warehouse_sq_ft")) "oct_sales_per_sq_foot"
, "sum"(("nov_sales" / "w_warehouse_sq_ft")) "nov_sales_per_sq_foot"
, "sum"(("dec_sales" / "w_warehouse_sq_ft")) "dec_sales_per_sq_foot"
, "sum"("jan_net") "jan_net"
, "sum"("feb_net") "feb_net"
, "sum"("mar_net") "mar_net"
, "sum"("apr_net") "apr_net"
, "sum"("may_net") "may_net"
, "sum"("jun_net") "jun_net"
, "sum"("jul_net") "jul_net"
, "sum"("aug_net") "aug_net"
, "sum"("sep_net") "sep_net"
, "sum"("oct_net") "oct_net"
, "sum"("nov_net") "nov_net"
, "sum"("dec_net") "dec_net"
FROM
(
      SELECT
        "w_warehouse_name"
      , "w_warehouse_sq_ft"
      , "w_city"
      , "w_county"
      , "w_state"
      , "w_country"
      , "concat"("concat"('DHL', ','), 'BARIAN') "ship_carriers"
      , "d_year" "YEAR"
      , "sum"((CASE WHEN ("d_moy" = 1) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "jan_sales"
      , "sum"((CASE WHEN ("d_moy" = 2) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "feb_sales"
      , "sum"((CASE WHEN ("d_moy" = 3) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "mar_sales"
      , "sum"((CASE WHEN ("d_moy" = 4) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "apr_sales"
      , "sum"((CASE WHEN ("d_moy" = 5) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "may_sales"
      , "sum"((CASE WHEN ("d_moy" = 6) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "jun_sales"
      , "sum"((CASE WHEN ("d_moy" = 7) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "jul_sales"
      , "sum"((CASE WHEN ("d_moy" = 8) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "aug_sales"
      , "sum"((CASE WHEN ("d_moy" = 9) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "sep_sales"
      , "sum"((CASE WHEN ("d_moy" = 10) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "oct_sales"
      , "sum"((CASE WHEN ("d_moy" = 11) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "nov_sales"
      , "sum"((CASE WHEN ("d_moy" = 12) THEN ("ws_ext_sales_price" * "ws_quantity") ELSE 0 END)) "dec_sales"
      , "sum"((CASE WHEN ("d_moy" = 1) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "jan_net"
      , "sum"((CASE WHEN ("d_moy" = 2) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "feb_net"
      , "sum"((CASE WHEN ("d_moy" = 3) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "mar_net"
      , "sum"((CASE WHEN ("d_moy" = 4) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "apr_net"
      , "sum"((CASE WHEN ("d_moy" = 5) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "may_net"
      , "sum"((CASE WHEN ("d_moy" = 6) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "jun_net"
      , "sum"((CASE WHEN ("d_moy" = 7) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "jul_net"
      , "sum"((CASE WHEN ("d_moy" = 8) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "aug_net"
      , "sum"((CASE WHEN ("d_moy" = 9) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "sep_net"
      , "sum"((CASE WHEN ("d_moy" = 10) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "oct_net"
      , "sum"((CASE WHEN ("d_moy" = 11) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "nov_net"
      , "sum"((CASE WHEN ("d_moy" = 12) THEN ("ws_net_paid" * "ws_quantity") ELSE 0 END)) "dec_net"
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.warehouse
      , tpcds.tiny.date_dim
      , tpcds.tiny.time_dim
      , tpcds.tiny.ship_mode
      WHERE ("ws_warehouse_sk" = "w_warehouse_sk")
         AND ("ws_sold_date_sk" = "d_date_sk")
         AND ("ws_sold_time_sk" = "t_time_sk")
         AND ("ws_ship_mode_sk" = "sm_ship_mode_sk")
         AND ("d_year" = 2001)
         AND ("t_time" BETWEEN 30838 AND (30838 + 28800))
         AND ("sm_carrier" IN ('DHL'      , 'BARIAN'))
      GROUP BY "w_warehouse_name", "w_warehouse_sq_ft", "w_city", "w_county", "w_state", "w_country", "d_year"
   UNION ALL
      SELECT
        "w_warehouse_name"
      , "w_warehouse_sq_ft"
      , "w_city"
      , "w_county"
      , "w_state"
      , "w_country"
      , "concat"("concat"('DHL', ','), 'BARIAN') "ship_carriers"
      , "d_year" "YEAR"
      , "sum"((CASE WHEN ("d_moy" = 1) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "jan_sales"
      , "sum"((CASE WHEN ("d_moy" = 2) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "feb_sales"
      , "sum"((CASE WHEN ("d_moy" = 3) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "mar_sales"
      , "sum"((CASE WHEN ("d_moy" = 4) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "apr_sales"
      , "sum"((CASE WHEN ("d_moy" = 5) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "may_sales"
      , "sum"((CASE WHEN ("d_moy" = 6) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "jun_sales"
      , "sum"((CASE WHEN ("d_moy" = 7) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "jul_sales"
      , "sum"((CASE WHEN ("d_moy" = 8) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "aug_sales"
      , "sum"((CASE WHEN ("d_moy" = 9) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "sep_sales"
      , "sum"((CASE WHEN ("d_moy" = 10) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "oct_sales"
      , "sum"((CASE WHEN ("d_moy" = 11) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "nov_sales"
      , "sum"((CASE WHEN ("d_moy" = 12) THEN ("cs_sales_price" * "cs_quantity") ELSE 0 END)) "dec_sales"
      , "sum"((CASE WHEN ("d_moy" = 1) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "jan_net"
      , "sum"((CASE WHEN ("d_moy" = 2) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "feb_net"
      , "sum"((CASE WHEN ("d_moy" = 3) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "mar_net"
      , "sum"((CASE WHEN ("d_moy" = 4) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "apr_net"
      , "sum"((CASE WHEN ("d_moy" = 5) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "may_net"
      , "sum"((CASE WHEN ("d_moy" = 6) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "jun_net"
      , "sum"((CASE WHEN ("d_moy" = 7) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "jul_net"
      , "sum"((CASE WHEN ("d_moy" = 8) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "aug_net"
      , "sum"((CASE WHEN ("d_moy" = 9) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "sep_net"
      , "sum"((CASE WHEN ("d_moy" = 10) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "oct_net"
      , "sum"((CASE WHEN ("d_moy" = 11) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "nov_net"
      , "sum"((CASE WHEN ("d_moy" = 12) THEN ("cs_net_paid_inc_tax" * "cs_quantity") ELSE 0 END)) "dec_net"
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.warehouse
      , tpcds.tiny.date_dim
      , tpcds.tiny.time_dim
      , tpcds.tiny.ship_mode
      WHERE ("cs_warehouse_sk" = "w_warehouse_sk")
         AND ("cs_sold_date_sk" = "d_date_sk")
         AND ("cs_sold_time_sk" = "t_time_sk")
         AND ("cs_ship_mode_sk" = "sm_ship_mode_sk")
         AND ("d_year" = 2001)
         AND ("t_time" BETWEEN 30838 AND (30838 + 28800))
         AND ("sm_carrier" IN ('DHL'      , 'BARIAN'))
      GROUP BY "w_warehouse_name", "w_warehouse_sq_ft", "w_city", "w_county", "w_state", "w_country", "d_year"
   )  x
GROUP BY "w_warehouse_name", "w_warehouse_sq_ft", "w_city", "w_county", "w_state", "w_country", "ship_carriers", "year"
ORDER BY "w_warehouse_name" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Conventional childr', 977787, 'Midway', 'Williamson County', 'TN', 'United States', 'DHL,BARIAN', 2001, '661407.18', '766942.78', '307720.05', '333390.59', '1904937.34', '2308974.68', '1310866.26', '2298210.15', '1497771.61', '2900278.47', '5213564.64', '2706805.34', '0.68', '0.78', '0.32', '0.35', '1.94', '2.36', '1.34', '2.35', '1.53', '2.97', '5.33', '2.77', '7554063.29', '8213766.03', '7574329.97', '4142886.32', '3575413.31', '4126236.48', '5015953.55', '9665997.01', '10823343.90', '13418884.62', '23331407.18', '19502364.49')]


SQL name: ./benchmark/tpcds/q67.sql...
========================================
SELECT *
FROM
  (
   SELECT
     "i_category"
   , "i_class"
   , "i_brand"
   , "i_product_name"
   , "d_year"
   , "d_qoy"
   , "d_moy"
   , "s_store_id"
   , "sumsales"
   , "rank"() OVER (PARTITION BY "i_category" ORDER BY "sumsales" DESC) "rk"
   FROM
     (
      SELECT
        "i_category"
      , "i_class"
      , "i_brand"
      , "i_product_name"
      , "d_year"
      , "d_qoy"
      , "d_moy"
      , "s_store_id"
      , "sum"(COALESCE(("ss_sales_price" * "ss_quantity"), 0)) "sumsales"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.date_dim
      , tpcds.tiny.store
      , tpcds.tiny.item
      WHERE ("ss_sold_date_sk" = "d_date_sk")
         AND ("ss_item_sk" = "i_item_sk")
         AND ("ss_store_sk" = "s_store_sk")
         AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
      GROUP BY ROLLUP (i_category, i_class, i_brand, i_product_name, d_year, d_qoy, d_moy, s_store_id)
   )  dw1
)  dw2
WHERE ("rk" <= 100)
ORDER BY "i_category" ASC, "i_class" ASC, "i_brand" ASC, "i_product_name" ASC, "d_year" ASC, "d_qoy" ASC, "d_moy" ASC, "s_store_id" ASC, "sumsales" ASC, "rk" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Books                                             ', 'arts                                              ', 'amalgmaxi #12                                     ', None, None, None, None, None, '106170.65', 29), ('Books                                             ', 'arts                                              ', None, None, None, None, None, None, '221757.66', 14), ('Books                                             ', 'business                                          ', 'importomaxi #12                                   ', None, None, None, None, None, '68169.94', 59), ('Books                                             ', 'business                                          ', 'importomaxi #9                                    ', 'esecallyn stought                                 ', 2000, None, None, None, '73055.57', 46), ('Books                                             ', 'business                                          ', 'importomaxi #9                                    ', 'esecallyn stought                                 ', None, None, None, None, '73055.57', 46)]


SQL name: ./benchmark/tpcds/q68.sql...
========================================
SELECT
  "c_last_name"
, "c_first_name"
, "ca_city"
, "bought_city"
, "ss_ticket_number"
, "extended_price"
, "extended_tax"
, "list_price"
FROM
  (
   SELECT
     "ss_ticket_number"
   , "ss_customer_sk"
   , "ca_city" "bought_city"
   , "sum"("ss_ext_sales_price") "extended_price"
   , "sum"("ss_ext_list_price") "list_price"
   , "sum"("ss_ext_tax") "extended_tax"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   , tpcds.tiny.household_demographics
   , tpcds.tiny.customer_address
   WHERE ("store_sales"."ss_sold_date_sk" = "date_dim"."d_date_sk")
      AND ("store_sales"."ss_store_sk" = "store"."s_store_sk")
      AND ("store_sales"."ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("store_sales"."ss_addr_sk" = "customer_address"."ca_address_sk")
      AND ("date_dim"."d_dom" BETWEEN 1 AND 2)
      AND (("household_demographics"."hd_dep_count" = 4)
         OR ("household_demographics"."hd_vehicle_count" = 3))
      AND ("date_dim"."d_year" IN (1999   , (1999 + 1)   , (1999 + 2)))
      AND ("store"."s_city" IN ('Midway'   , 'Fairview'))
   GROUP BY "ss_ticket_number", "ss_customer_sk", "ss_addr_sk", "ca_city"
)  dn
, tpcds.tiny.customer
, tpcds.tiny.customer_address current_addr
WHERE ("ss_customer_sk" = "c_customer_sk")
   AND ("customer"."c_current_addr_sk" = "current_addr"."ca_address_sk")
   AND ("current_addr"."ca_city" <> "bought_city")
ORDER BY "c_last_name" ASC, "ss_ticket_number" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Adams                         ', 'Catherine           ', 'Riverdale', 'Summit', 2987, '25044.82', '1202.93', '62436.70'), ('Bailey                        ', 'Robert              ', 'Mount Olive', 'Woodland', 8841, '17281.74', '1253.32', '45966.38'), ('Baker                         ', 'Joy                 ', 'Highland Park', 'Mount Zion', 4416, '24704.79', '957.88', '36746.67'), ('Batson                        ', 'Gina                ', 'Enterprise', 'Andover', 1347, '39883.83', '1540.86', '66458.59'), ('Benitez                       ', 'Michele             ', 'Newport', 'Greenville', 4976, '9996.21', '471.37', '37443.67')]


SQL name: ./benchmark/tpcds/q69.sql...
========================================
SELECT
  "cd_gender"
, "cd_marital_status"
, "cd_education_status"
, "count"(*) "cnt1"
, "cd_purchase_estimate"
, "count"(*) "cnt2"
, "cd_credit_rating"
, "count"(*) "cnt3"
FROM
  tpcds.tiny.customer c
, tpcds.tiny.customer_address ca
, tpcds.tiny.customer_demographics
WHERE ("c"."c_current_addr_sk" = "ca"."ca_address_sk")
   AND ("ca_state" IN ('KY', 'GA', 'NM'))
   AND ("cd_demo_sk" = "c"."c_current_cdemo_sk")
   AND (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("c"."c_customer_sk" = "ss_customer_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 2001)
      AND ("d_moy" BETWEEN 4 AND (4 + 2))
))
   AND (NOT (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   WHERE ("c"."c_customer_sk" = "ws_bill_customer_sk")
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 2001)
      AND ("d_moy" BETWEEN 4 AND (4 + 2))
)))
   AND (NOT (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   WHERE ("c"."c_customer_sk" = "cs_ship_customer_sk")
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("d_year" = 2001)
      AND ("d_moy" BETWEEN 4 AND (4 + 2))
)))
GROUP BY "cd_gender", "cd_marital_status", "cd_education_status", "cd_purchase_estimate", "cd_credit_rating"
ORDER BY "cd_gender" ASC, "cd_marital_status" ASC, "cd_education_status" ASC, "cd_purchase_estimate" ASC, "cd_credit_rating" ASC
LIMIT 100



Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.38MB, Delta: 27.93kB, Top Consumers: {HashBuilderOperator=102.38MB, PartitionedOutputOperator=5.92MB, ScanFilterAndProjectOperator=2.51MB}, Details: [{"taskId":"3.0.0","reservation":"100.37MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"4","reservations":["6.46MB","6.45MB","6.44MB","6.44MB","6.44MB","6.43MB","6.43MB","6.43MB","6.42MB","6.42MB","6.41MB","6.40MB","5.98MB","5.76MB","5.73MB","5.72MB"],"total":"100.37MB","info":"INNER;PARTITIONED;"}]},{"taskId":"7.0.0","reservation":"3.76MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"2381","reservations":["1.25MB","1.25MB","1.25MB"],"total":"3.75MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"2381","reservations":["1.20kB","1.20kB","1.20kB"],"total":"3.61kB"}]},{"taskId":"8.0.0","reservation":"2.70MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"292","reservations":["128.62kB","128.60kB","128.55kB","128.55kB","128.55kB","128.51kB","128.51kB","128.51kB","128.51kB","128.49kB","128.49kB","128.49kB","128.47kB","128.44kB","128.42kB","128.40kB"],"total":"2.01MB","info":"INNER;PARTITIONED;"},{"type":"HashAggregationOperator","planNodeId":"2201","reservations":["353.04kB","353.04kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"706.08kB","info":"PARTIAL;"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.38MB, Delta: 27.93kB, Top Consumers: {HashBuilderOperator=102.38MB, PartitionedOutputOperator=5.92MB, ScanFilterAndProjectOperator=2.51MB}, Details: [{"taskId":"3.0.0","reservation":"100.37MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"4","reservations":["6.46MB","6.45MB","6.44MB","6.44MB","6.44MB","6.43MB","6.43MB","6.43MB","6.42MB","6.42MB","6.41MB","6.40MB","5.98MB","5.76MB","5.73MB","5.72MB"],"total":"100.37MB","info":"INNER;PARTITIONED;"}]},{"taskId":"7.0.0","reservation":"3.76MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"2381","reservations":["1.25MB","1.25MB","1.25MB"],"total":"3.75MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"2381","reservations":["1.20kB","1.20kB","1.20kB"],"total":"3.61kB"}]},{"taskId":"8.0.0","reservation":"2.70MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"292","reservations":["128.62kB","128.60kB","128.55kB","128.55kB","128.55kB","128.51kB","128.51kB","128.51kB","128.51kB","128.49kB","128.49kB","128.49kB","128.47kB","128.44kB","128.42kB","128.40kB"],"total":"2.01MB","info":"INNER;PARTITIONED;"},{"type":"HashAggregationOperator","planNodeId":"2201","reservations":["353.04kB","353.04kB","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B","0B"],"total":"706.08kB","info":"PARTIAL;"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.updateIndex(HashBuilderOperator.java:358)', 'com.facebook.presto.operator.HashBuilderOperator.addInput(HashBuilderOperator.java:345)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:428)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 15, in <module>
    for row in rs:
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/result.py", line 381, in iterrows
    for row in self._fetchiter_impl():
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 1788, in _fetchiter_impl
    row = fetchone(self, self.cursor)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 960, in fetchone
    self.handle_exception(result, dbapi_cursor, e)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 941, in handle_exception
    result.connection._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('-18926197.59', None, None, 2, 1), ('-18926197.59', 'TN', None, 1, 1), ('-18926197.59', 'TN', 'Williamson County', 0, 1)]


SQL name: ./benchmark/tpcds/q71.sql...
========================================
SELECT
  "i_brand_id" "brand_id"
, "i_brand" "brand"
, "t_hour"
, "t_minute"
, "sum"("ext_price") "ext_price"
FROM
  tpcds.tiny.item
, (
   SELECT
     "ws_ext_sales_price" "ext_price"
   , "ws_sold_date_sk" "sold_date_sk"
   , "ws_item_sk" "sold_item_sk"
   , "ws_sold_time_sk" "time_sk"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   WHERE ("d_date_sk" = "ws_sold_date_sk")
      AND ("d_moy" = 11)
      AND ("d_year" = 1999)
UNION ALL    SELECT
     "cs_ext_sales_price" "ext_price"
   , "cs_sold_date_sk" "sold_date_sk"
   , "cs_item_sk" "sold_item_sk"
   , "cs_sold_time_sk" "time_sk"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   WHERE ("d_date_sk" = "cs_sold_date_sk")
      AND ("d_moy" = 11)
      AND ("d_year" = 1999)
UNION ALL    SELECT
     "ss_ext_sales_price" "ext_price"
   , "ss_sold_date_sk" "sold_date_sk"
   , "ss_item_sk" "sold_item_sk"
   , "ss_sold_time_sk" "time_sk"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("d_date_sk" = "ss_sold_date_sk")
      AND ("d_moy" = 11)
      AND ("d_year" = 1999)
)  tmp
, tpcds.tiny.time_dim
WHERE ("sold_item_sk" = "i_item_sk")
   AND ("i_manager_id" = 1)
   AND ("time_sk" = "t_time_sk")
   AND (("t_meal_time" = 'breakfast')
      OR ("t_meal_time" = 'dinner'))
GROUP BY "i_brand", "i_brand_id", "t_hour", "t_minute"
ORDER BY "ext_price" DESC, "i_brand_id" ASC



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(7008009, 'namelessbrand #9                                  ', 18, 6, '13102.66'), (10010013, 'univamalgamalg #13                                ', 9, 28, '4239.00'), (1002002, 'importoamalg #2                                   ', 19, 41, '4005.60'), (6007003, 'brandcorp #3                                      ', 17, 58, '3831.52'), (6007003, 'brandcorp #3                                      ', 9, 46, '2555.64')]


SQL name: ./benchmark/tpcds/q72.sql...
========================================
SELECT
  "i_item_desc"
, "w_warehouse_name"
, "d1"."d_week_seq"
, "sum"((CASE WHEN ("p_promo_sk" IS NULL) THEN 1 ELSE 0 END)) "no_promo"
, "sum"((CASE WHEN ("p_promo_sk" IS NOT NULL) THEN 1 ELSE 0 END)) "promo"
, "count"(*) "total_cnt"
FROM
  ((((((((((tpcds.tiny.catalog_sales
INNER JOIN tpcds.tiny.inventory ON ("cs_item_sk" = "inv_item_sk"))
INNER JOIN tpcds.tiny.warehouse ON ("w_warehouse_sk" = "inv_warehouse_sk"))
INNER JOIN tpcds.tiny.item ON ("i_item_sk" = "cs_item_sk"))
INNER JOIN tpcds.tiny.customer_demographics ON ("cs_bill_cdemo_sk" = "cd_demo_sk"))
INNER JOIN tpcds.tiny.household_demographics ON ("cs_bill_hdemo_sk" = "hd_demo_sk"))
INNER JOIN tpcds.tiny.date_dim d1 ON ("cs_sold_date_sk" = "d1"."d_date_sk"))
INNER JOIN tpcds.tiny.date_dim d2 ON ("inv_date_sk" = "d2"."d_date_sk"))
INNER JOIN tpcds.tiny.date_dim d3 ON ("cs_ship_date_sk" = "d3"."d_date_sk"))
LEFT JOIN tpcds.tiny.promotion ON ("cs_promo_sk" = "p_promo_sk"))
LEFT JOIN tpcds.tiny.catalog_returns ON ("cr_item_sk" = "cs_item_sk")
   AND ("cr_order_number" = "cs_order_number"))
WHERE ("d1"."d_week_seq" = "d2"."d_week_seq")
   AND ("inv_quantity_on_hand" < "cs_quantity")
   AND ("d3"."d_date" > ("d1"."d_date" + INTERVAL  '5' DAY))
   AND ("hd_buy_potential" = '>10000')
   AND ("d1"."d_year" = 1999)
   AND ("cd_marital_status" = 'D')
GROUP BY "i_item_desc", "w_warehouse_name", "d1"."d_week_seq"
ORDER BY "total_cnt" DESC, "i_item_desc" ASC, "w_warehouse_name" ASC, "d1"."d_week_seq" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Activities used to get firms. Positive resources would need too across a posts. Bad issues used to sit closely. Slightly true boundaries follow all model courses. Obvious methods attract little o', 'Conventional childr', 5214, 0, 1, 1), ('Agencies shall not ignore detailed costs. About small others cann', 'Conventional childr', 5201, 0, 1, 1), ('Also poor relations take equal, metropolitan courses. Peculiar, popular authorities lose', 'Conventional childr', 5212, 0, 1, 1), ('Children may close necessary dates. Short opportunities improve. Han', 'Conventional childr', 5199, 0, 1, 1), ('English, public guards enter for a friends. Others must accept physically in a bodies. Sons may get by the years. Wide, possible versions examine at least different, econ', 'Conventional childr', 5206, 0, 1, 1)]


SQL name: ./benchmark/tpcds/q73.sql...
========================================
SELECT
  "c_last_name"
, "c_first_name"
, "c_salutation"
, "c_preferred_cust_flag"
, "ss_ticket_number"
, "cnt"
FROM
  (
   SELECT
     "ss_ticket_number"
   , "ss_customer_sk"
   , "count"(*) "cnt"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   , tpcds.tiny.household_demographics
   WHERE ("store_sales"."ss_sold_date_sk" = "date_dim"."d_date_sk")
      AND ("store_sales"."ss_store_sk" = "store"."s_store_sk")
      AND ("store_sales"."ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("date_dim"."d_dom" BETWEEN 1 AND 2)
      AND (("household_demographics"."hd_buy_potential" = '>10000')
         OR ("household_demographics"."hd_buy_potential" = 'Unknown'))
      AND ("household_demographics"."hd_vehicle_count" > 0)
      AND ((CASE WHEN ("household_demographics"."hd_vehicle_count" > 0) THEN (CAST("household_demographics"."hd_dep_count" AS DECIMAL(7,2)) / "household_demographics"."hd_vehicle_count") ELSE null END) > 1)
      AND ("date_dim"."d_year" IN (1999   , (1999 + 1)   , (1999 + 2)))
      AND ("store"."s_county" IN ('Williamson County'   , 'Franklin Parish'   , 'Bronx County'   , 'Orange County'))
   GROUP BY "ss_ticket_number", "ss_customer_sk"
)  dj
, tpcds.tiny.customer
WHERE ("ss_customer_sk" = "c_customer_sk")
   AND ("cnt" BETWEEN 1 AND 5)
ORDER BY "cnt" DESC, "c_last_name" ASC



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Hermann                       ', 'Rebecca             ', 'Mrs.      ', 'N', 1541, 5)]


SQL name: ./benchmark/tpcds/q74.sql...
========================================
WITH
  year_total AS (
   SELECT
     "c_customer_id" "customer_id"
   , "c_first_name" "customer_first_name"
   , "c_last_name" "customer_last_name"
   , "d_year" "YEAR"
   , "sum"("ss_net_paid") "year_total"
   , 's' "sale_type"
   FROM
     tpcds.tiny.customer
   , tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("c_customer_sk" = "ss_customer_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_year" IN (2001   , (2001 + 1)))
   GROUP BY "c_customer_id", "c_first_name", "c_last_name", "d_year"
UNION ALL    SELECT
     "c_customer_id" "customer_id"
   , "c_first_name" "customer_first_name"
   , "c_last_name" "customer_last_name"
   , "d_year" "YEAR"
   , "sum"("ws_net_paid") "year_total"
   , 'w' "sale_type"
   FROM
     tpcds.tiny.customer
   , tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   WHERE ("c_customer_sk" = "ws_bill_customer_sk")
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("d_year" IN (2001   , (2001 + 1)))
   GROUP BY "c_customer_id", "c_first_name", "c_last_name", "d_year"
)
SELECT
  "t_s_secyear"."customer_id"
, "t_s_secyear"."customer_first_name"
, "t_s_secyear"."customer_last_name"
FROM
  year_total t_s_firstyear
, year_total t_s_secyear
, year_total t_w_firstyear
, year_total t_w_secyear
WHERE ("t_s_secyear"."customer_id" = "t_s_firstyear"."customer_id")
   AND ("t_s_firstyear"."customer_id" = "t_w_secyear"."customer_id")
   AND ("t_s_firstyear"."customer_id" = "t_w_firstyear"."customer_id")
   AND ("t_s_firstyear"."sale_type" = 's')
   AND ("t_w_firstyear"."sale_type" = 'w')
   AND ("t_s_secyear"."sale_type" = 's')
   AND ("t_w_secyear"."sale_type" = 'w')
   AND ("t_s_firstyear"."year" = 2001)
   AND ("t_s_secyear"."year" = (2001 + 1))
   AND ("t_w_firstyear"."year" = 2001)
   AND ("t_w_secyear"."year" = (2001 + 1))
   AND ("t_s_firstyear"."year_total" > 0)
   AND ("t_w_firstyear"."year_total" > 0)
   AND ((CASE WHEN ("t_w_firstyear"."year_total" > 0) THEN ("t_w_secyear"."year_total" / "t_w_firstyear"."year_total") ELSE null END) > (CASE WHEN ("t_s_firstyear"."year_total" > 0) THEN ("t_s_secyear"."year_total" / "t_s_firstyear"."year_total") ELSE null END))
ORDER BY 1 ASC, 1 ASC, 1 ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAABMDAAAAA', 'Jose                ', 'Guzman                        '), ('AAAAAAAADOCAAAAA', 'Joy                 ', 'Baker                         '), ('AAAAAAAAFBDAAAAA', 'Tara                ', 'Rodgers                       '), ('AAAAAAAAFLAAAAAA', 'Joseph              ', 'Riley                         '), ('AAAAAAAAFNCAAAAA', 'Jennifer            ', 'Fitzpatrick                   ')]


SQL name: ./benchmark/tpcds/q75.sql...
========================================
WITH
  all_sales AS (
   SELECT
     "d_year"
   , "i_brand_id"
   , "i_class_id"
   , "i_category_id"
   , "i_manufact_id"
   , "sum"("sales_cnt") "sales_cnt"
   , "sum"("sales_amt") "sales_amt"
   FROM
     (
      SELECT
        "d_year"
      , "i_brand_id"
      , "i_class_id"
      , "i_category_id"
      , "i_manufact_id"
      , ("cs_quantity" - COALESCE("cr_return_quantity", 0)) "sales_cnt"
      , ("cs_ext_sales_price" - COALESCE("cr_return_amount", DECIMAL '0.0')) "sales_amt"
      FROM
        (((tpcds.tiny.catalog_sales
      INNER JOIN tpcds.tiny.item ON ("i_item_sk" = "cs_item_sk"))
      INNER JOIN tpcds.tiny.date_dim ON ("d_date_sk" = "cs_sold_date_sk"))
      LEFT JOIN tpcds.tiny.catalog_returns ON ("cs_order_number" = "cr_order_number")
         AND ("cs_item_sk" = "cr_item_sk"))
      WHERE ("i_category" = 'Books')
UNION       SELECT
        "d_year"
      , "i_brand_id"
      , "i_class_id"
      , "i_category_id"
      , "i_manufact_id"
      , ("ss_quantity" - COALESCE("sr_return_quantity", 0)) "sales_cnt"
      , ("ss_ext_sales_price" - COALESCE("sr_return_amt", DECIMAL '0.0')) "sales_amt"
      FROM
        (((tpcds.tiny.store_sales
      INNER JOIN tpcds.tiny.item ON ("i_item_sk" = "ss_item_sk"))
      INNER JOIN tpcds.tiny.date_dim ON ("d_date_sk" = "ss_sold_date_sk"))
      LEFT JOIN tpcds.tiny.store_returns ON ("ss_ticket_number" = "sr_ticket_number")
         AND ("ss_item_sk" = "sr_item_sk"))
      WHERE ("i_category" = 'Books')
UNION       SELECT
        "d_year"
      , "i_brand_id"
      , "i_class_id"
      , "i_category_id"
      , "i_manufact_id"
      , ("ws_quantity" - COALESCE("wr_return_quantity", 0)) "sales_cnt"
      , ("ws_ext_sales_price" - COALESCE("wr_return_amt", DECIMAL '0.0')) "sales_amt"
      FROM
        (((tpcds.tiny.web_sales
      INNER JOIN tpcds.tiny.item ON ("i_item_sk" = "ws_item_sk"))
      INNER JOIN tpcds.tiny.date_dim ON ("d_date_sk" = "ws_sold_date_sk"))
      LEFT JOIN tpcds.tiny.web_returns ON ("ws_order_number" = "wr_order_number")
         AND ("ws_item_sk" = "wr_item_sk"))
      WHERE ("i_category" = 'Books')
   )  sales_detail
   GROUP BY "d_year", "i_brand_id", "i_class_id", "i_category_id", "i_manufact_id"
)
SELECT
  "prev_yr"."d_year" "prev_year"
, "curr_yr"."d_year" "year"
, "curr_yr"."i_brand_id"
, "curr_yr"."i_class_id"
, "curr_yr"."i_category_id"
, "curr_yr"."i_manufact_id"
, "prev_yr"."sales_cnt" "prev_yr_cnt"
, "curr_yr"."sales_cnt" "curr_yr_cnt"
, ("curr_yr"."sales_cnt" - "prev_yr"."sales_cnt") "sales_cnt_diff"
, ("curr_yr"."sales_amt" - "prev_yr"."sales_amt") "sales_amt_diff"
FROM
  all_sales curr_yr
, all_sales prev_yr
WHERE ("curr_yr"."i_brand_id" = "prev_yr"."i_brand_id")
   AND ("curr_yr"."i_class_id" = "prev_yr"."i_class_id")
   AND ("curr_yr"."i_category_id" = "prev_yr"."i_category_id")
   AND ("curr_yr"."i_manufact_id" = "prev_yr"."i_manufact_id")
   AND ("curr_yr"."d_year" = 2002)
   AND ("prev_yr"."d_year" = (2002 - 1))
   AND ((CAST("curr_yr"."sales_cnt" AS DECIMAL(17,2)) / CAST("prev_yr"."sales_cnt" AS DECIMAL(17,2))) < DECIMAL '0.9')
ORDER BY "sales_cnt_diff" ASC, "sales_amt_diff" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(2001, 2002, 9008002, 8, 9, 12, 2788, 1560, -1228, '-91938.97'), (2001, 2002, 4001001, 15, 9, 42, 2998, 1873, -1125, '-53106.14'), (2001, 2002, 9015002, 15, 9, 275, 2827, 1715, -1112, '-68057.69'), (2001, 2002, 9012008, 12, 9, 474, 3054, 2018, -1036, '-41320.66'), (2001, 2002, 9010008, 10, 9, 301, 2235, 1408, -827, '-17432.59')]


SQL name: ./benchmark/tpcds/q76.sql...
========================================
SELECT
  "channel"
, "col_name"
, "d_year"
, "d_qoy"
, "i_category"
, "count"(*) "sales_cnt"
, "sum"("ext_sales_price") "sales_amt"
FROM
  (
   SELECT
     'tpcds.tiny.store' "channel"
   , 'ss_store_sk' "col_name"
   , "d_year"
   , "d_qoy"
   , "i_category"
   , "ss_ext_sales_price" "ext_sales_price"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ss_store_sk" IS NULL)
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_item_sk" = "i_item_sk")
UNION ALL    SELECT
     'web' "channel"
   , 'ws_ship_customer_sk' "col_name"
   , "d_year"
   , "d_qoy"
   , "i_category"
   , "ws_ext_sales_price" "ext_sales_price"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("ws_ship_customer_sk" IS NULL)
      AND ("ws_sold_date_sk" = "d_date_sk")
      AND ("ws_item_sk" = "i_item_sk")
UNION ALL    SELECT
     'catalog' "channel"
   , 'cs_ship_addr_sk' "col_name"
   , "d_year"
   , "d_qoy"
   , "i_category"
   , "cs_ext_sales_price" "ext_sales_price"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("cs_ship_addr_sk" IS NULL)
      AND ("cs_sold_date_sk" = "d_date_sk")
      AND ("cs_item_sk" = "i_item_sk")
)  foo
GROUP BY "channel", "col_name", "d_year", "d_qoy", "i_category"
ORDER BY "channel" ASC, "col_name" ASC, "d_year" ASC, "d_qoy" ASC, "i_category" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('catalog', 'cs_ship_addr_sk', 1998, 1, 'Books                                             ', 1, '411.07'), ('catalog', 'cs_ship_addr_sk', 1998, 1, 'Children                                          ', 3, '5081.44'), ('catalog', 'cs_ship_addr_sk', 1998, 1, 'Electronics                                       ', 2, '2289.60'), ('catalog', 'cs_ship_addr_sk', 1998, 1, 'Home                                              ', 3, '20528.20'), ('catalog', 'cs_ship_addr_sk', 1998, 1, 'Men                                               ', 1, None)]


SQL name: ./benchmark/tpcds/q77.sql...
========================================
WITH
  ss AS (
   SELECT
     "s_store_sk"
   , "sum"("ss_ext_sales_price") "sales"
   , "sum"("ss_net_profit") "profit"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   WHERE ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '30' DAY))
      AND ("ss_store_sk" = "s_store_sk")
   GROUP BY "s_store_sk"
)
, sr AS (
   SELECT
     "s_store_sk"
   , "sum"("sr_return_amt") "returns"
   , "sum"("sr_net_loss") "profit_loss"
   FROM
     tpcds.tiny.store_returns
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   WHERE ("sr_returned_date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '30' DAY))
      AND ("sr_store_sk" = "s_store_sk")
   GROUP BY "s_store_sk"
)
, cs AS (
   SELECT
     "cs_call_center_sk"
   , "sum"("cs_ext_sales_price") "sales"
   , "sum"("cs_net_profit") "profit"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   WHERE ("cs_sold_date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '30' DAY))
   GROUP BY "cs_call_center_sk"
)
, cr AS (
   SELECT
     "cr_call_center_sk"
   , "sum"("cr_return_amount") "returns"
   , "sum"("cr_net_loss") "profit_loss"
   FROM
     tpcds.tiny.catalog_returns
   , tpcds.tiny.date_dim
   WHERE ("cr_returned_date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '30' DAY))
   GROUP BY "cr_call_center_sk"
)
, ws AS (
   SELECT
     "wp_web_page_sk"
   , "sum"("ws_ext_sales_price") "sales"
   , "sum"("ws_net_profit") "profit"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.web_page
   WHERE ("ws_sold_date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '30' DAY))
      AND ("ws_web_page_sk" = "wp_web_page_sk")
   GROUP BY "wp_web_page_sk"
)
, wr AS (
   SELECT
     "wp_web_page_sk"
   , "sum"("wr_return_amt") "returns"
   , "sum"("wr_net_loss") "profit_loss"
   FROM
     tpcds.tiny.web_returns
   , tpcds.tiny.date_dim
   , tpcds.tiny.web_page
   WHERE ("wr_returned_date_sk" = "d_date_sk")
      AND ("d_date" BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '30' DAY))
      AND ("wr_web_page_sk" = "wp_web_page_sk")
   GROUP BY "wp_web_page_sk"
)
SELECT
  "channel"
, "id"
, "sum"("sales") "sales"
, "sum"("returns") "returns"
, "sum"("profit") "profit"
FROM
  (
   SELECT
     'tpcds.tiny.store channel' "channel"
   , "ss"."s_store_sk" "id"
   , "sales"
   , COALESCE("returns", 0) "returns"
   , ("profit" - COALESCE("profit_loss", 0)) "profit"
   FROM
     (ss
   LEFT JOIN sr ON ("ss"."s_store_sk" = "sr"."s_store_sk"))
UNION ALL    SELECT
     'catalog channel' "channel"
   , "cs_call_center_sk" "id"
   , "sales"
   , "returns"
   , ("profit" - "profit_loss") "profit"
   FROM
     cs
   , cr
UNION ALL    SELECT
     'web channel' "channel"
   , "ws"."wp_web_page_sk" "id"
   , "sales"
   , COALESCE("returns", 0) "returns"
   , ("profit" - COALESCE("profit_loss", 0)) "profit"
   FROM
     (ws
   LEFT JOIN wr ON ("ws"."wp_web_page_sk" = "wr"."wp_web_page_sk"))
)  x
GROUP BY ROLLUP (channel, id)
ORDER BY "channel" ASC, "id" ASC, "sales" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('catalog channel', 1, '8309735.67', '93651.44', '-702794.60'), ('catalog channel', 2, '8506405.29', '93651.44', '-675315.32'), ('catalog channel', None, '22821.90', '93651.44', '-73863.53'), ('catalog channel', None, '16838962.86', '280954.32', '-1451973.45'), ('tpcds.tiny.store channel', 1, '2878513.36', '39454.33', '-1189038.66')]


SQL name: ./benchmark/tpcds/q78.sql...
========================================
WITH
  ws AS (
   SELECT
     "d_year" "ws_sold_year"
   , "ws_item_sk"
   , "ws_bill_customer_sk" "ws_customer_sk"
   , "sum"("ws_quantity") "ws_qty"
   , "sum"("ws_wholesale_cost") "ws_wc"
   , "sum"("ws_sales_price") "ws_sp"
   FROM
     ((tpcds.tiny.web_sales
   LEFT JOIN tpcds.tiny.web_returns ON ("wr_order_number" = "ws_order_number")
      AND ("ws_item_sk" = "wr_item_sk"))
   INNER JOIN tpcds.tiny.date_dim ON ("ws_sold_date_sk" = "d_date_sk"))
   WHERE ("wr_order_number" IS NULL)
   GROUP BY "d_year", "ws_item_sk", "ws_bill_customer_sk"
)
, cs AS (
   SELECT
     "d_year" "cs_sold_year"
   , "cs_item_sk"
   , "cs_bill_customer_sk" "cs_customer_sk"
   , "sum"("cs_quantity") "cs_qty"
   , "sum"("cs_wholesale_cost") "cs_wc"
   , "sum"("cs_sales_price") "cs_sp"
   FROM
     ((tpcds.tiny.catalog_sales
   LEFT JOIN tpcds.tiny.catalog_returns ON ("cr_order_number" = "cs_order_number")
      AND ("cs_item_sk" = "cr_item_sk"))
   INNER JOIN tpcds.tiny.date_dim ON ("cs_sold_date_sk" = "d_date_sk"))
   WHERE ("cr_order_number" IS NULL)
   GROUP BY "d_year", "cs_item_sk", "cs_bill_customer_sk"
)
, ss AS (
   SELECT
     "d_year" "ss_sold_year"
   , "ss_item_sk"
   , "ss_customer_sk"
   , "sum"("ss_quantity") "ss_qty"
   , "sum"("ss_wholesale_cost") "ss_wc"
   , "sum"("ss_sales_price") "ss_sp"
   FROM
     ((tpcds.tiny.store_sales
   LEFT JOIN tpcds.tiny.store_returns ON ("sr_ticket_number" = "ss_ticket_number")
      AND ("ss_item_sk" = "sr_item_sk"))
   INNER JOIN tpcds.tiny.date_dim ON ("ss_sold_date_sk" = "d_date_sk"))
   WHERE ("sr_ticket_number" IS NULL)
   GROUP BY "d_year", "ss_item_sk", "ss_customer_sk"
)
SELECT
  "ss_sold_year"
, "ss_item_sk"
, "ss_customer_sk"
, "round"((CAST("ss_qty" AS DECIMAL(10,2)) / COALESCE(("ws_qty" + "cs_qty"), 1)), 2) "ratio"
, "ss_qty" "store_qty"
, "ss_wc" "store_wholesale_cost"
, "ss_sp" "store_sales_price"
, (COALESCE("ws_qty", 0) + COALESCE("cs_qty", 0)) "other_chan_qty"
, (COALESCE("ws_wc", 0) + COALESCE("cs_wc", 0)) "other_chan_wholesale_cost"
, (COALESCE("ws_sp", 0) + COALESCE("cs_sp", 0)) "other_chan_sales_price"
FROM
  ((ss
LEFT JOIN ws ON ("ws_sold_year" = "ss_sold_year")
   AND ("ws_item_sk" = "ss_item_sk")
   AND ("ws_customer_sk" = "ss_customer_sk"))
LEFT JOIN cs ON ("cs_sold_year" = "ss_sold_year")
   AND ("cs_item_sk" = "cs_item_sk")
   AND ("cs_customer_sk" = "ss_customer_sk"))
WHERE (COALESCE("ws_qty", 0) > 0)
   AND (COALESCE("cs_qty", 0) > 0)
   AND ("ss_sold_year" = 2000)
ORDER BY "ss_sold_year" ASC, "ss_item_sk" ASC, "ss_customer_sk" ASC, "ss_qty" DESC, "ss_wc" DESC, "ss_sp" DESC, "other_chan_qty" ASC, "other_chan_wholesale_cost" ASC, "other_chan_sales_price" ASC, "round"((CAST("ss_qty" AS DECIMAL(10,2)) / COALESCE(("ws_qty" + "cs_qty"), 1)), 2) ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(2000, 55, 70, '0.46', 30, '4.94', '4.34', 65, '90.60', '11.70'), (2000, 55, 70, '0.39', 30, '4.94', '4.34', 77, '74.13', '25.89'), (2000, 55, 70, '0.35', 30, '4.94', '4.34', 86, '85.73', '103.72'), (2000, 55, 70, '0.24', 30, '4.94', '4.34', 123, '114.52', '112.55'), (2000, 127, 200, '0.56', 27, '55.62', '77.78', 48, '84.72', '23.08')]


SQL name: ./benchmark/tpcds/q79.sql...
========================================
SELECT
  "c_last_name"
, "c_first_name"
, "substr"("s_city", 1, 30)
, "ss_ticket_number"
, "amt"
, "profit"
FROM
  (
   SELECT
     "ss_ticket_number"
   , "ss_customer_sk"
   , "store"."s_city"
   , "sum"("ss_coupon_amt") "amt"
   , "sum"("ss_net_profit") "profit"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   , tpcds.tiny.household_demographics
   WHERE ("store_sales"."ss_sold_date_sk" = "date_dim"."d_date_sk")
      AND ("store_sales"."ss_store_sk" = "store"."s_store_sk")
      AND ("store_sales"."ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND (("household_demographics"."hd_dep_count" = 6)
         OR ("household_demographics"."hd_vehicle_count" > 2))
      AND ("date_dim"."d_dow" = 1)
      AND ("date_dim"."d_year" IN (1999   , (1999 + 1)   , (1999 + 2)))
      AND ("store"."s_number_employees" BETWEEN 200 AND 295)
   GROUP BY "ss_ticket_number", "ss_customer_sk", "ss_addr_sk", "store"."s_city"
)  ms
, tpcds.tiny.customer
WHERE ("ss_customer_sk" = "c_customer_sk")
ORDER BY "c_last_name" ASC, "c_first_name" ASC, "substr"("s_city", 1, 30) ASC, "profit" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Adams                         ', 'Chris               ', 'Midway', 8820, '1235.35', '-2353.80'), ('Adams                         ', 'Matilde             ', 'Midway', 1947, '2358.31', '-8518.66'), ('Akers                         ', 'Richard             ', 'Midway', 6952, '3354.30', '-5627.48'), ('Albert                        ', 'Howard              ', 'Midway', 7342, '165.30', '-1971.74'), ('Albert                        ', 'John                ', 'Midway', 9939, '335.04', '-15360.34')]


SQL name: ./benchmark/tpcds/q80.sql...
========================================
WITH
  ssr AS (
   SELECT
     "s_store_id" "store_id"
   , "sum"("ss_ext_sales_price") "sales"
   , "sum"(COALESCE("sr_return_amt", 0)) "returns"
   , "sum"(("ss_net_profit" - COALESCE("sr_net_loss", 0))) "profit"
   FROM
     (tpcds.tiny.store_sales
   LEFT JOIN tpcds.tiny.store_returns ON ("ss_item_sk" = "sr_item_sk")
      AND ("ss_ticket_number" = "sr_ticket_number"))
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   , tpcds.tiny.item
   , tpcds.tiny.promotion
   WHERE ("ss_sold_date_sk" = "d_date_sk")
      AND (CAST("d_date" AS DATE) BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '30' DAY))
      AND ("ss_store_sk" = "s_store_sk")
      AND ("ss_item_sk" = "i_item_sk")
      AND ("i_current_price" > 50)
      AND ("ss_promo_sk" = "p_promo_sk")
      AND ("p_channel_tv" = 'N')
   GROUP BY "s_store_id"
)
, csr AS (
   SELECT
     "cp_catalog_page_id" "catalog_page_id"
   , "sum"("cs_ext_sales_price") "sales"
   , "sum"(COALESCE("cr_return_amount", 0)) "returns"
   , "sum"(("cs_net_profit" - COALESCE("cr_net_loss", 0))) "profit"
   FROM
     (tpcds.tiny.catalog_sales
   LEFT JOIN tpcds.tiny.catalog_returns ON ("cs_item_sk" = "cr_item_sk")
      AND ("cs_order_number" = "cr_order_number"))
   , tpcds.tiny.date_dim
   , tpcds.tiny.catalog_page
   , tpcds.tiny.item
   , tpcds.tiny.promotion
   WHERE ("cs_sold_date_sk" = "d_date_sk")
      AND (CAST("d_date" AS DATE) BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '30' DAY))
      AND ("cs_catalog_page_sk" = "cp_catalog_page_sk")
      AND ("cs_item_sk" = "i_item_sk")
      AND ("i_current_price" > 50)
      AND ("cs_promo_sk" = "p_promo_sk")
      AND ("p_channel_tv" = 'N')
   GROUP BY "cp_catalog_page_id"
)
, wsr AS (
   SELECT
     "web_site_id"
   , "sum"("ws_ext_sales_price") "sales"
   , "sum"(COALESCE("wr_return_amt", 0)) "returns"
   , "sum"(("ws_net_profit" - COALESCE("wr_net_loss", 0))) "profit"
   FROM
     (tpcds.tiny.web_sales
   LEFT JOIN tpcds.tiny.web_returns ON ("ws_item_sk" = "wr_item_sk")
      AND ("ws_order_number" = "wr_order_number"))
   , tpcds.tiny.date_dim
   , tpcds.tiny.web_site
   , tpcds.tiny.item
   , tpcds.tiny.promotion
   WHERE ("ws_sold_date_sk" = "d_date_sk")
      AND (CAST("d_date" AS DATE) BETWEEN CAST('2000-08-23' AS DATE) AND (CAST('2000-08-23' AS DATE) + INTERVAL  '30' DAY))
      AND ("ws_web_site_sk" = "web_site_sk")
      AND ("ws_item_sk" = "i_item_sk")
      AND ("i_current_price" > 50)
      AND ("ws_promo_sk" = "p_promo_sk")
      AND ("p_channel_tv" = 'N')
   GROUP BY "web_site_id"
)
SELECT
  "channel"
, "id"
, "sum"("sales") "sales"
, "sum"("returns") "returns"
, "sum"("profit") "profit"
FROM
  (
   SELECT
     'tpcds.tiny.store channel' "channel"
   , "concat"('store', "store_id") "id"
   , "sales"
   , "returns"
   , "profit"
   FROM
     ssr
UNION ALL    SELECT
     'catalog channel' "channel"
   , "concat"('catalog_page', "catalog_page_id") "id"
   , "sales"
   , "returns"
   , "profit"
   FROM
     csr
UNION ALL    SELECT
     'web channel' "channel"
   , "concat"('web_site', "web_site_id") "id"
   , "sales"
   , "returns"
   , "profit"
   FROM
     wsr
)  x
GROUP BY ROLLUP (channel, id)
ORDER BY "channel" ASC, "id" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('catalog channel', 'catalog_pageAAAAAAAAABABAAAA', '0.00', '0.00', '-147.11'), ('catalog channel', 'catalog_pageAAAAAAAAAEABAAAA', '3697.98', '0.00', '1652.64'), ('catalog channel', 'catalog_pageAAAAAAAAAKCBAAAA', '850.41', '0.00', '-7159.68'), ('catalog channel', 'catalog_pageAAAAAAAAALCBAAAA', '335.04', '0.00', '-256.33'), ('catalog channel', 'catalog_pageAAAAAAAAALPAAAAA', '0.00', '0.00', '-1445.22')]


SQL name: ./benchmark/tpcds/q81.sql...
========================================
WITH
  customer_total_return AS (
   SELECT
     "cr_returning_customer_sk" "ctr_customer_sk"
   , "ca_state" "ctr_state"
   , "sum"("cr_return_amt_inc_tax") "ctr_total_return"
   FROM
     tpcds.tiny.catalog_returns
   , tpcds.tiny.date_dim
   , tpcds.tiny.customer_address
   WHERE ("cr_returned_date_sk" = "d_date_sk")
      AND ("d_year" = 2000)
      AND ("cr_returning_addr_sk" = "ca_address_sk")
   GROUP BY "cr_returning_customer_sk", "ca_state"
)
SELECT
  "c_customer_id"
, "c_salutation"
, "c_first_name"
, "c_last_name"
, "ca_street_number"
, "ca_street_name"
, "ca_street_type"
, "ca_suite_number"
, "ca_city"
, "ca_county"
, "ca_state"
, "ca_zip"
, "ca_country"
, "ca_gmt_offset"
, "ca_location_type"
, "ctr_total_return"
FROM
  customer_total_return ctr1
, tpcds.tiny.customer_address
, tpcds.tiny.customer
WHERE ("ctr1"."ctr_total_return" > (
      SELECT ("avg"("ctr_total_return") * DECIMAL '1.2')
      FROM
        customer_total_return ctr2
      WHERE ("ctr1"."ctr_state" = "ctr2"."ctr_state")
   ))
   AND ("ca_address_sk" = "c_current_addr_sk")
   AND ("ca_state" = 'GA')
   AND ("ctr1"."ctr_customer_sk" = "c_customer_sk")
ORDER BY "c_customer_id" ASC, "c_salutation" ASC, "c_first_name" ASC, "c_last_name" ASC, "ca_street_number" ASC, "ca_street_name" ASC, "ca_street_type" ASC, "ca_suite_number" ASC, "ca_city" ASC, "ca_county" ASC, "ca_state" ASC, "ca_zip" ASC, "ca_country" ASC, "ca_gmt_offset" ASC, "ca_location_type" ASC, "ctr_total_return" ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAABKCAAAAA', 'Dr.       ', 'Terrence            ', 'Albright                      ', '419       ', 'View Miller', 'Wy             ', 'Suite 360 ', 'Pleasant Grove', 'Cobb County', 'GA', '34136     ', 'United States', '-5.00', 'single family       ', '5079.60'), ('AAAAAAAACKBAAAAA', 'Dr.       ', 'Maurice             ', 'Morales                       ', '313       ', '2nd Eigth', 'Avenue         ', 'Suite 40  ', 'Marion', 'Glascock County', 'GA', '30399     ', 'United States', '-5.00', 'condo               ', '3038.84'), ('AAAAAAAACNAAAAAA', 'Ms.       ', 'Diane               ', 'Blount                        ', '780       ', '4th ', 'Ave            ', 'Suite T   ', 'Spring Hill', 'Worth County', 'GA', '36787     ', 'United States', '-5.00', 'single family       ', '5614.20'), ('AAAAAAAADADAAAAA', 'Mr.       ', 'Charles             ', 'Loveless                      ', '24        ', 'Central ', 'Blvd           ', 'Suite 490 ', 'Crossroads', 'Brooks County', 'GA', '30534     ', 'United States', '-5.00', 'single family       ', '1429.42'), ('AAAAAAAADGDAAAAA', 'Mr.       ', 'Alberto             ', 'Mccreary                      ', '379       ', 'Spring Eigth', 'Street         ', 'Suite R   ', 'Cedar Grove', 'Wilcox County', 'GA', '30411     ', 'United States', '-5.00', 'single family       ', '544.12')]


SQL name: ./benchmark/tpcds/q82.sql...
========================================
SELECT
  "i_item_id"
, "i_item_desc"
, "i_current_price"
FROM
  tpcds.tiny.item
, tpcds.tiny.inventory
, tpcds.tiny.date_dim
, tpcds.tiny.store_sales
WHERE ("i_current_price" BETWEEN 62 AND (62 + 30))
   AND ("inv_item_sk" = "i_item_sk")
   AND ("d_date_sk" = "inv_date_sk")
   AND (CAST("d_date" AS DATE) BETWEEN CAST('2000-05-25' AS DATE) AND (CAST('2000-05-25' AS DATE) + INTERVAL  '60' DAY))
   AND ("i_manufact_id" IN (129, 270, 821, 423))
   AND ("inv_quantity_on_hand" BETWEEN 100 AND 500)
   AND ("ss_item_sk" = "i_item_sk")
GROUP BY "i_item_id", "i_item_desc", "i_current_price"
ORDER BY "i_item_id" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q83.sql...
========================================
WITH
  sr_items AS (
   SELECT
     "i_item_id" "item_id"
   , "sum"("sr_return_quantity") "sr_item_qty"
   FROM
     tpcds.tiny.store_returns
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("sr_item_sk" = "i_item_sk")
      AND ("d_date" IN (
      SELECT "d_date"
      FROM
        tpcds.tiny.date_dim
      WHERE ("d_week_seq" IN (
         SELECT "d_week_seq"
         FROM
           tpcds.tiny.date_dim
         WHERE ("d_date" IN (CAST('2000-06-30' AS DATE)         , CAST('2000-09-27' AS DATE)         , CAST('2000-11-17' AS DATE)))
      ))
   ))
      AND ("sr_returned_date_sk" = "d_date_sk")
   GROUP BY "i_item_id"
)
, cr_items AS (
   SELECT
     "i_item_id" "item_id"
   , "sum"("cr_return_quantity") "cr_item_qty"
   FROM
     tpcds.tiny.catalog_returns
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("cr_item_sk" = "i_item_sk")
      AND ("d_date" IN (
      SELECT "d_date"
      FROM
        tpcds.tiny.date_dim
      WHERE ("d_week_seq" IN (
         SELECT "d_week_seq"
         FROM
           tpcds.tiny.date_dim
         WHERE ("d_date" IN (CAST('2000-06-30' AS DATE)         , CAST('2000-09-27' AS DATE)         , CAST('2000-11-17' AS DATE)))
      ))
   ))
      AND ("cr_returned_date_sk" = "d_date_sk")
   GROUP BY "i_item_id"
)
, wr_items AS (
   SELECT
     "i_item_id" "item_id"
   , "sum"("wr_return_quantity") "wr_item_qty"
   FROM
     tpcds.tiny.web_returns
   , tpcds.tiny.item
   , tpcds.tiny.date_dim
   WHERE ("wr_item_sk" = "i_item_sk")
      AND ("d_date" IN (
      SELECT "d_date"
      FROM
        tpcds.tiny.date_dim
      WHERE ("d_week_seq" IN (
         SELECT "d_week_seq"
         FROM
           tpcds.tiny.date_dim
         WHERE ("d_date" IN (CAST('2000-06-30' AS DATE)         , CAST('2000-09-27' AS DATE)         , CAST('2000-11-17' AS DATE)))
      ))
   ))
      AND ("wr_returned_date_sk" = "d_date_sk")
   GROUP BY "i_item_id"
)
SELECT
  "sr_items"."item_id"
, "sr_item_qty"
, CAST(((("sr_item_qty" / ((CAST("sr_item_qty" AS DECIMAL(9,4)) + "cr_item_qty") + "wr_item_qty")) / DECIMAL '3.0') * 100) AS DECIMAL(7,2)) "sr_dev"
, "cr_item_qty"
, CAST(((("cr_item_qty" / ((CAST("sr_item_qty" AS DECIMAL(9,4)) + "cr_item_qty") + "wr_item_qty")) / DECIMAL '3.0') * 100) AS DECIMAL(7,2)) "cr_dev"
, "wr_item_qty"
, CAST(((("wr_item_qty" / ((CAST("sr_item_qty" AS DECIMAL(9,4)) + "cr_item_qty") + "wr_item_qty")) / DECIMAL '3.0') * 100) AS DECIMAL(7,2)) "wr_dev"
, ((("sr_item_qty" + "cr_item_qty") + "wr_item_qty") / DECIMAL '3.00') "average"
FROM
  sr_items
, cr_items
, wr_items
WHERE ("sr_items"."item_id" = "cr_items"."item_id")
   AND ("sr_items"."item_id" = "wr_items"."item_id")
ORDER BY "sr_items"."item_id" ASC, "sr_item_qty" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q84.sql...
========================================
SELECT
  "c_customer_id" "customer_id"
, "concat"("concat"("c_last_name", ', '), "c_first_name") "tpcds.tiny.customername"
FROM
  tpcds.tiny.customer
, tpcds.tiny.customer_address
, tpcds.tiny.customer_demographics
, tpcds.tiny.household_demographics
, tpcds.tiny.income_band
, tpcds.tiny.store_returns
WHERE ("ca_city" = 'Edgewood')
   AND ("c_current_addr_sk" = "ca_address_sk")
   AND ("ib_lower_bound" >= 38128)
   AND ("ib_upper_bound" <= (38128 + 50000))
   AND ("ib_income_band_sk" = "hd_income_band_sk")
   AND ("cd_demo_sk" = "c_current_cdemo_sk")
   AND ("hd_demo_sk" = "c_current_hdemo_sk")
   AND ("sr_cdemo_sk" = "cd_demo_sk")
ORDER BY "c_customer_id" ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q85.sql...
========================================
SELECT
  "substr"("r_reason_desc", 1, 20)
, "avg"("ws_quantity")
, "avg"("wr_refunded_cash")
, "avg"("wr_fee")
FROM
  tpcds.tiny.web_sales
, tpcds.tiny.web_returns
, tpcds.tiny.web_page
, tpcds.tiny.customer_demographics cd1
, tpcds.tiny.customer_demographics cd2
, tpcds.tiny.customer_address
, tpcds.tiny.date_dim
, tpcds.tiny.reason
WHERE ("ws_web_page_sk" = "wp_web_page_sk")
   AND ("ws_item_sk" = "wr_item_sk")
   AND ("ws_order_number" = "wr_order_number")
   AND ("ws_sold_date_sk" = "d_date_sk")
   AND ("d_year" = 2000)
   AND ("cd1"."cd_demo_sk" = "wr_refunded_cdemo_sk")
   AND ("cd2"."cd_demo_sk" = "wr_returning_cdemo_sk")
   AND ("ca_address_sk" = "wr_refunded_addr_sk")
   AND ("r_reason_sk" = "wr_reason_sk")
   AND ((("cd1"."cd_marital_status" = 'M')
         AND ("cd1"."cd_marital_status" = "cd2"."cd_marital_status")
         AND ("cd1"."cd_education_status" = 'Advanced Degree')
         AND ("cd1"."cd_education_status" = "cd2"."cd_education_status")
         AND ("ws_sales_price" BETWEEN DECIMAL '100.00' AND DECIMAL '150.00'))
      OR (("cd1"."cd_marital_status" = 'S')
         AND ("cd1"."cd_marital_status" = "cd2"."cd_marital_status")
         AND ("cd1"."cd_education_status" = 'College')
         AND ("cd1"."cd_education_status" = "cd2"."cd_education_status")
         AND ("ws_sales_price" BETWEEN DECIMAL '50.00' AND DECIMAL '100.00'))
      OR (("cd1"."cd_marital_status" = 'W')
         AND ("cd1"."cd_marital_status" = "cd2"."cd_marital_status")
         AND ("cd1"."cd_education_status" = '2 yr Degree')
         AND ("cd1"."cd_education_status" = "cd2"."cd_education_status")
         AND ("ws_sales_price" BETWEEN DECIMAL '150.00' AND DECIMAL '200.00')))
   AND ((("ca_country" = 'United States')
         AND ("ca_state" IN ('IN'      , 'OH'      , 'NJ'))
         AND ("ws_net_profit" BETWEEN 100 AND 200))
      OR (("ca_country" = 'United States')
         AND ("ca_state" IN ('WI'      , 'CT'      , 'KY'))
         AND ("ws_net_profit" BETWEEN 150 AND 300))
      OR (("ca_country" = 'United States')
         AND ("ca_state" IN ('LA'      , 'IA'      , 'AR'))
         AND ("ws_net_profit" BETWEEN 50 AND 250)))
GROUP BY "r_reason_desc"
ORDER BY "substr"("r_reason_desc", 1, 20) ASC, "avg"("ws_quantity") ASC, "avg"("wr_refunded_cash") ASC, "avg"("wr_fee") ASC
LIMIT 100

Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.38MB, Delta: 540.25kB, Top Consumers: {HashBuilderOperator=102.38MB, PartitionedOutputOperator=10.01MB, ScanFilterAndProjectOperator=6.27MB}, Details: [{"taskId":"6.0.0","reservation":"57.28MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"179","reservations":["3.64MB","3.63MB","3.62MB","3.59MB","3.58MB","3.57MB","3.57MB","3.57MB","3.57MB","3.57MB","3.56MB","3.56MB","3.56MB","3.56MB","3.55MB","3.55MB"],"total":"57.28MB","info":"INNER;PARTITIONED;"}]},{"taskId":"5.0.0","reservation":"41.07MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"171","reservations":["3.29MB","3.28MB","3.28MB","3.24MB","2.69MB","2.54MB","2.29MB","2.29MB","2.28MB","2.27MB","2.27MB","2.27MB","2.27MB","2.27MB","2.26MB","2.26MB"],"total":"41.07MB","info":"INNER;PARTITIONED;"}]},{"taskId":"13.0.0","reservation":"8.76MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"1510","reservations":["1.25MB","1.25MB","1.25MB","1.25MB"],"total":"5.00MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"1510","reservations":["1.25MB","1.25MB","1.25MB","680B"],"total":"3.75MB"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.38MB, Delta: 540.25kB, Top Consumers: {HashBuilderOperator=102.38MB, PartitionedOutputOperator=10.01MB, ScanFilterAndProjectOperator=6.27MB}, Details: [{"taskId":"6.0.0","reservation":"57.28MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"179","reservations":["3.64MB","3.63MB","3.62MB","3.59MB","3.58MB","3.57MB","3.57MB","3.57MB","3.57MB","3.57MB","3.56MB","3.56MB","3.56MB","3.56MB","3.55MB","3.55MB"],"total":"57.28MB","info":"INNER;PARTITIONED;"}]},{"taskId":"5.0.0","reservation":"41.07MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"171","reservations":["3.29MB","3.28MB","3.28MB","3.24MB","2.69MB","2.54MB","2.29MB","2.29MB","2.28MB","2.27MB","2.27MB","2.27MB","2.27MB","2.27MB","2.26MB","2.26MB"],"total":"41.07MB","info":"INNER;PARTITIONED;"}]},{"taskId":"13.0.0","reservation":"8.76MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"1510","reservations":["1.25MB","1.25MB","1.25MB","1.25MB"],"total":"5.00MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"1510","reservations":["1.25MB","1.25MB","1.25MB","680B"],"total":"3.75MB"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.updateIndex(HashBuilderOperator.java:358)', 'com.facebook.presto.operator.HashBuilderOperator.addInput(HashBuilderOperator.java:345)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:428)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 15, in <module>
    for row in rs:
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/result.py", line 381, in iterrows
    for row in self._fetchiter_impl():
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 1788, in _fetchiter_impl
    row = fetchone(self, self.cursor)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 960, in fetchone
    self.handle_exception(result, dbapi_cursor, e)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 941, in handle_exception
    result.connection._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 955, in fetchone
    row = dbapi_cursor.fetchone()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 106, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
sqlalchemy.exc.DatabaseError: (pyhive.exc.DatabaseError) {'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.38MB, Delta: 540.25kB, Top Consumers: {HashBuilderOperator=102.38MB, PartitionedOutputOperator=10.01MB, ScanFilterAndProjectOperator=6.27MB}, Details: [{"taskId":"6.0.0","reservation":"57.28MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"179","reservations":["3.64MB","3.63MB","3.62MB","3.59MB","3.58MB","3.57MB","3.57MB","3.57MB","3.57MB","3.57MB","3.56MB","3.56MB","3.56MB","3.56MB","3.55MB","3.55MB"],"total":"57.28MB","info":"INNER;PARTITIONED;"}]},{"taskId":"5.0.0","reservation":"41.07MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"171","reservations":["3.29MB","3.28MB","3.28MB","3.24MB","2.69MB","2.54MB","2.29MB","2.29MB","2.28MB","2.27MB","2.27MB","2.27MB","2.27MB","2.27MB","2.26MB","2.26MB"],"total":"41.07MB","info":"INNER;PARTITIONED;"}]},{"taskId":"13.0.0","reservation":"8.76MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"1510","reservations":["1.25MB","1.25MB","1.25MB","1.25MB"],"total":"5.00MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"1510","reservations":["1.25MB","1.25MB","1.25MB","680B"],"total":"3.75MB"}]}]]', 'errorCode': 131079, 'errorName': 'EXCEEDED_LOCAL_MEMORY_LIMIT', 'errorType': 'INSUFFICIENT_RESOURCES', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.ExceededMemoryLimitException', 'message': 'Query exceeded per-node user memory limit of 102.40MB [Allocated: 102.38MB, Delta: 540.25kB, Top Consumers: {HashBuilderOperator=102.38MB, PartitionedOutputOperator=10.01MB, ScanFilterAndProjectOperator=6.27MB}, Details: [{"taskId":"6.0.0","reservation":"57.28MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"179","reservations":["3.64MB","3.63MB","3.62MB","3.59MB","3.58MB","3.57MB","3.57MB","3.57MB","3.57MB","3.57MB","3.56MB","3.56MB","3.56MB","3.56MB","3.55MB","3.55MB"],"total":"57.28MB","info":"INNER;PARTITIONED;"}]},{"taskId":"5.0.0","reservation":"41.07MB","topConsumers":[{"type":"HashBuilderOperator","planNodeId":"171","reservations":["3.29MB","3.28MB","3.28MB","3.24MB","2.69MB","2.54MB","2.29MB","2.29MB","2.28MB","2.27MB","2.27MB","2.27MB","2.27MB","2.27MB","2.26MB","2.26MB"],"total":"41.07MB","info":"INNER;PARTITIONED;"}]},{"taskId":"13.0.0","reservation":"8.76MB","topConsumers":[{"type":"PartitionedOutputOperator","planNodeId":"1510","reservations":["1.25MB","1.25MB","1.25MB","1.25MB"],"total":"5.00MB"},{"type":"ScanFilterAndProjectOperator","planNodeId":"1510","reservations":["1.25MB","1.25MB","1.25MB","680B"],"total":"3.75MB"}]}]]', 'suppressed': [], 'stack': ['com.facebook.presto.ExceededMemoryLimitException.exceededLocalUserMemoryLimit(ExceededMemoryLimitException.java:49)', 'com.facebook.presto.memory.QueryContext.enforceUserMemoryLimit(QueryContext.java:496)', 'com.facebook.presto.memory.QueryContext.updateUserMemory(QueryContext.java:192)', 'com.facebook.presto.memory.QueryContext$QueryMemoryReservationHandler.reserveMemory(QueryContext.java:462)', 'com.facebook.presto.memory.context.RootAggregatedMemoryContext.updateBytes(RootAggregatedMemoryContext.java:37)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.ChildAggregatedMemoryContext.updateBytes(ChildAggregatedMemoryContext.java:38)', 'com.facebook.presto.memory.context.SimpleLocalMemoryContext.setBytes(SimpleLocalMemoryContext.java:82)', 'com.facebook.presto.operator.OperatorContext$InternalLocalMemoryContext.setBytes(OperatorContext.java:672)', 'com.facebook.presto.operator.HashBuilderOperator.updateIndex(HashBuilderOperator.java:358)', 'com.facebook.presto.operator.HashBuilderOperator.addInput(HashBuilderOperator.java:345)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:428)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}
(Background on this error at: https://sqlalche.me/e/14/4xp6)



SQL name: ./benchmark/tpcds/q86.sql...
========================================
SELECT
  "sum"("ws_net_paid") "total_sum"
, "i_category"
, "i_class"
, (GROUPING ("i_category") + GROUPING ("i_class")) "lochierarchy"
, "rank"() OVER (PARTITION BY (GROUPING ("i_category") + GROUPING ("i_class")), (CASE WHEN (GROUPING ("i_class") = 0) THEN "i_category" END) ORDER BY "sum"("ws_net_paid") DESC) "rank_within_parent"
FROM
  tpcds.tiny.web_sales
, tpcds.tiny.date_dim d1
, tpcds.tiny.item
WHERE ("d1"."d_month_seq" BETWEEN 1200 AND (1200 + 11))
   AND ("d1"."d_date_sk" = "ws_sold_date_sk")
   AND ("i_item_sk" = "ws_item_sk")
GROUP BY ROLLUP (i_category, i_class)
ORDER BY "lochierarchy" DESC, (CASE WHEN ("lochierarchy" = 0) THEN "i_category" END) ASC, "rank_within_parent" ASC
LIMIT 100

Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[('5189585.33', None, None, 2, 1), ('655046.32', 'Men                                               ', None, 1, 1), ('626624.82', 'Women                                             ', None, 1, 2), ('581067.68', 'Books                                             ', None, 1, 3), ('561790.19', 'Music                                             ', None, 1, 4)]


SQL name: ./benchmark/tpcds/q87.sql...
========================================
SELECT "count"(*)
FROM
  (
(
      SELECT DISTINCT
        "c_last_name"
      , "c_first_name"
      , "d_date"
      FROM
        tpcds.tiny.store_sales
      , tpcds.tiny.date_dim
      , tpcds.tiny.customer
      WHERE ("store_sales"."ss_sold_date_sk" = "date_dim"."d_date_sk")
         AND ("store_sales"."ss_customer_sk" = "customer"."c_customer_sk")
         AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
   ) EXCEPT (
      SELECT DISTINCT
        "c_last_name"
      , "c_first_name"
      , "d_date"
      FROM
        tpcds.tiny.catalog_sales
      , tpcds.tiny.date_dim
      , tpcds.tiny.customer
      WHERE ("catalog_sales"."cs_sold_date_sk" = "date_dim"."d_date_sk")
         AND ("catalog_sales"."cs_bill_customer_sk" = "customer"."c_customer_sk")
         AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
   ) EXCEPT (
      SELECT DISTINCT
        "c_last_name"
      , "c_first_name"
      , "d_date"
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.date_dim
      , tpcds.tiny.customer
      WHERE ("web_sales"."ws_sold_date_sk" = "date_dim"."d_date_sk")
         AND ("web_sales"."ws_bill_customer_sk" = "customer"."c_customer_sk")
         AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
   ) )  cool_cust



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(1994,)]


SQL name: ./benchmark/tpcds/q88.sql...
========================================
SELECT *
FROM
  (
   SELECT "count"(*) "h8_30_to_9"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.store
   WHERE ("ss_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("time_dim"."t_hour" = 8)
      AND ("time_dim"."t_minute" >= 30)
      AND ((("household_demographics"."hd_dep_count" = 4)
            AND ("household_demographics"."hd_vehicle_count" <= (4 + 2)))
         OR (("household_demographics"."hd_dep_count" = 2)
            AND ("household_demographics"."hd_vehicle_count" <= (2 + 2)))
         OR (("household_demographics"."hd_dep_count" = 0)
            AND ("household_demographics"."hd_vehicle_count" <= (0 + 2))))
      AND ("store"."s_store_name" = 'ese')
)  s1
, (
   SELECT "count"(*) "h9_to_9_30"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.store
   WHERE ("ss_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("time_dim"."t_hour" = 9)
      AND ("time_dim"."t_minute" < 30)
      AND ((("household_demographics"."hd_dep_count" = 4)
            AND ("household_demographics"."hd_vehicle_count" <= (4 + 2)))
         OR (("household_demographics"."hd_dep_count" = 2)
            AND ("household_demographics"."hd_vehicle_count" <= (2 + 2)))
         OR (("household_demographics"."hd_dep_count" = 0)
            AND ("household_demographics"."hd_vehicle_count" <= (0 + 2))))
      AND ("store"."s_store_name" = 'ese')
)  s2
, (
   SELECT "count"(*) "h9_30_to_10"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.store
   WHERE ("ss_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("time_dim"."t_hour" = 9)
      AND ("time_dim"."t_minute" >= 30)
      AND ((("household_demographics"."hd_dep_count" = 4)
            AND ("household_demographics"."hd_vehicle_count" <= (4 + 2)))
         OR (("household_demographics"."hd_dep_count" = 2)
            AND ("household_demographics"."hd_vehicle_count" <= (2 + 2)))
         OR (("household_demographics"."hd_dep_count" = 0)
            AND ("household_demographics"."hd_vehicle_count" <= (0 + 2))))
      AND ("store"."s_store_name" = 'ese')
)  s3
, (
   SELECT "count"(*) "h10_to_10_30"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.store
   WHERE ("ss_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("time_dim"."t_hour" = 10)
      AND ("time_dim"."t_minute" < 30)
      AND ((("household_demographics"."hd_dep_count" = 4)
            AND ("household_demographics"."hd_vehicle_count" <= (4 + 2)))
         OR (("household_demographics"."hd_dep_count" = 2)
            AND ("household_demographics"."hd_vehicle_count" <= (2 + 2)))
         OR (("household_demographics"."hd_dep_count" = 0)
            AND ("household_demographics"."hd_vehicle_count" <= (0 + 2))))
      AND ("store"."s_store_name" = 'ese')
)  s4
, (
   SELECT "count"(*) "h10_30_to_11"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.store
   WHERE ("ss_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("time_dim"."t_hour" = 10)
      AND ("time_dim"."t_minute" >= 30)
      AND ((("household_demographics"."hd_dep_count" = 4)
            AND ("household_demographics"."hd_vehicle_count" <= (4 + 2)))
         OR (("household_demographics"."hd_dep_count" = 2)
            AND ("household_demographics"."hd_vehicle_count" <= (2 + 2)))
         OR (("household_demographics"."hd_dep_count" = 0)
            AND ("household_demographics"."hd_vehicle_count" <= (0 + 2))))
      AND ("store"."s_store_name" = 'ese')
)  s5
, (
   SELECT "count"(*) "h11_to_11_30"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.store
   WHERE ("ss_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("time_dim"."t_hour" = 11)
      AND ("time_dim"."t_minute" < 30)
      AND ((("household_demographics"."hd_dep_count" = 4)
            AND ("household_demographics"."hd_vehicle_count" <= (4 + 2)))
         OR (("household_demographics"."hd_dep_count" = 2)
            AND ("household_demographics"."hd_vehicle_count" <= (2 + 2)))
         OR (("household_demographics"."hd_dep_count" = 0)
            AND ("household_demographics"."hd_vehicle_count" <= (0 + 2))))
      AND ("store"."s_store_name" = 'ese')
)  s6
, (
   SELECT "count"(*) "h11_30_to_12"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.store
   WHERE ("ss_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("time_dim"."t_hour" = 11)
      AND ("time_dim"."t_minute" >= 30)
      AND ((("household_demographics"."hd_dep_count" = 4)
            AND ("household_demographics"."hd_vehicle_count" <= (4 + 2)))
         OR (("household_demographics"."hd_dep_count" = 2)
            AND ("household_demographics"."hd_vehicle_count" <= (2 + 2)))
         OR (("household_demographics"."hd_dep_count" = 0)
            AND ("household_demographics"."hd_vehicle_count" <= (0 + 2))))
      AND ("store"."s_store_name" = 'ese')
)  s7
, (
   SELECT "count"(*) "h12_to_12_30"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.store
   WHERE ("ss_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("time_dim"."t_hour" = 12)
      AND ("time_dim"."t_minute" < 30)
      AND ((("household_demographics"."hd_dep_count" = 4)
            AND ("household_demographics"."hd_vehicle_count" <= (4 + 2)))
         OR (("household_demographics"."hd_dep_count" = 2)
            AND ("household_demographics"."hd_vehicle_count" <= (2 + 2)))
         OR (("household_demographics"."hd_dep_count" = 0)
            AND ("household_demographics"."hd_vehicle_count" <= (0 + 2))))
      AND ("store"."s_store_name" = 'ese')
)  s8

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(0, 0, 0, 0, 0, 0, 0, 0)]


SQL name: ./benchmark/tpcds/q89.sql...
========================================
SELECT *
FROM
  (
   SELECT
     "i_category"
   , "i_class"
   , "i_brand"
   , "s_store_name"
   , "s_company_name"
   , "d_moy"
   , "sum"("ss_sales_price") "sum_sales"
   , "avg"("sum"("ss_sales_price")) OVER (PARTITION BY "i_category", "i_brand", "s_store_name", "s_company_name") "avg_monthly_sales"
   FROM
     tpcds.tiny.item
   , tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   , tpcds.tiny.store
   WHERE ("ss_item_sk" = "i_item_sk")
      AND ("ss_sold_date_sk" = "d_date_sk")
      AND ("ss_store_sk" = "s_store_sk")
      AND ("d_year" IN (1999))
      AND ((("i_category" IN ('Books'         , 'Electronics'         , 'Sports'))
            AND ("i_class" IN ('computers'         , 'stereo'         , 'football')))
         OR (("i_category" IN ('Men'         , 'Jewelry'         , 'Women'))
            AND ("i_class" IN ('shirts'         , 'birdal'         , 'dresses'))))
   GROUP BY "i_category", "i_class", "i_brand", "s_store_name", "s_company_name", "d_moy"
)  tmp1
WHERE ((CASE WHEN ("avg_monthly_sales" <> 0) THEN ("abs"(("sum_sales" - "avg_monthly_sales")) / "avg_monthly_sales") ELSE null END) > DECIMAL '0.1')
ORDER BY ("sum_sales" - "avg_monthly_sales") ASC, "s_store_name" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Women                                             ', 'dresses                                           ', 'amalgamalg #1                                     ', 'ought', 'Unknown', 3, '95.65', '609.84'), ('Women                                             ', 'dresses                                           ', 'amalgamalg #1                                     ', 'able', 'Unknown', 7, '99.64', '603.49'), ('Women                                             ', 'dresses                                           ', 'amalgamalg #1                                     ', 'able', 'Unknown', 6, '102.02', '603.49'), ('Men                                               ', 'shirts                                            ', 'importoimporto #1                                 ', 'able', 'Unknown', 3, '228.92', '695.05'), ('Men                                               ', 'shirts                                            ', 'importoimporto #1                                 ', 'able', 'Unknown', 6, '267.60', '695.05')]


SQL name: ./benchmark/tpcds/q90.sql...
========================================
SELECT (CAST("amc" AS DECIMAL(15,4)) / CAST("pmc" AS DECIMAL(15,4))) "am_pm_ratio"
FROM
  (
   SELECT "count"(*) "amc"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.web_page
   WHERE ("ws_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ws_ship_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ws_web_page_sk" = "web_page"."wp_web_page_sk")
      AND ("time_dim"."t_hour" BETWEEN 8 AND (8 + 1))
      AND ("household_demographics"."hd_dep_count" = 6)
      AND ("web_page"."wp_char_count" BETWEEN 5000 AND 5200)
)  "at"
, (
   SELECT "count"(*) "pmc"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.web_page
   WHERE ("ws_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ws_ship_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ws_web_page_sk" = "web_page"."wp_web_page_sk")
      AND ("time_dim"."t_hour" BETWEEN 19 AND (19 + 1))
      AND ("household_demographics"."hd_dep_count" = 6)
      AND ("web_page"."wp_char_count" BETWEEN 5000 AND 5200)
)  pt
ORDER BY "am_pm_ratio" ASC
LIMIT 100



Traceback (most recent call last):
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1815, in _execute_context
    result = context._setup_result_proxy()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1409, in _setup_result_proxy
    result = self._setup_dml_or_text_result()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1491, in _setup_dml_or_text_result
    strategy.alternate_cursor_description or self.cursor.description
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 225, in description
    self._fetch_while(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
pyhive.exc.DatabaseError: {'message': 'Division by zero', 'errorCode': 8, 'errorName': 'DIVISION_BY_ZERO', 'errorType': 'USER_ERROR', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.spi.PrestoException', 'message': 'Division by zero', 'suppressed': [], 'stack': ['com.facebook.presto.type.DecimalOperators.divideShortShortLong(DecimalOperators.java:400)', 'com.facebook.presto.$gen.PageProjectionWork_20211021_030806_1619.evaluate(Unknown Source)', 'com.facebook.presto.$gen.PageProjectionWork_20211021_030806_1619.process(Unknown Source)', 'com.facebook.presto.operator.project.PageProcessor$ProjectSelectedPositions.processBatch(PageProcessor.java:326)', 'com.facebook.presto.operator.project.PageProcessor$ProjectSelectedPositions.process(PageProcessor.java:197)', 'com.facebook.presto.operator.WorkProcessorUtils$ProcessWorkProcessor.process(WorkProcessorUtils.java:315)', 'com.facebook.presto.operator.WorkProcessorUtils$YieldingIterator.computeNext(WorkProcessorUtils.java:79)', 'com.facebook.presto.operator.WorkProcessorUtils$YieldingIterator.computeNext(WorkProcessorUtils.java:65)', 'com.google.common.collect.AbstractIterator.tryToComputeNext(AbstractIterator.java:141)', 'com.google.common.collect.AbstractIterator.hasNext(AbstractIterator.java:136)', 'com.facebook.presto.operator.project.MergingPageOutput.getOutput(MergingPageOutput.java:113)', 'com.facebook.presto.operator.FilterAndProjectOperator.getOutput(FilterAndProjectOperator.java:102)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:418)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/tmp/ipykernel_394536/722970930.py", line 13, in <module>
    rs = conn.execute(sql)
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1271, in execute
    return self._exec_driver_sql(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1575, in _exec_driver_sql
    ret = self._execute_context(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1842, in _execute_context
    self._handle_dbapi_exception(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2023, in _handle_dbapi_exception
    util.raise_(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1815, in _execute_context
    result = context._setup_result_proxy()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1409, in _setup_result_proxy
    result = self._setup_dml_or_text_result()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 1491, in _setup_dml_or_text_result
    strategy.alternate_cursor_description or self.cursor.description
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 225, in description
    self._fetch_while(
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/common.py", line 46, in _fetch_while
    self._fetch_more()
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 308, in _fetch_more
    self._process_response(self._requests_session.get(self._nextUri, **self._requests_kwargs))
  File "/home/wengong/anaconda3/envs/py39/lib/python3.9/site-packages/pyhive/presto.py", line 349, in _process_response
    raise DatabaseError(response_json['error'])
sqlalchemy.exc.DatabaseError: (pyhive.exc.DatabaseError) {'message': 'Division by zero', 'errorCode': 8, 'errorName': 'DIVISION_BY_ZERO', 'errorType': 'USER_ERROR', 'boolean': False, 'failureInfo': {'type': 'com.facebook.presto.spi.PrestoException', 'message': 'Division by zero', 'suppressed': [], 'stack': ['com.facebook.presto.type.DecimalOperators.divideShortShortLong(DecimalOperators.java:400)', 'com.facebook.presto.$gen.PageProjectionWork_20211021_030806_1619.evaluate(Unknown Source)', 'com.facebook.presto.$gen.PageProjectionWork_20211021_030806_1619.process(Unknown Source)', 'com.facebook.presto.operator.project.PageProcessor$ProjectSelectedPositions.processBatch(PageProcessor.java:326)', 'com.facebook.presto.operator.project.PageProcessor$ProjectSelectedPositions.process(PageProcessor.java:197)', 'com.facebook.presto.operator.WorkProcessorUtils$ProcessWorkProcessor.process(WorkProcessorUtils.java:315)', 'com.facebook.presto.operator.WorkProcessorUtils$YieldingIterator.computeNext(WorkProcessorUtils.java:79)', 'com.facebook.presto.operator.WorkProcessorUtils$YieldingIterator.computeNext(WorkProcessorUtils.java:65)', 'com.google.common.collect.AbstractIterator.tryToComputeNext(AbstractIterator.java:141)', 'com.google.common.collect.AbstractIterator.hasNext(AbstractIterator.java:136)', 'com.facebook.presto.operator.project.MergingPageOutput.getOutput(MergingPageOutput.java:113)', 'com.facebook.presto.operator.FilterAndProjectOperator.getOutput(FilterAndProjectOperator.java:102)', 'com.facebook.presto.operator.Driver.processInternal(Driver.java:418)', 'com.facebook.presto.operator.Driver.lambda$processFor$9(Driver.java:301)', 'com.facebook.presto.operator.Driver.tryWithLock(Driver.java:722)', 'com.facebook.presto.operator.Driver.processFor(Driver.java:294)', 'com.facebook.presto.execution.SqlTaskExecution$DriverSplitRunner.processFor(SqlTaskExecution.java:1077)', 'com.facebook.presto.execution.executor.PrioritizedSplitRunner.process(PrioritizedSplitRunner.java:162)', 'com.facebook.presto.execution.executor.TaskExecutor$TaskRunner.run(TaskExecutor.java:599)', 'com.facebook.presto.$gen.Presto_0_263_b9fdfd4____20211010_164639_1.run(Unknown Source)', 'java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)', 'java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)', 'java.base/java.lang.Thread.run(Thread.java:829)']}}
[SQL: SELECT (CAST("amc" AS DECIMAL(15,4)) / CAST("pmc" AS DECIMAL(15,4))) "am_pm_ratio"
FROM
  (
   SELECT "count"(*) "amc"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.web_page
   WHERE ("ws_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ws_ship_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ws_web_page_sk" = "web_page"."wp_web_page_sk")
      AND ("time_dim"."t_hour" BETWEEN 8 AND (8 + 1))
      AND ("household_demographics"."hd_dep_count" = 6)
      AND ("web_page"."wp_char_count" BETWEEN 5000 AND 5200)
)  "at"
, (
   SELECT "count"(*) "pmc"
   FROM
     tpcds.tiny.web_sales
   , tpcds.tiny.household_demographics
   , tpcds.tiny.time_dim
   , tpcds.tiny.web_page
   WHERE ("ws_sold_time_sk" = "time_dim"."t_time_sk")
      AND ("ws_ship_hdemo_sk" = "household_demographics"."hd_demo_sk")
      AND ("ws_web_page_sk" = "web_page"."wp_web_page_sk")
      AND ("time_dim"."t_hour" BETWEEN 19 AND (19 + 1))
      AND ("household_demographics"."hd_dep_count" = 6)
      AND ("web_page"."wp_char_count" BETWEEN 5000 AND 5200)
)  pt
ORDER BY "am_pm_ratio" ASC
LIMIT 100
]
(Background on this error at: https://sqlalche.me/e/14/4xp6)



SQL name: ./benchmark/tpcds/q91.sql...
========================================
SELECT
  "cc_call_center_id" "Call_Center"
, "cc_name" "Call_Center_Name"
, "cc_manager" "Manager"
, "sum"("cr_net_loss") "Returns_Loss"
FROM
  tpcds.tiny.call_center
, tpcds.tiny.catalog_returns
, tpcds.tiny.date_dim
, tpcds.tiny.customer
, tpcds.tiny.customer_address
, tpcds.tiny.customer_demographics
, tpcds.tiny.household_demographics
WHERE ("cr_call_center_sk" = "cc_call_center_sk")
   AND ("cr_returned_date_sk" = "d_date_sk")
   AND ("cr_returning_customer_sk" = "c_customer_sk")
   AND ("cd_demo_sk" = "c_current_cdemo_sk")
   AND ("hd_demo_sk" = "c_current_hdemo_sk")
   AND ("ca_address_sk" = "c_current_addr_sk")
   AND ("d_year" = 1998)
   AND ("d_moy" = 11)
   AND ((("cd_marital_status" = 'M')
         AND ("cd_education_status" = 'Unknown'))
      OR (("cd_marital_status" = 'W')
         AND ("cd_education_status" = 'Advanced Degree')))
   AND ("hd_buy_potential" LIKE 'Unknown')
   AND ("ca_gmt_offset" = -7)
GROUP BY "cc_call_center_id", "cc_name", "cc_manager", "cd_marital_status", "cd_education_status"
ORDER BY "sum"("cr_net_loss") DESC

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q92.sql...
========================================
SELECT "sum"("ws_ext_discount_amt") "Excess Discount Amount"
FROM
  tpcds.tiny.web_sales
, tpcds.tiny.item
, tpcds.tiny.date_dim
WHERE ("i_manufact_id" = 350)
   AND ("i_item_sk" = "ws_item_sk")
   AND ("d_date" BETWEEN CAST('2000-01-27' AS DATE) AND (CAST('2000-01-27' AS DATE) + INTERVAL  '90' DAY))
   AND ("d_date_sk" = "ws_sold_date_sk")
   AND ("ws_ext_discount_amt" > (
      SELECT (DECIMAL '1.3' * "avg"("ws_ext_discount_amt"))
      FROM
        tpcds.tiny.web_sales
      , tpcds.tiny.date_dim
      WHERE ("ws_item_sk" = "i_item_sk")
         AND ("d_date" BETWEEN CAST('2000-01-27' AS DATE) AND (CAST('2000-01-27' AS DATE) + INTERVAL  '90' DAY))
         AND ("d_date_sk" = "ws_sold_date_sk")
   ))
ORDER BY "sum"("ws_ext_discount_amt") ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[(None,)]


SQL name: ./benchmark/tpcds/q93.sql...
========================================
SELECT
  "ss_customer_sk"
, "sum"("act_sales") "sumsales"
FROM
  (
   SELECT
     "ss_item_sk"
   , "ss_ticket_number"
   , "ss_customer_sk"
   , (CASE WHEN ("sr_return_quantity" IS NOT NULL) THEN (("ss_quantity" - "sr_return_quantity") * "ss_sales_price") ELSE ("ss_quantity" * "ss_sales_price") END) "act_sales"
   FROM
     (tpcds.tiny.store_sales
   LEFT JOIN tpcds.tiny.store_returns ON ("sr_item_sk" = "ss_item_sk")
      AND ("sr_ticket_number" = "ss_ticket_number"))
   , tpcds.tiny.reason
   WHERE ("sr_reason_sk" = "r_reason_sk")
      AND ("r_reason_desc" = 'reason 28')
)  t
GROUP BY "ss_customer_sk"
ORDER BY "sumsales" ASC, "ss_customer_sk" ASC
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[]


SQL name: ./benchmark/tpcds/q94.sql...
========================================
SELECT
  "count"(DISTINCT "ws_order_number") "order count"
, "sum"("ws_ext_ship_cost") "total shipping cost"
, "sum"("ws_net_profit") "total net profit"
FROM
  tpcds.tiny.web_sales ws1
, tpcds.tiny.date_dim
, tpcds.tiny.customer_address
, tpcds.tiny.web_site
WHERE ("d_date" BETWEEN CAST('1999-2-01' AS DATE) AND (CAST('1999-2-01' AS DATE) + INTERVAL  '60' DAY))
   AND ("ws1"."ws_ship_date_sk" = "d_date_sk")
   AND ("ws1"."ws_ship_addr_sk" = "ca_address_sk")
   AND ("ca_state" = 'IL')
   AND ("ws1"."ws_web_site_sk" = "web_site_sk")
   AND ("web_company_name" = 'pri')
   AND (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.web_sales ws2
   WHERE ("ws1"."ws_order_number" = "ws2"."ws_order_number")
      AND ("ws1"."ws_warehouse_sk" <> "ws2"."ws_warehouse_sk")
))
   AND (NOT (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.web_returns wr1
   WHERE ("ws1"."ws_order_number" = "wr1"."wr_order_number")
)))
ORDER BY "count"(DISTINCT "ws_order_number") ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[(0, None, None)]


SQL name: ./benchmark/tpcds/q95.sql...
========================================
WITH
  ws_wh AS (
   SELECT
     "ws1"."ws_order_number"
   , "ws1"."ws_warehouse_sk" "wh1"
   , "ws2"."ws_warehouse_sk" "wh2"
   FROM
     tpcds.tiny.web_sales ws1
   , tpcds.tiny.web_sales ws2
   WHERE ("ws1"."ws_order_number" = "ws2"."ws_order_number")
      AND ("ws1"."ws_warehouse_sk" <> "ws2"."ws_warehouse_sk")
)
SELECT
  "count"(DISTINCT "ws_order_number") "order count"
, "sum"("ws_ext_ship_cost") "total shipping cost"
, "sum"("ws_net_profit") "total net profit"
FROM
  tpcds.tiny.web_sales ws1
, tpcds.tiny.date_dim
, tpcds.tiny.customer_address
, tpcds.tiny.web_site
WHERE (CAST("d_date" AS DATE) BETWEEN CAST('1999-2-01' AS DATE) AND (CAST('1999-2-01' AS DATE) + INTERVAL  '60' DAY))
   AND ("ws1"."ws_ship_date_sk" = "d_date_sk")
   AND ("ws1"."ws_ship_addr_sk" = "ca_address_sk")
   AND ("ca_state" = 'IL')
   AND ("ws1"."ws_web_site_sk" = "web_site_sk")
   AND ("web_company_name" = 'pri')
   AND ("ws1"."ws_order_number" IN (
   SELECT "ws_order_number"
   FROM
     ws_wh
))
   AND ("ws1"."ws_order_number" IN (
   SELECT "wr_order_number"
   FROM
     tpcds.tiny.web_returns
   , ws_wh
   WHERE ("wr_order_number" = "ws_wh"."ws_order_number")
))
ORDER BY "count"(DISTINCT "ws_order_number") ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[(0, None, None)]


SQL name: ./benchmark/tpcds/q96.sql...
========================================
SELECT "count"(*)
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.household_demographics
, tpcds.tiny.time_dim
, tpcds.tiny.store
WHERE ("ss_sold_time_sk" = "time_dim"."t_time_sk")
   AND ("ss_hdemo_sk" = "household_demographics"."hd_demo_sk")
   AND ("ss_store_sk" = "s_store_sk")
   AND ("time_dim"."t_hour" = 20)
   AND ("time_dim"."t_minute" >= 30)
   AND ("household_demographics"."hd_dep_count" = 7)
   AND ("store"."s_store_name" = 'ese')
ORDER BY "count"(*) ASC
LIMIT 100



Results: completed in 1 sec
+++++++++++++++++++++++++++++++++
[(0,)]


SQL name: ./benchmark/tpcds/q97.sql...
========================================
WITH
  ssci AS (
   SELECT
     "ss_customer_sk" "customer_sk"
   , "ss_item_sk" "item_sk"
   FROM
     tpcds.tiny.store_sales
   , tpcds.tiny.date_dim
   WHERE ("ss_sold_date_sk" = "d_date_sk")
      AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
   GROUP BY "ss_customer_sk", "ss_item_sk"
)
, csci AS (
   SELECT
     "cs_bill_customer_sk" "customer_sk"
   , "cs_item_sk" "item_sk"
   FROM
     tpcds.tiny.catalog_sales
   , tpcds.tiny.date_dim
   WHERE ("cs_sold_date_sk" = "d_date_sk")
      AND ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
   GROUP BY "cs_bill_customer_sk", "cs_item_sk"
)
SELECT
  "sum"((CASE WHEN ("ssci"."customer_sk" IS NOT NULL)
   AND ("csci"."customer_sk" IS NULL) THEN 1 ELSE 0 END)) "store_only"
, "sum"((CASE WHEN ("ssci"."customer_sk" IS NULL)
   AND ("csci"."customer_sk" IS NOT NULL) THEN 1 ELSE 0 END)) "catalog_only"
, "sum"((CASE WHEN ("ssci"."customer_sk" IS NOT NULL)
   AND ("csci"."customer_sk" IS NOT NULL) THEN 1 ELSE 0 END)) "store_and_catalog"
FROM
  (ssci
FULL JOIN csci ON ("ssci"."customer_sk" = "csci"."customer_sk")
   AND ("ssci"."item_sk" = "csci"."item_sk"))
LIMIT 100



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[(22255, 16944, 391)]


SQL name: ./benchmark/tpcds/q98.sql...
========================================
SELECT
  "i_item_id"
, "i_item_desc"
, "i_category"
, "i_class"
, "i_current_price"
, "sum"("ss_ext_sales_price") "tpcds.tiny.itemrevenue"
, (("sum"("ss_ext_sales_price") * 100) / "sum"("sum"("ss_ext_sales_price")) OVER (PARTITION BY "i_class")) "revenueratio"
FROM
  tpcds.tiny.store_sales
, tpcds.tiny.item
, tpcds.tiny.date_dim
WHERE ("ss_item_sk" = "i_item_sk")
   AND ("i_category" IN ('Sports', 'Books', 'Home'))
   AND ("ss_sold_date_sk" = "d_date_sk")
   AND (CAST("d_date" AS DATE) BETWEEN CAST('1999-02-22' AS DATE) AND (CAST('1999-02-22' AS DATE) + INTERVAL  '30' DAY))
GROUP BY "i_item_id", "i_item_desc", "i_category", "i_class", "i_current_price"
ORDER BY "i_category" ASC, "i_class" ASC, "i_item_id" ASC, "i_item_desc" ASC, "revenueratio" ASC



Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('AAAAAAAACKEAAAAA', 'Legs appear eventually soci', 'Books                                             ', 'arts                                              ', '35.27', '3072.84', '19.03'), ('AAAAAAAAIJGAAAAA', 'Then western animals could teach somewhere. Today waiting servants confuse', 'Books                                             ', 'arts                                              ', '4.10', '6979.62', '43.22'), ('AAAAAAAAMFFAAAAA', 'Communities used to relocate clearly strange, new walls; european, rich championships make current depths. Sure studies may reflect only instinctively old forces. Foreign, diverse', 'Books                                             ', 'arts                                              ', '8.22', '496.91', '3.08'), ('AAAAAAAANIBAAAAA', 'Beneath decent wives write t', 'Books                                             ', 'arts                                              ', '2.72', '5600.40', '34.68'), ('AAAAAAAAADFAAAAA', 'Satisfactory, technical shadows get. Lexical structures would not blame. Only hard ', 'Books                                             ', 'business                                          ', '78.25', '1292.16', '44.62')]


SQL name: ./benchmark/tpcds/q99.sql...
========================================
SELECT
  "substr"("w_warehouse_name", 1, 20)
, "sm_type"
, "cc_name"
, "sum"((CASE WHEN (("cs_ship_date_sk" - "cs_sold_date_sk") <= 30) THEN 1 ELSE 0 END)) "30 days"
, "sum"((CASE WHEN (("cs_ship_date_sk" - "cs_sold_date_sk") > 30)
   AND (("cs_ship_date_sk" - "cs_sold_date_sk") <= 60) THEN 1 ELSE 0 END)) "31-60 days"
, "sum"((CASE WHEN (("cs_ship_date_sk" - "cs_sold_date_sk") > 60)
   AND (("cs_ship_date_sk" - "cs_sold_date_sk") <= 90) THEN 1 ELSE 0 END)) "61-90 days"
, "sum"((CASE WHEN (("cs_ship_date_sk" - "cs_sold_date_sk") > 90)
   AND (("cs_ship_date_sk" - "cs_sold_date_sk") <= 120) THEN 1 ELSE 0 END)) "91-120 days"
, "sum"((CASE WHEN (("cs_ship_date_sk" - "cs_sold_date_sk") > 120) THEN 1 ELSE 0 END)) ">120 days"
FROM
  tpcds.tiny.catalog_sales
, tpcds.tiny.warehouse
, tpcds.tiny.ship_mode
, tpcds.tiny.call_center
, tpcds.tiny.date_dim
WHERE ("d_month_seq" BETWEEN 1200 AND (1200 + 11))
   AND ("cs_ship_date_sk" = "d_date_sk")
   AND ("cs_warehouse_sk" = "w_warehouse_sk")
   AND ("cs_ship_mode_sk" = "sm_ship_mode_sk")
   AND ("cs_call_center_sk" = "cc_call_center_sk")
GROUP BY "substr"("w_warehouse_name", 1, 20), "sm_type", "cc_name"
ORDER BY "substr"("w_warehouse_name", 1, 20) ASC, "sm_type" ASC, "cc_name" ASC
LIMIT 100

Results: completed in 2 sec
+++++++++++++++++++++++++++++++++
[('Conventional childr', 'EXPRESS                       ', 'Mid Atlantic', 520, 567, 562, 0, 0), ('Conventional childr', 'EXPRESS                       ', 'NY Metro', 590, 679, 571, 0, 0), ('Conventional childr', 'LIBRARY                       ', 'Mid Atlantic', 378, 420, 457, 0, 0), ('Conventional childr', 'LIBRARY                       ', 'NY Metro', 426, 474, 442, 0, 0), ('Conventional childr', 'NEXT DAY                      ', 'Mid Atlantic', 544, 570, 581, 0, 0)]