In [28]:
import glob
from pathlib import Path

In [29]:
database, schema = "tpcds", "tiny"

p = Path(f"{schema}")
p.mkdir(parents=True,exist_ok=True)

In [30]:
for f in glob.glob("*.sql"):
    (p/f).open("w").write(open(f).read().replace("$","")\
        .format(database=database, schema=schema))

In [4]:
files_sql[:2]

['q94.sql', 'q60.sql']

In [25]:
x = open(files_sql[0]).read()
x.replace("$","").format(database=database, schema=schema)

In [26]:
x

'SELECT\n  "count"(DISTINCT "ws_order_number") "order count"\n, "sum"("ws_ext_ship_cost") "total shipping cost"\n, "sum"("ws_net_profit") "total net profit"\nFROM\n  ${database}.${schema}.web_sales ws1\n, ${database}.${schema}.date_dim\n, ${database}.${schema}.customer_address\n, ${database}.${schema}.web_site\nWHERE ("d_date" BETWEEN CAST(\'1999-2-01\' AS DATE) AND (CAST(\'1999-2-01\' AS DATE) + INTERVAL  \'60\' DAY))\n   AND ("ws1"."ws_ship_date_sk" = "d_date_sk")\n   AND ("ws1"."ws_ship_addr_sk" = "ca_address_sk")\n   AND ("ca_state" = \'IL\')\n   AND ("ws1"."ws_web_site_sk" = "web_site_sk")\n   AND ("web_company_name" = \'pri\')\n   AND (EXISTS (\n   SELECT *\n   FROM\n     ${database}.${schema}.web_sales ws2\n   WHERE ("ws1"."ws_order_number" = "ws2"."ws_order_number")\n      AND ("ws1"."ws_warehouse_sk" <> "ws2"."ws_warehouse_sk")\n))\n   AND (NOT (EXISTS (\n   SELECT *\n   FROM\n     ${database}.${schema}.web_returns wr1\n   WHERE ("ws1"."ws_order_number" = "wr1"."wr_order_number")\n)))\nORDER BY "count"(DISTINCT "ws_order_number") ASC\nLIMIT 100\n'

In [7]:
sql_tiny = sql.replace("$","").format(database=database, schema=schema)

In [8]:
print(sql_tiny)

SELECT
  "count"(DISTINCT "ws_order_number") "order count"
, "sum"("ws_ext_ship_cost") "total shipping cost"
, "sum"("ws_net_profit") "total net profit"
FROM
  tpcds.tiny.web_sales ws1
, tpcds.tiny.date_dim
, tpcds.tiny.customer_address
, tpcds.tiny.web_site
WHERE ("d_date" BETWEEN CAST('1999-2-01' AS DATE) AND (CAST('1999-2-01' AS DATE) + INTERVAL  '60' DAY))
   AND ("ws1"."ws_ship_date_sk" = "d_date_sk")
   AND ("ws1"."ws_ship_addr_sk" = "ca_address_sk")
   AND ("ca_state" = 'IL')
   AND ("ws1"."ws_web_site_sk" = "web_site_sk")
   AND ("web_company_name" = 'pri')
   AND (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.web_sales ws2
   WHERE ("ws1"."ws_order_number" = "ws2"."ws_order_number")
      AND ("ws1"."ws_warehouse_sk" <> "ws2"."ws_warehouse_sk")
))
   AND (NOT (EXISTS (
   SELECT *
   FROM
     tpcds.tiny.web_returns wr1
   WHERE ("ws1"."ws_order_number" = "wr1"."wr_order_number")
)))
ORDER BY "count"(DISTINCT "ws_order_number") ASC
LIMIT 100

In [23]:
f_out

'tpcds/tiny/q94.sql'

In [24]:
(p/files_sql[0]).open("w").write(sql_tiny)

964