## Jupyter Magics with SQL

https://towardsdatascience.com/jupyter-magics-with-sql-921370099589

[SQL Kernel](https://nbviewer.jupyter.org/github/twosigma/beakerx/blob/master/doc/sql/Sql.ipynb)

In [5]:
%defaultDatasource jdbc:h2:mem:db

In [8]:
SELECT
    m3,y30,y1,m6,y2,y10,y3,time,y5,y7,spread
FROM CSVREAD('interest-rates-small.csv')

In [11]:
DROP TABLE IF EXISTS int_rates;
CREATE TABLE int_rates(
    m3 float,
    y30  float,
    y1  float,
    m6  float,
    y2  float,
    y10  float,
    y3  float,
    time  varchar2(40),
    y5  float,
    y7  float,
    spread float
) AS SELECT
    m3,y30,y1,m6,y2,y10,y3,time,y5,y7,spread
FROM CSVREAD('interest-rates-small.csv')

In [16]:
select * from int_rates where m3 < 1;

In [18]:
SELECT * INTO ${int_rates_data} FROM int_rates WHERE m3 < 1;

In [19]:
%%groovy
beakerx.int_rates_data.values[0]   # first-row

[0.9447, NaN, 1.2437, 1.0111, 1.74, 4.0842, 2.2468, 2004-02-28 19:00:00.000 -0500, 3.0679, 3.5853, 3.1395]

In [20]:
%%python
from beakerx.object import beakerx
beakerx.int_rates_data.loc[0]

M3                               0.9447
Y30                                 NaN
Y1                               1.2437
M6                               1.0111
Y2                                 1.74
Y10                              4.0842
Y3                               2.2468
TIME      2004-02-28 19:00:00.000 -0500
Y5                               3.0679
Y7                               3.5853
SPREAD                           3.1395
Name: 0, dtype: object

### Pandas

In [28]:
%%python
import pandas as pd

from sqlalchemy.engine import create_engine

# SQLite
engine = create_engine('sqlite:///flights.db') 

#Read into a DataFrame
df = pd.read_sql('select * from airlines', engine)
df.head(10)

In [29]:
%%python 
df