In [1]:
from finplot_watchlist import *

In [2]:
symbols = ["GDX"]

In [3]:
db_kwargs

{'database': 'gwgdb',
 'host': '127.0.0.1',
 'port': '5432',
 'user': 'gwguser001',
 'password': 'gwgSecret101'}

In [4]:
connection = psycopg2.connect(**db_kwargs)

In [5]:
cursor = connection.cursor()

In [6]:
symbols_str = gwg.quote_tickers(symbols)

In [7]:
symbols_str

"('GDX')"

In [8]:
select_sql = f"""select 
    symbol --,sector,industry,website,num_emp,profile 
    from ticker
    where symbol in {symbols_str}
    --order by sector,industry
    ;
"""
cursor.execute(select_sql)
query_results = cursor.fetchall()
symbols_db = [i[0] for i in query_results]

In [9]:
symbols_db

['GDX']

In [10]:
symbols_new = list(set(symbols).difference(set(symbols_db)))

In [11]:
symbols_new

[]

In [12]:
select_sql2 = f"""select 
    symbol,sector,industry,website,num_emp,profile 
    from ticker
    where symbol in {symbols_str}
    order by sector,industry,symbol
    ;
"""
cursor.execute(select_sql2)
query_results = cursor.fetchall()

In [13]:
query_results

[('GDX',
  None,
  None,
  None,
  None,
  'The investment seeks to replicate as closely as possible, before fees and expenses, the price and yield performance of the NYSEÂ® Arca Gold Miners IndexÂ®.\n The fund normally invests at least 80% of its total assets in common stocks and depositary receipts of companies involved in the gold mining industry. The index is a modified market-capitalization weighted index primarily comprised of publicly traded companies involved in the mining for gold and silver. The fund is non-diversified.')]

In [14]:
fa_dict = {}
fa_results = get_sector_profiles(symbols, connection)
for row in fa_results:
    fa_dict[row[0]] = row

symbols_new = []

In [15]:
fa_dict

{'GDX': ('GDX',
  None,
  None,
  None,
  None,
  'The investment seeks to replicate as closely as possible, before fees and expenses, the price and yield performance of the NYSEÂ® Arca Gold Miners IndexÂ®.\n The fund normally invests at least 80% of its total assets in common stocks and depositary receipts of companies involved in the gold mining industry. The index is a modified market-capitalization weighted index primarily comprised of publicly traded companies involved in the mining for gold and silver. The fund is non-diversified.')}

In [16]:
symbol = "GDX"

In [17]:
fa_info = fa_dict.get(symbol, [symbol,"N/A","N/A","N/A",0,"N/A"])

In [18]:
fa_info

('GDX',
 None,
 None,
 None,
 None,
 'The investment seeks to replicate as closely as possible, before fees and expenses, the price and yield performance of the NYSEÂ® Arca Gold Miners IndexÂ®.\n The fund normally invests at least 80% of its total assets in common stocks and depositary receipts of companies involved in the gold mining industry. The index is a modified market-capitalization weighted index primarily comprised of publicly traded companies involved in the mining for gold and silver. The fund is non-diversified.')

In [19]:
NUM_OF_DAYS

365

end_t = int(time()) 
start_t = end_t - NUM_OF_MONTHS*30*24*60*60 # twelve months
interval = '1d'

url = 'https://query1.finance.yahoo.com/v7/finance/download/%s?period1=%s&period2=%s&interval=%s&events=history' % (symbol, start_t, end_t, interval)

# https://github.com/ranaroussi/yfinance/blob/main/CHANGELOG.rst
# 0.1.61
url = 'https://query2.finance.yahoo.com/v8/finance/download/%s?period1=%s&period2=%s&interval=%s&events=history' % (symbol, start_t, end_t, interval)



r = requests.get(url)

df = pd.read_csv(StringIO(r.text))

In [20]:
yticker = yf.Ticker(symbol)
df = yticker.history(f"{NUM_OF_DAYS}d")

In [21]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-06-05,31.873584,32.291401,31.057842,32.291401,50291100,0.0,0
2020-06-08,32.400829,32.639584,31.923323,32.609737,21180400,0.0,0
2020-06-09,32.878336,33.296157,32.490363,32.888287,21745400,0.0,0
2020-06-10,33.316052,34.350647,32.271502,34.350647,46916400,0.0,0
2020-06-11,34.241219,34.738622,32.221764,32.659481,50214100,0.0,0
...,...,...,...,...,...,...,...
2021-11-08,33.090000,33.139999,32.660000,32.900002,16769000,0.0,0
2021-11-09,33.029999,33.320000,32.570000,33.320000,15970100,0.0,0
2021-11-10,34.139999,34.500000,33.689999,33.910000,41093000,0.0,0
2021-11-11,34.720001,34.830002,34.310001,34.700001,25332800,0.0,0
2021-11-12,34.450001,35.009998,34.220001,34.770000,16470900,0.0,0

In [23]:
df.reset_index(inplace=True)

In [24]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020-06-05,31.873584,32.291401,31.057842,32.291401,50291100,0.0,0
1,2020-06-08,32.400829,32.639584,31.923323,32.609737,21180400,0.0,0
2,2020-06-09,32.878336,33.296157,32.490363,32.888287,21745400,0.0,0
3,2020-06-10,33.316052,34.350647,32.271502,34.350647,46916400,0.0,0
4,2020-06-11,34.241219,34.738622,32.221764,32.659481,50214100,0.0,0
...,...,...,...,...,...,...,...,...
360,2021-11-08,33.090000,33.139999,32.660000,32.900002,16769000,0.0,0
361,2021-11-09,33.029999,33.320000,32.570000,33.320000,15970100,0.0,0
362,2021-11-10,34.139999,34.500000,33.689999,33.910000,41093000,0.0,0
363,2021-11-11,34.720001,34.830002,34.310001,34.700001,25332800,0.0,0
364,2021-11-12,34.450001,35.009998,34.220001,34.770000,16470900,0.0,0