Practice with pySpark.sql.functions

In [6]:
from IPython.display import display, clear_output

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *

spark = SparkSession.builder.appName("gist").getOrCreate()

In [5]:
spark.createDataFrame([(2.511,)], ['a']).select(F.round('a', 2).alias('r')).show()

+----+
|   r|
+----+
|2.51|
+----+

In [9]:
df = spark.range(10).toDF("id")

In [13]:
df.show(3)

+---+
| id|
+---+
|  0|
|  1|
|  2|
+---+
only showing top 3 rows

In [12]:
display(df.toPandas())

   id
0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9

In [16]:
df = spark.createDataFrame([("Spark for Big Data Analytics",), ("Graph for Complex Analytics",)], ['sentence'])
df.show(truncate=False)

+----------------------------+
|sentence                    |
+----------------------------+
|Spark for Big Data Analytics|
|Graph for Complex Analytics |
+----------------------------+

In [21]:
(
df
.withColumn("has_spark", F.array_contains(F.split(F.lower(F.col("sentence")), " "), "spark"))
.select("*")
.show(truncate=False)
)

+----------------------------+---------+
|sentence                    |has_spark|
+----------------------------+---------+
|Spark for Big Data Analytics|true     |
|Graph for Complex Analytics |false    |
+----------------------------+---------+