In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *

spark = SparkSession\
    .builder\
    .appName("chapter-31-pandas")\
    .getOrCreate()

import os
SPARK_BOOK_DATA_PATH = os.environ['SPARK_BOOK_DATA_PATH']

In [2]:
import pandas as pd
df = pd.DataFrame({"first":range(200), "second":range(50,250)})
df.head()

   first  second
0      0      50
1      1      51
2      2      52
3      3      53
4      4      54

In [3]:
# COMMAND ----------

sparkDF = spark.createDataFrame(df)
sparkDF.show(5)

+-----+------+
|first|second|
+-----+------+
|    0|    50|
|    1|    51|
|    2|    52|
|    3|    53|
|    4|    54|
+-----+------+
only showing top 5 rows

In [4]:
# COMMAND ----------

newPDF = sparkDF.toPandas()
newPDF.head()


# COMMAND ----------

   first  second
0      0      50
1      1      51
2      2      52
3      3      53
4      4      54